@using Feature.Wealth.Account.Services;
@using Feature.Wealth.Account.Models.OAuth;
@using Sitecore.Configuration;
@using Xcms.Sitecore.Foundation.Basic.SitecoreExtensions;
@using Project.Wealth.Platform
@{
    string fbAuthUrl = OAuthFactory.GetAuthUrl(PlatFormEunm.FaceBook);
    string lineAuthUrl = OAuthFactory.GetAuthUrl(PlatFormEunm.Line);
    var CurrencyWebSite = Settings.GetSetting("CurrencyWebSite");
    var loginItem = ItemUtils.GetItem(Templates.Login.Root);
    var SubcriptionSingleLink = WebUtility.UrlDecode(Settings.GetSetting("WebSubscriptionSingle"));
    var SubcriptionRegularLink = WebUtility.UrlDecode(Settings.GetSetting("WebSubscriptionRegular"));
    var MobileESingleLink = WebUtility.UrlDecode(Settings.GetSetting("MobileESingle"));
    var MobileERegularLink = WebUtility.UrlDecode(Settings.GetSetting("MobileERegular"));
    var MobileIleoSingleLink = WebUtility.UrlDecode(Settings.GetSetting("MobileIleoSingle"));
    var MobileIleoRegularLink = WebUtility.UrlDecode(Settings.GetSetting("MobileIleoRegular"));
    var WebEntrustLink = WebUtility.UrlDecode(Settings.GetSetting("WebEntrust"));
    var MobileEntrustLink = WebUtility.UrlDecode(Settings.GetSetting("MobileEntrust"));
    var IleoEntrustLink = WebUtility.UrlDecode(Settings.GetSetting("IleoEntrust"));
    var WebBondLink = WebUtility.UrlDecode(Settings.GetSetting("WebBond"));
    var MobileBondLink = WebUtility.UrlDecode(Settings.GetSetting("MobileBond"));
    var IleoBondLink = WebUtility.UrlDecode(Settings.GetSetting("IleoBond"));
}
<div id="popupLogin" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <div class="c-loginModal">
            <div class="c-loginModal__item">
                <div class="c-loginBox" data-login-box>
                    <div class="c-loginBox__main">
                        <header class="c-loginBox__title">網銀登入</header>
                        <p class="c-loginBox__greeting">使用完整服務，請使用網銀帳號登入</p>
                        <div class="c-loginBox__actions u-hidden@lt">
                            <a href="javascript:;" class="o-btn o-btn--primary o-btn--sm o-btn--flat" data-eh="fcblogin-click">網銀登入</a>
                        </div>
                        <div class="c-loginBox__actions u-hidden@dt-only">
                            <a href="#" class="o-btn o-btn--primary o-btn--sm o-btn--flat" data-eh="fcbapplogin-init,fcbapplogin-click" eh-login-type="firste">第ｅ行動</a>
                        </div>
                        <div class="c-loginBox__actions u-hidden@dt-only">
                            <a href="#" class="o-btn o-btn--primary o-btn--sm o-btn--flat" data-eh="fcbapplogin-init,fcbapplogin-click" eh-login-type="ileo">iLEO APP</a>
                        </div>
                    </div>
                    <div class="c-loginBox__social">
                        <div class="c-socialBox">
                            <div class="c-socialBox__title">社群登入</div>
                            <ul class="c-socialBox__list">
                                <li class="c-socialBox__item">
                                    <a href="@fbAuthUrl" class="o-social o-social--fb"></a>
                                </li>
                                <li class="c-socialBox__item">
                                    <a href="@lineAuthUrl" class="o-social o-social--line"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-loginModal__item">
                <figure class="c-registerBox">
                    <div class="c-registerBox__wrap">
                        @Html.Sitecore().Field(Templates.Login.Fields.Image.ToString(), loginItem, new { @class = "c-feature__img" })
                        <figcaption class="c-registerBox__content">
                            @Html.Sitecore().Field(Templates.Login.Fields.Content.ToString(), loginItem)
                        </figcaption>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div id="popupPurchase" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">立即申購</h2>
        </header>
        <div class="c-modal__content">
            <div class="u-hidden@dt-only">
                <div class="l-flex u-flex-col u-flex-gap-xs">
                    <div class="l-flex__item">
                        <span class="t-bold">選擇申購平台：</span>
                    </div>
                    <div class="l-flex__item">
                        <div class="l-pickGroup">
                            <div class="l-pickGroup__item">
                                <label class="o-btnRadio">
                                    <input class="o-btnRadio__input" type="radio" name="platform" data-name="firste" checked>
                                    <div class="o-btnRadio__text">
                                        <span>第e行動</span>
                                    </div>
                                </label>
                            </div>
                            <div class="l-pickGroup__item">
                                <label class="o-btnRadio">
                                    <input class="o-btnRadio__input" type="radio" name="platform" data-name="ileo">
                                    <div class="o-btnRadio__text">
                                        <span>iLEO APP</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" id="subscriptionSingle" target="_blank" data-type="Single">單筆申購</a>
                </div>
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" id="subscriptionRegular" target="_blank" data-type="Regular">定期定額</a>
                </div>
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" id="subscriptionGo" target="_blank">前往</a>
                </div>
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" id="subscriptionBond" target="_blank">前往</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupCurrency" class="c-modal c-modal--xs mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">幣別提示說明</h2>
        </header>
        <div class="c-modal__content">
            <p>點擊幣別可查詢相關匯率</p>
        </div>
    </div>
</div>
<div id="popupCurrencyWebSite" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">外匯匯率</h2>
        </header>
        <div class="c-modal__content">
            <iframe loading="lazy" src="@CurrencyWebSite" style="width:100%; height:660px;">
            </iframe>
        </div>
    </div>
</div>
<div id="popupCompareMax" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">加入失敗</h2>
        </header>
        <div class="c-modal__content">
            <div class="c-modalResult">
                <div class="c-modalResult__icon">
                    <img src="~/themes/images/icons/orange/x-solid.svg" class="c-modalResult__img" alt="">
                </div>
                <div class="c-modalResult__title">基金或ETF商品比較已達上限</div>
                <p class="c-modalResult__msg">您一次最多可比較7個基金或ETF商品</p>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-popup-close="true">確定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupRemind" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">理財諮詢提醒</h2>
        </header>
        <div class="c-modal__content">
            提醒您，您今日 12:00、15:30 有預約理專遠距諮詢，請準時參與！
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-popup-close="true" data-check-consult>查看預約</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupCancelFocus" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">取消關注</h2>
        </header>
        <div class="c-modal__content">
            您正在關注此檔基金，確定要取消關注嗎？
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--secondary o-btn--sm" data-popup-close="true">取消</a>
                </div>
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-popup-close="true" data-set-cancel-focus>確定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupToolsMax" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">加入失敗</h2>
        </header>
        <div class="c-modal__content">
            <div class="c-modalResult">
                <div class="c-modalResult__icon">
                    <img src="~/themes/images/icons/orange/x-solid.svg" class="c-modalResult__img" alt="">
                </div>
                <div class="c-modalResult__title">加入常用已達上限</div>
                <p class="c-modalResult__msg">您一次最多可添加7個加入常用</p>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-popup-close="true">確定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupAlert" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">設定到價通知</h2>
        </header>
        <div class="c-modal__content">
            <div class="l-flex u-flex-col u-flex-gap-sm">
                <div class="l-flex__item">
                    <div class="c-box c-box--product c-box--og u-noShadow">
                        <a href="#" target="_blank" data-title data-id class="o-contentLink t-bold u-ellipsis-2 t3"></a>
                        <hr>
                        <div class="l-flex">
                            <div class="l-flex__item" data-set-title>
                                最新淨值
                            </div>
                            <div class="l-flex__item l-flex__item--auto">
                                <span class="t3" data-pricevalue></span>
                                <span class="t-date" data-pricevaluedate></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item">
                    <div class="c-tab c-tab--equally" data-tab="true" data-docking="false" data-scroll="false">
                        <div class="c-tab__header">
                            <ul class="c-tab__navs">
                                <li>
                                    <a href="#" class="c-tab__item is-active" target="_self" title="目標價格" data-tab-target="tab-popup-1" data-infovalue-tab>目標價格</a>
                                </li>
                                <li>
                                    <a href="#" class="c-tab__item" target="_self" title="漲跌幅" data-tab-target="tab-popup-2" data-infovalue-tab>漲跌幅</a>
                                </li>
                            </ul>
                        </div>
                        <!-- is-active: 作用中的項目 -->
                        <div class="c-tab__panel c-tab__panel--closer is-active" data-tab-panel-id="tab-popup-1">
                            <div class="l-flex u-flex-col u-flex-gap-lg">
                                <div class="l-flex__item">
                                    <div class="l-flex">
                                        <div class="l-flex__item">
                                            <span class="t3 t-bold">設定目標價格</span>
                                        </div>
                                        <div class="l-flex__item l-flex__item--auto">
                                            <div class="o-switch o-switch--reverse u-flex-gap-min">
                                                <input class="o-switch__input" type="checkbox" name="price" id="price" checked>
                                                <label class="o-switch__label" for="price"></label>
                                                <div class="o-switch__text s4" data-close="關閉通知" data-open="開啟通知"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-flex__item" data-price-calendar>
                                    <div class="l-flex u-flex-gap-sm u-flex-gap-min@mb-only u-flex-top">
                                        <div class="l-flex__item l-flex__item--auto">
                                            <div class="l-flex u-flex-col u-flex-gap-min">
                                                <div class="l-flex__item u-center"><span class="s4">通知開始日</span></div>
                                                <div class="l-flex__item">
                                                    <!-- .is-error: 錯誤樣式，請加此 class name -->
                                                    <div class="l-form l-form--popup">
                                                        <div class="l-form__input">
                                                            <div class="o-calendarBox o-calendarBox--popRange">
                                                                <input type="text" class="o-calendarBox__input" data-trend-filter="inputStart" data-infostart data-calendar="true" readonly="">
                                                            </div>
                                                        </div>
                                                        <!-- 錯誤訊息 -->
                                                        <div class="l-form__text l-form__text--error">
                                                            <div class="o-errorText"><span class="s4"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="l-flex__item l-flex__item--auto u-flex-top u-mt-max">-</div>
                                        <div class="l-flex__item l-flex__item--auto">
                                            <div class="l-flex u-flex-col u-flex-gap-min">
                                                <div class="l-flex__item u-center"><span class="s4">通知結束日</span></div>
                                                <div class="l-flex__item">
                                                    <!-- .is-error: 錯誤樣式，請加此 class name -->
                                                    <div class="l-form l-form--popup">
                                                        <div class="l-form__input">
                                                            <div class="o-calendarBox o-calendarBox--popRange">
                                                                <input type="text" class="o-calendarBox__input" data-trend-filter="inputEnd" data-infoend data-calendar="true" readonly="">
                                                            </div>
                                                        </div>
                                                        <!-- 錯誤訊息 -->
                                                        <div class="l-form__text l-form__text--error">
                                                            <div class="o-errorText"><span class="s4"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-flex__item">
                                    <div class="c-box c-box--gy c-box--gapless u-noShadow">
                                        <div class="c-box__main">
                                            <div class="l-flex u-flex-col u-flex-gap-sm">
                                                <div class="l-flex__item">
                                                    <div class="c-count" data-count>
                                                        <button class="c-count__minus" data-count-btn="-1"></button>
                                                        <div class="c-count__value">
                                                            <input type="number" class="c-count__input" value="0" data-count-input>
                                                            <div class="c-count__text" data-after="%"></div>
                                                        </div>
                                                        <button class="c-count__plus" data-count-btn="1"></button>
                                                    </div>
                                                </div>
                                                <div class="l-flex__item">
                                                    <!-- .is-error: 錯誤樣式，請加此 class name -->
                                                    <div class="l-form l-form--popup">
                                                        <div class="l-form__input">
                                                            <input type="number" class="o-textbox o-textbox--full o-textbox--form" value="0" data-alert-price>
                                                        </div>
                                                        <!-- 錯誤訊息 -->
                                                        <div class="l-form__text l-form__text--error">
                                                            <div class="o-errorText"><span class="s4"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-tab__panel c-tab__panel--closer" data-tab-panel-id="tab-popup-2">
                            <div class="l-flex u-flex-col u-flex-gap-lg">
                                <div class="l-flex__item">
                                    <div class="l-flex">
                                        <div class="l-flex__item">
                                            <span class="t3 t-bold">設定目標漲跌幅</span>
                                        </div>
                                        <div class="l-flex__item l-flex__item--auto">
                                            <div class="o-switch o-switch--reverse u-flex-gap-min">
                                                <input class="o-switch__input" type="checkbox" name="quoteChange" id="quoteChange" checked>
                                                <label class="o-switch__label" for="quoteChange"></label>
                                                <div class="o-switch__text s4" data-close="關閉通知" data-open="開啟通知"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-flex__item" data-quoteChange-calendar>
                                    <div class="l-flex u-flex-gap-sm u-flex-gap-min@mb-only u-flex-top">
                                        <div class="l-flex__item l-flex__item--auto">
                                            <div class="l-flex u-flex-col u-flex-gap-min">
                                                <div class="l-flex__item u-center"><span class="s4">通知開始日</span></div>
                                                <div class="l-flex__item">
                                                    <div class="l-form l-form--popup">
                                                        <div class="l-form__input">
                                                            <div class="o-calendarBox o-calendarBox--popRange">
                                                                <input type="text" class="o-calendarBox__input" data-quotestart data-calendar="true" readonly="">
                                                            </div>
                                                        </div>
                                                        <div class="l-form__text l-form__text--error">
                                                            <span class="o-errorText"><span class="s4"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="l-flex__item l-flex__item--auto u-mt-max">-</div>
                                        <div class="l-flex__item l-flex__item--auto">
                                            <div class="l-flex u-flex-col u-flex-gap-min">
                                                <div class="l-flex__item u-center"><span class="s4">通知結束日</span></div>
                                                <div class="l-flex__item">
                                                    <!-- .is-error: 錯誤樣式，請加此 class name -->
                                                    <div class="l-form l-form--popup">
                                                        <div class="l-form__input">
                                                            <div class="o-calendarBox o-calendarBox--popRange">
                                                                <input type="text" class="o-calendarBox__input" data-quoteend data-calendar="true" readonly="">
                                                            </div>
                                                        </div>
                                                        <!-- 錯誤訊息 -->
                                                        <div class="l-form__text l-form__text--error">
                                                            <div class="o-errorText"><span class="s4"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-flex__item">
                                    <div class="c-box c-box--gy c-box--gapless u-noShadow">
                                        <div class="c-box__main">
                                            <div class="l-flex u-flex-gap-max u-flex-top">
                                                <div class="l-flex__item">
                                                    <div class="l-flex u-flex-gap-sm u-flex-top">
                                                        <div class="l-flex__item l-flex__item--auto u-mt-xs">
                                                            漲幅
                                                        </div>
                                                        <div class="l-flex__item">
                                                            <!-- .is-error: 錯誤樣式，請加此 class name -->
                                                            <div class="l-form l-form--popup">
                                                                <div class="l-form__input">
                                                                    <div data-suffix-box="%">
                                                                        <input type="number" class="o-textbox o-textbox--full o-textbox--form" data-alert-rise>
                                                                    </div>
                                                                </div>
                                                                <!-- 錯誤訊息 -->
                                                                <div class="l-form__text l-form__text--error">
                                                                    <div class="o-errorText"><span class="s4"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" l-flex__item">
                                                    <div class="l-flex u-flex-gap-sm u-flex-top">
                                                        <div class="l-flex__item l-flex__item--auto u-mt-xs">
                                                            跌幅
                                                        </div>
                                                        <div class="l-flex__item">
                                                            <!-- .is-error: 錯誤樣式，請加此 class name -->
                                                            <div class="l-form l-form--popup">
                                                                <div class="l-form__input">
                                                                    <div data-suffix-box="%">
                                                                        <input type="number" class="o-textbox o-textbox--full o-textbox--form" data-alert-fall>
                                                                    </div>
                                                                </div>
                                                                <!-- 錯誤訊息 -->
                                                                <div class="l-form__text l-form__text--error">
                                                                    <div class="o-errorText"><span class="s4"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--secondary o-btn--sm" data-popup-close="true">取消</a>
                </div>
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-set-alert data-purpose="目標價格">確定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loginFail" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">登入失敗</h2>
        </header>
        <div class="c-modal__content">
            <p data-errormsg></p>
        </div>
    </div>
</div>
<div id="infoFail" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">失敗</h2>
        </header>
        <div class="c-modal__content">
            <p data-errormsg></p>
        </div>
    </div>
</div>
@if (Session["LoginStatus"] != null)
{
    var item =  ItemUtils.GetItem(Templates.LoginErrorMesaage.Root);
    var defaultMsg = ItemUtils.GetFieldValue(item, Templates.LoginErrorMesaage.Fields.ErrorMessage);
    var serverErrorMsg = ItemUtils.GetFieldValue(item, Templates.LoginErrorMesaage.Fields.ServerErrorMessage);
    if(Session["ServerError"] != null){
        defaultMsg = serverErrorMsg;
        Session["ServerError"] = null;
    }
    <script>
        $('[data-errormsg]', '#loginFail').text("@defaultMsg");
        $.magnificPopup.open({
            items: {
                src: '#loginFail'
            },
            type: 'inline'
        });
    </script>
    Session["LoginStatus"] = null;
}
<script>

    $('[data-calendar]').datepickerExtend();
    $('[data-tab="true"]').tab();

    //切換確認按鈕 辨別哪個頁籤下
    $('[data-infovalue-tab]', '#popupAlert').on('click', function () {
        let title = this.getAttribute('title');
        $('[data-set-alert]', '#popupAlert').data('purpose', title);
    });


    $('[data-set-alert]').on('click.setAlert', function () {
        let alertId = $(this).data('alertid');
        // 若為加入狀態請加上'is-active'，反之請移除'is-active'，並觸發'update.tooltip'以更新tooltip
        if ($('input[name="price"]').prop("checked") || $('input[name="quoteChange"]').prop("checked")) {

            $(`[data-alert="${alertId}"]`).addClass('is-active').trigger('update.tooltip');
        } else {
            $(`[data-alert="${alertId}"]`).removeClass('is-active').trigger('update.tooltip');
        }
    });
 
    // 示意取消關注
    $('[data-focus]').off('click.interactive');
    $('[data-set-cancel-focus]').on('click.cancelFocus', function () {
        Swal.fire({
            iconHtml: '<i class="o-icon o-icon--tickSolid o-icon--wt o-icon--xl o-icon--nonhover"></i>',
            customClass: {
                container: 'c-swal',
                popup: 'c-swal__popup',
                icon: 'c-swal__icon',
                title: 'c-swal__title',
                timerProgressBar: 'c-swal__timerProgressBar'
            },
            position: 'center',
            showConfirmButton: false,
            backdrop: false,
            timerProgressBar: true,
            returnFocus: false,
            timer: 1500,
            titleText: '關注已取消'
        });
    });

    // 數值-+
    var percent = 0;
    var triggerType = '';

    // +/-點擊
    $('[data-count-btn]').on('click.count', function () {
        triggerType = 'click';
        percent = Number(percent) + $(this).attr('data-count-btn') * 1;
        if (percent <= -100) { percent = -100 }
        if (percent >= 1000) { percent = 1000 }
        $('[data-count-input]').val(percent).trigger('change.count');
    });
    // 更新%數顯示
    $('[data-count-input]').on('change.count', function (e) {
        let latestNetWorth = Number($("#popupAlert").find('[data-pricevalue]').data('pricevalue'));
        $(this).closest('[data-count]').find('.c-count__text').text(Number(percent).toFixed(2));
        if (triggerType === 'click') {
            var val = latestNetWorth + latestNetWorth * e.target.value * 0.01;
            $('[data-alert-price]').val(val.toFixed(4)).trigger('change');
        }
    }).trigger('change.count');

    // 目標價格輸入
    $('[data-alert-price]').on('blur', function (e) {
        let priceValue = e.target.value;
        if (priceValue == '') {
            return;
        }
        let latestNetWorth = Number($("#popupAlert").find('[data-pricevalue]').data('pricevalue'));
        if (Number(priceValue) <= 0) {
            latestNetWorth == 0;
            $('[data-alert-price]').val(0);
        }
        triggerType = 'input';
        var newPercent = (Number(priceValue) - latestNetWorth) / latestNetWorth * 100;
        percent = newPercent.toFixed(2) < -100 ? -100 : newPercent.toFixed(2);
        percent = newPercent.toFixed(2) > 1000 ? 1000 : newPercent.toFixed(2);
        if (percent == 1000)
        {
            var val = latestNetWorth + latestNetWorth * 1000 * 0.01;
            $('[data-alert-price]').val(val.toFixed(4)).trigger('change');
        }
        $('[data-count-input]').val(percent).trigger('change.count');
    });
    //申購deeplink init
                let single = document.getElementById("subscriptionSingle");
                let regular = document.getElementById("subscriptionRegular");
                let go = document.getElementById("subscriptionGo");
                let bond = document.getElementById("subscriptionBond");
                let singlelink = "";
                let regularlink = "";
                let golink = "";
                let bondlink = "";
                if ($(window).width() < 1199) {
                    //第e行動&&ileo按鈕切換
                    $('input[name="platform"]', '#popupPurchase').on('click', function () {
                        let val = $(this).data('name');
                        let id = single.getAttribute("eh-subscription-id")
                        if (val == "firste") {
                            singlelink = "@MobileESingleLink";
                            regularlink = "@MobileERegularLink";
                            golink = "@MobileEntrustLink";
                            bondlink = "@MobileBondLink";
                        } else {
                            singlelink = "@MobileIleoSingleLink";
                            regularlink = "@MobileIleoRegularLink";
                            golink = "@IleoEntrustLink";
                            bondlink = "@IleoBondLink";
                        }
                        let singleUrl = new URL(singlelink.replaceAll("&amp;", "&"));
                        let singleOriginAndPath = singleUrl.origin + singleUrl.pathname;
                        let singleCombined = singleOriginAndPath + "?";
                        let regularUrl = new URL(regularlink.replaceAll("&amp;", "&"));
                        let regularOriginAndPath = regularUrl.origin + regularUrl.pathname;
                        let regularCombined = regularOriginAndPath + "?";
                        let goUrl = new URL(golink.replaceAll("&amp;", "&"));
                        let goOriginAndPath = goUrl.origin + goUrl.pathname;
                        let goCombined = goOriginAndPath + "?";
                        let singleParms = singleUrl.searchParams;
                        let regularParms = regularUrl.searchParams;
                        let goParms = goUrl.searchParams;
                        //行動版
                            let singleInsindeUrl = new URL(singleParms.get("link"));
                            let regularInsindUrl = new URL(regularParms.get("link"));
                            let goInsindUrl = new URL(goParms.get("link"));
                            //第e行動
                            if (val == "firste") {
                                for (const [key, value] of singleParms.entries()) {
                                    if (key == "link") {
                                        singleInsindeUrl.searchParams.delete("FundCode");
                                        singleInsindeUrl.searchParams.append("FundCode", id);
                                        singleCombined += `${key}=${encodeURIComponent(singleInsindeUrl)}&`;
                                        continue;
                                    }
                                    singleCombined += `${key}=${value}&`;
                                }
                                for (const [key, value] of regularParms.entries()) {
                                    if (key == "link") {
                                        regularInsindUrl.searchParams.delete("FundCode");
                                        regularInsindUrl.searchParams.append("FundCode", id);
                                        regularCombined += `${key}=${encodeURIComponent(regularInsindUrl)}&`;
                                        continue;
                                    }
                                    regularCombined += `${key}=${value}&`;
                                }
                                for (const [key, value] of goParms.entries()) {
                                    if (key == "link") {
                                        goCombined += `${key}=${encodeURIComponent(value + '&')}`;
                                        continue;
                                    }
                                    if (key == "chn" || key == "emp_id") {
                                        goCombined += `${key}${encodeURIComponent('=' + value + '&')}`;
                                        continue;
                                    }
                                    if (key == "prdCode") {
                                        goCombined += `${key}${encodeURIComponent('=' + id)}&`;
                                        continue;
                                    }
                                    goCombined += `${key}=${value}&`;
                                }
                            } else
                            //iLeo
                            {
                                for (const [key, value] of singleParms.entries()) {
                                    if (key == "link") {
                                        singleInsindeUrl.searchParams.delete("FundCode");
                                        singleInsindeUrl.searchParams.append("FundCode", id);
                                        singleCombined += `${key}=${encodeURIComponent(singleInsindeUrl)}&`;
                                        continue;
                                    }
                                    singleCombined += `${key}=${value}&`;
                                }
                                for (const [key, value] of regularParms.entries()) {
                                    if (key == "link") {
                                        regularInsindUrl.searchParams.delete("FundCode");
                                        regularInsindUrl.searchParams.append("FundCode", id);
                                        regularCombined += `${key}=${encodeURIComponent(regularInsindUrl)}&`;
                                        continue;
                                    }
                                    regularCombined += `${key}=${value}&`;
                                }
                                for (const [key, value] of goParms.entries()) {
                                    if (key == "link") {
                                        goInsindUrl.searchParams.delete("FundCode");
                                        goInsindUrl.searchParams.append("FundCode", id);
                                        goCombined += `${key}=${encodeURIComponent(goInsindUrl)}&`;
                                        continue;
                                    }
                                    goCombined += `${key}=${value}&`;
                                }
                            }

                        single.setAttribute("href", singleCombined.slice(0, -1));
                        regular.setAttribute("href", regularCombined.slice(0, -1));
                        go.setAttribute("href", goCombined.slice(0, -1));
                        bond.setAttribute("href", bondlink.replaceAll("&amp;", "&"));
                        store.set("MobilePlatform", val);
                    });

                    let val = store.get('MobilePlatform') || "";
                    if (val == "firste" || val == "") {
                        store.set("MobilePlatform", 'firste');
                        $('input[data-name="firste"]', '#popupPurchase').prop('checked', true);
                        singlelink = "@MobileESingleLink";
                        regularlink = "@MobileERegularLink";
                        golink = "@MobileEntrustLink";
                        bondlink = "@MobileBondLink";
                    } else {
                        $('input[data-name="ileo"]', '#popupPurchase').prop('checked', true);
                        singlelink = "@MobileIleoSingleLink";
                        regularlink = "@MobileIleoRegularLink";
                        golink = "@IleoEntrustLink";
                        bondlink = "@IleoBondLink";
                    }

                    single.setAttribute("href", singlelink.replaceAll("&amp;", "&"));
                    regular.setAttribute("href", regularlink.replaceAll("&amp;", "&"));
                    go.setAttribute("href", golink.replaceAll("&amp;", "&"));
                    bond.setAttribute("href", bondlink.replaceAll("&amp;", "&"));
                }
                else {
                    singlelink = "@SubcriptionSingleLink";
                    regularlink = "@SubcriptionRegularLink";
                    golink = "@WebEntrustLink";
                    bondlink = "@WebBondLink";
                    single.setAttribute("href", singlelink.replaceAll("&amp;", "&"));
                    regular.setAttribute("href", regularlink.replaceAll("&amp;", "&"));
                    go.setAttribute("href", golink.replaceAll("&amp;", "&"));
                    bond.setAttribute("href", bondlink.replaceAll("&amp;", "&"));
                }

</script>
