@using Foundation.Wealth.Helper
@using Feature.Wealth.Component.Models.PerformanceFundRank
@model PerformanceFundRankModel

@if (Model.Item == null)
{
    return;
}

<div class="l-mainstage">
    <div class="l-mainstage__wrap">
        <div class="l-mainstage__title">
            <h1 class="t-title">@Html.Sitecore().Field(Template.PerformanceFundRank.Fields.MainTitle.ToString(), Model.Item)</h1>
        </div>
        <div class="l-mainstage__content">
            @Html.Sitecore().Field(Template.PerformanceFundRank.Fields.SubTitle.ToString(), Model.Item)
        </div>
    </div>
</div>
<div class="l-wrap">
    <div class="c-tab c-tab--wide" data-tab="true">
        <div class="c-tab__header">
            <ul class="c-tab__navs">
                <!-- .is-active: 作用中的項目 -->
                <!-- [data-tab-target]: 值需對應 [data-tab-panel-id] 的值，按下後會自動顯示相對的 panel -->
                <!-- 若為外連，不要賦予[data-tab-target]屬性 -->
                <li><a href="#" class="c-tab__item is-active" target="_self" title="國內" data-tab-target="tab-1">國內</a></li>
                <li><a href="#" class="c-tab__item " target="_self" title="境外" data-tab-target="tab-2">境外</a></li>
            </ul>
            <div class="c-tab__collapse">
                <a href="#" class="c-tab__switch"></a>
                <div class="c-tab__dropdown"><a href="#" class="c-tab__clone is-active" target="_self" title="國內" data-tab-target="tab-1">國內</a><a href="#" class="c-tab__clone " target="_self" title="境外" data-tab-target="tab-2">境外</a></div>
            </div>
        </div>
        <!-- is-active: 作用中的項目 -->
        <div class="c-tab__panel is-active" data-tab-panel-id="tab-1">
            <div class="l-flex u-flex-col u-flex-gap-max">
                <div class="l-flex__item">
                    <div class="o-pelletbox">
                        <label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-1" value="全部" checked class="o-pelletbox__input">
                            <span class="o-pelletbox__text">全部</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-1" value="一般股票型" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">一般股票型</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-1" value="上櫃股票型" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">上櫃股票型</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-1" value="債券型海外債券投資等級" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">跨國債券型</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-1" value="跨國投資股票型區域型" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">跨國區域型</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-1" value="跨國投資股票型全球市場" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">跨國全球型</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-1" value="不動產證券化型" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">REIT</span>
                        </label>
                    </div>
                </div>

                <div class="l-flex__item">
                    <div class="l-flex u-flex-col u-flex-gap-sm">
                        <div class="l-flex__item" data-filter-empty="false">
                            <div class="l-flex l-flex--wrap u-flex-gap-sm">
                                <div class="l-flex__item">
                                    <div class="o-capsulebox">
                                        <label class="o-capsulebox__item">
                                            <input type="radio" name="currency-1-" value="原幣" checked class="o-capsulebox__input">
                                            <span class="o-capsulebox__text">原幣</span>
                                        </label>
                                        <label class="o-capsulebox__item">
                                            <input type="radio" name="currency-1-" value="台幣" class="o-capsulebox__input">
                                            <span class="o-capsulebox__text">台幣</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="l-flex__item u-right u-hidden@dt-only">
                                    <div class="o-sortingbox">
                                        <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                                        <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="domesticTable">
                                            <option value="">排序</option>
                                            <option value="基金名稱高至低" data-sorting-column="ProductCode" data-sorting-class="is-desc">基金名稱高至低</option>
                                            <option value="基金名稱低至高" data-sorting-column="ProductCode" data-sorting-class="is-asc">基金名稱低至高</option>
                                            <option value="最新淨值高至低" data-sorting-column="NetAssetValue" data-sorting-class="is-desc">最新淨值高至低</option>
                                            <option value="最新淨值低至高" data-sorting-column="NetAssetValue" data-sorting-class="is-asc">最新淨值低至高</option>
                                            <option value="幣別高至低" data-sorting-column="CurrencyCode" data-sorting-class="is-desc">幣別高至低</option>
                                            <option value="幣別低至高" data-sorting-column="CurrencyCode" data-sorting-class="is-asc">幣別低至高</option>
                                            <option value="當日漲跌幅高至低" data-sorting-column="PercentageChangeInFundPrice" data-sorting-class="is-desc">當日漲跌幅高至低</option>
                                            <option value="當日漲跌幅低至高" data-sorting-column="PercentageChangeInFundPrice" data-sorting-class="is-asc">當日漲跌幅低至高</option>
                                            <option value="6個月績效高至低" data-sorting-column="SixMonthReturnOriginalCurrency" data-sorting-class="is-desc">6個月績效高至低</option>
                                            <option value="6個月績效低至高" data-sorting-column="SixMonthReturnOriginalCurrency" data-sorting-class="is-asc">6個月績效低至高</option>
                                            <option value="風險屬性高至低" data-sorting-column="RiskRewardLevel" data-sorting-class="is-desc">風險屬性高至低</option>
                                            <option value="風險屬性低至高" data-sorting-column="RiskRewardLevel" data-sorting-class="is-asc">風險屬性低至高</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-flex__item" data-filter-empty="false">
                            <div class="l-table">
                                <table class="c-table@dt-only c-cardTable@lt" data-table-name="domesticTable">
                                    <colgroup>
                                        <col style="width: auto;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                    </colgroup>
                                    <thead>
                                        <tr class="u-nowrap">
                                            <th>
                                                <div class="c-table__title">
                                                    <span>基金名稱</span>
                                                    <!-- .is-asc: 升冪 -->
                                                    <!-- .is-desc: 降冪 -->
                                                    <a href="#" class="o-sorting" data-sorting-column="ProductCode"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>最新淨值<br>(淨值日)</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="NetAssetValue"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>幣別</span>
                                                    <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                                    <a href="#" class="o-sorting" data-sorting-column="CurrencyCode"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>當日漲跌幅</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="PercentageChangeInFundPrice"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>6個月績效</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="SixMonthReturnOriginalCurrency"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>風險屬性</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="RiskRewardLevel"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>關注/比較</span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>申購</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tab-1">
                                    </tbody>
                                </table>
                                <div class="l-pagination" data-length="@Model.DTotalPages">
                                    <div class="l-pagination__size">
                                        <span>每頁顯示</span>
                                        <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                                        <select class="o-selectbox o-selectbox--pagesize" data-sizebox="true">
                                            <option value="10">10筆</option>
                                            <option value="50">50筆</option>
                                            <option value="100">100筆</option>
                                            <option value="all">全部</option>
                                        </select>
                                    </div>
                                    <div class="l-pagination__switch">
                                        <!-- [data-pagination="true"]: 載入後自動綁定分頁功能 -->
                                        <!-- [data-total="888"]: 總筆數，必要資訊，供分頁狀態判斷使用 -->
                                        <div class="o-pagination" data-pagination="true" data-total="@Math.Ceiling(Model.DTotalPages / 10.0)">
                                            <!-- .is-disabled: 停用狀態，無法點擊 -->
                                            <a href="#" class="o-pagination__prev is-disabled"></a>
                                            <span class="o-pagination__pager">
                                                <input type="number" value="1" class="o-pagination__no">
                                                <span class="o-pagination__total">@Math.Ceiling(Model.DTotalPages / 10.0)</span>
                                            </span>
                                            <!-- .is-disabled: 停用狀態，無法點擊 -->
                                            <a href="#" class="o-pagination__next"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-flex__item" data-filter-empty="true">
                            <div class="c-section">
                                <div class="c-section__content">
                                    <div class="c-empty">
                                        <div class="c-empty__img">
                                            <img src="~/themes/images/lions/lion-compare.svg" alt="">
                                        </div>
                                        <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-tab__panel" data-tab-panel-id="tab-2">
            <div class="l-flex u-flex-col u-flex-gap-max">
                <div class="l-flex__item" data-filter-empty="false">
                    <div class="o-pelletbox">
                        <label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-2" value="全部" checked class="o-pelletbox__input">
                            <span class="o-pelletbox__text">全部</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-2" value="股票型" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">股票型</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-2" value="非投資等級債" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">非投資等級債</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-2" value="債券型" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">債券型</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-2" value="貴重金屬" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">貴金屬</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-2" value="健康護理" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">健康護理</span>
                        </label><label class="o-pelletbox__item">
                            <input type="radio" name="fundtype-2" value="資訊科技" class="o-pelletbox__input">
                            <span class="o-pelletbox__text">資訊科技</span>
                        </label>
                    </div>
                </div>
                <div class="l-flex__item" data-filter-empty="false">
                    <div class="l-flex u-flex-col u-flex-gap-sm">
                        <div class="l-flex__item">
                            <div class="l-flex l-flex--wrap u-flex-gap-sm">
                                <div class="l-flex__item">
                                    <div class="o-capsulebox">
                                        <label class="o-capsulebox__item">
                                            <input type="radio" name="currency-2-" value="原幣" checked class="o-capsulebox__input">
                                            <span class="o-capsulebox__text">原幣</span>
                                        </label>
                                        <label class="o-capsulebox__item">
                                            <input type="radio" name="currency-2-" value="台幣" class="o-capsulebox__input">
                                            <span class="o-capsulebox__text">台幣</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="l-flex__item u-right u-hidden@dt-only">
                                    <div class="o-sortingbox">
                                        <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                                        <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="foreignTable">
                                            <option value="">排序</option>
                                            <option value="基金名稱高至低" data-sorting-column="ProductCode" data-sorting-class="is-desc">基金名稱高至低</option>
                                            <option value="基金名稱低至高" data-sorting-column="ProductCode" data-sorting-class="is-asc">基金名稱低至高</option>
                                            <option value="最新淨值高至低" data-sorting-column="NetAssetValue" data-sorting-class="is-desc">最新淨值高至低</option>
                                            <option value="最新淨值低至高" data-sorting-column="NetAssetValue" data-sorting-class="is-asc">最新淨值低至高</option>
                                            <option value="幣別高至低" data-sorting-column="CurrencyCode" data-sorting-class="is-desc">幣別高至低</option>
                                            <option value="幣別低至高" data-sorting-column="CurrencyCode" data-sorting-class="is-asc">幣別低至高</option>
                                            <option value="當日漲跌幅高至低" data-sorting-column="PercentageChangeInFundPrice" data-sorting-class="is-desc">當日漲跌幅高至低</option>
                                            <option value="當日漲跌幅低至高" data-sorting-column="PercentageChangeInFundPrice" data-sorting-class="is-asc">當日漲跌幅低至高</option>
                                            <option value="6個月績效高至低" data-sorting-column="SixMonthReturnOriginalCurrency" data-sorting-class="is-desc">6個月績效高至低</option>
                                            <option value="6個月績效低至高" data-sorting-column="SixMonthReturnOriginalCurrency" data-sorting-class="is-asc">6個月績效低至高</option>
                                            <option value="風險屬性高至低" data-sorting-column="RiskRewardLevel" data-sorting-class="is-desc">風險屬性高至低</option>
                                            <option value="風險屬性低至高" data-sorting-column="RiskRewardLevel" data-sorting-class="is-asc">風險屬性低至高</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-flex__item">
                            <div class="l-table">
                                <table class="c-table@dt-only c-cardTable@lt" data-table-name="foreignTable">
                                    <colgroup>
                                        <col style="width: auto;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                        <col style="width: 1%;">
                                    </colgroup>
                                    <thead>
                                        <tr class="u-nowrap">
                                            <th>
                                                <div class="c-table__title">
                                                    <span>基金名稱</span>
                                                    <!-- .is-asc: 升冪 -->
                                                    <!-- .is-desc: 降冪 -->
                                                    <a href="#" class="o-sorting" data-sorting-column="ProductCode"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>最新淨值<br>(淨值日)</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="NetAssetValue"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>幣別</span>
                                                    <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                                    <a href="#" class="o-sorting" data-sorting-column="CurrencyCode"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>當日漲跌幅</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="PercentageChangeInFundPrice"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>6個月績效</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="SixMonthReturnOriginalCurrency"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>風險屬性</span>
                                                    <a href="#" class="o-sorting" data-sorting-column="RiskRewardLevel"></a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>關注/比較</span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="c-table__title">
                                                    <span>申購</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tab-2">
                                    </tbody>
                                </table>
                                <div class="l-pagination" data-length="@Model.FTotalPages">
                                    <div class="l-pagination__size">
                                        <span>每頁顯示</span>
                                        <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                                        <select class="o-selectbox o-selectbox--pagesize" data-sizebox="true">
                                            <option value="10">10筆</option>
                                            <option value="50">50筆</option>
                                            <option value="100">100筆</option>
                                            <option value="all">全部</option>
                                        </select>
                                    </div>
                                    <div class="l-pagination__switch">
                                        <!-- [data-pagination="true"]: 載入後自動綁定分頁功能 -->
                                        <!-- [data-total="888"]: 總筆數，必要資訊，供分頁狀態判斷使用 -->
                                        <div class="o-pagination" data-pagination="true" data-total="@Math.Ceiling(Model.FTotalPages / 10.0)">
                                            <!-- .is-disabled: 停用狀態，無法點擊 -->
                                            <a href="#" class="o-pagination__prev is-disabled"></a>
                                            <span class="o-pagination__pager">
                                                <input type="number" value="1" class="o-pagination__no">
                                                <span class="o-pagination__total">@Math.Ceiling(Model.FTotalPages / 10.0)</span>
                                            </span>
                                            <!-- .is-disabled: 停用狀態，無法點擊 -->
                                            <a href="#" class="o-pagination__next"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item" data-filter-empty="true">
                    <div class="c-section">
                        <div class="c-section__content">
                            <div class="c-empty">
                                <div class="c-empty__img">
                                    <img src="~/themes/images/lions/lion-compare.svg" alt="">
                                </div>
                                <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    (function ($, window, document, undefined) {
        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }

            // 為了 DOMPurify.sanitize 正常運作加上 <table><tbody></tbody></table>
            function DOMPurifyData(data) {
                let focusAttr = ['eh-focus', 'eh-focus-type', 'eh-focus-id', 'eh-focus-name', 'eh-focus-add'];
                let compareAttr = ['eh-compare', 'eh-compare-type', 'eh-compare-id', 'eh-compare-name', 'eh-compare-add'];
                let subscriptionAttr = ['eh-subscription', 'eh-subscription-type', 'eh-subscription-id'];
                let commonAttr = ['target'];
                let allCustomAttr = focusAttr.concat(compareAttr, subscriptionAttr, commonAttr);
                data = '<table><tbody>' + data + '</tbody></table>';
                data = DOMPurify.sanitize(data, { ADD_ATTR: allCustomAttr });
                data = data.replace('<table><tbody>', '').replace('</tbody></table>', '');
                return data;
            }

            //顯示基金資料 (國內/國外tab,選擇的類型pelletboxInputs,頁面(第幾頁),頁面筆數(顯示幾筆))
            function loadData(tabTarget, selectedValue, page, pageSize, orderby, desc) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                window.loading = () => 0;
                $.ajax({
                    url: '@ClientRoute.GenerateUrl(this, "PerformanceFundRank", "GetSortedPerformanceFundRank")',
                    type: 'POST',
                    data: {
                        tab: tabTarget, selectedValue: selectedValue,
                        page: page, pageSize: pageSize, orderby: orderby,
                        desc: desc, __RequestVerificationToken: token
                    },
                    success: function (data) {
                        if (data) {
                            var tabContent = document.getElementById(tabTarget);
                            tabContent.innerHTML = DOMPurifyData(data);
                            $('[data-popup]').magnificPopup();
                            $('[eh-compare]').trigger('exec');
                            $('[eh-focus]').trigger('exec');
                            $('[eh-subscription-type]').trigger('exec');

                            var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                            var totalPages = tabPanel.find('#totalPages').val();
                            var currentPage = tabPanel.find('#currentPage').val();
                            var pageSize = tabPanel.find('#pageSize').val();

                            var disableSorting = false;
                            var paginationElement = tabPanel.find('.l-pagination__switch .o-pagination');
                            var total = parseInt(totalPages);
                            paginationElement.attr('data-total', total);
                            paginationElement.find('.o-pagination__total').text(totalPages);

                            var $parentWrap = $(this).closest('.l-pagination');

                            var dataLength = parseInt(totalPages) * 10;
                            $parentWrap.attr('data-length', dataLength);
                            paginationElement.find('.l-pagination__switch').toggleClass('u-hidden', pageSize === 'all');
                            //var total = Math.ceil(dataLength / pageSize);
                            var current = parseInt(currentPage);
                            $('.o-pagination__no').val(current);
                            //paginationElement.find('[data-pagination="true"]').pagination('goto', current);
                            if (current === 1) {
                                $('.o-pagination__prev').addClass('is-disabled');
                            }
                            if (total <= 1) {
                                $('.o-pagination__prev').addClass('is-disabled');
                                $('.o-pagination__next').addClass('is-disabled');
                            }
                            else if (current === total) {
                                $('.o-pagination__next').addClass('is-disabled');
                            }
                            else {
                                $('.o-pagination__next').removeClass('is-disabled');
                            }


                            var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                            var capsuleboxInputs = tabPanel.find('.o-capsulebox__input.selected');

                            capsuleboxInputs.each(function (index, element) {
                                var selectedValue = $(element).val();
                                OCTWD(selectedValue);
                            });

                            $('span.o-fall').each(function () {
                                var content = $(this).text();
                                if (content.startsWith('-')) {
                                    var number = content.substring(1);
                                    $(this).text(number);
                                }
                            });
                            if (orderby === undefined) {
                                OrderColumn("foreignTable", 'SixMonthReturnOriginalCurrency', 'is-desc', true);
                                OrderColumn("domesticTable", 'SixMonthReturnOriginalCurrency', 'is-desc', true);
                            }
                            if (total === 0) {
                                $('[data-filter-empty="false"]').hide();
                                $('[data-filter-empty="true"]').show();
                            }
                            else {
                                $('[data-filter-empty="false"]').show();
                                $('[data-filter-empty="true"]').hide();
                            }
                        } else {
                            console.error("Empty response received from the server.");
                        }
                    },
                    complete: function () {
                        $('.c-loading').loading('hide');
                        window.loading = (methodOrOptions) => $('.c-loading').loading(methodOrOptions);  // 重新定義 loading
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        window.AjaxErrorRedirctToHome();
                    }
                });
            }


            var currentData = {};

            loadData('tab-1', '全部', 1, "10");
            loadData('tab-2', '全部', 1, "10");
            ChangeCurrency('tab-1');

            function findSortingColumns() {
                var sortingInfo = [];
                var tabItem = $('.c-tab__item.is-active');
                var tabTarget = tabItem.data('tab-target');
                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                var sortingElements = tabPanel.find('.o-sorting');
                sortingElements.each(function () {
                    var element = $(this);
                    if (element.hasClass('is-desc') || element.hasClass('is-asc')) {
                        var sortingColumn = element.data('sorting-column');
                        var sortingDirection = element.hasClass('is-desc') ? 'is-desc' : 'is-asc';
                        sortingInfo.push({ column: sortingColumn, direction: sortingDirection });
                    }
                });
                if (sortingInfo == "") {
                    sortingInfo.push({ column: 'SixMonthReturnOriginalCurrency', direction: 'is-desc' });
                }
                return sortingInfo;
            }



            //切換國內國外
            $('.c-tab__item').on('click', function (e) {
                window.loading('show');
                var tabTarget = $(this).data('tab-target');
                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                var pageSize = tabPanel.find('.o-selectbox--pagesize').val();
                var selectedValue = tabPanel.find('.o-pelletbox__input:checked').val();
                var currentPage = tabPanel.find('.o-pagination__no').val();
                var sortingColumns = findSortingColumns();
                sortingColumns.forEach(function (sortingInfo) {
                    loadData(tabTarget, selectedValue, 1, pageSize, sortingInfo.column, sortingInfo.direction);
                });


                ChangeCurrency(tabTarget);
                setTimeout(() => {
                    window.loading('hide');
                }, 300);

            });

            var tableBody = $('table');
            var rows = tableBody.find('tr').toArray();

            // table 排序功能
            tableBody.off('click.sorting').on('click.sorting', '.o-sorting', function (e) {
                e.preventDefault();
                // 呼叫 loading
                window.loading('show');
                var $this = $(this);
                var orderby = '';
                if ($this.hasClass('is-asc')) {
                    $this.removeClass('is-asc').addClass('is-desc');
                    orderby = 'is-desc';
                } else {
                    $this.closest('.l-table').find('.o-sorting').removeClass('is-asc is-desc');
                    $this.addClass('is-asc');
                    orderby = 'is-asc';
                }

                var sortingColumn = $this.data('sorting-column');
                var tabItem = $('.c-tab__item.is-active');
                var tabTarget = tabItem.data('tab-target');
                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                var selectedValue = tabPanel.find('.o-pelletbox__input:checked').val();
                var pageSize = tabPanel.find('.o-selectbox--pagesize').val();

                var selectedValue = $('.o-pelletbox__input:checked').val();
                console.log(selectedValue);

                // 連動 sortingbox
                var tableName = $(this).closest('[data-table-name]').data('table-name');
                var $sortingbox = $(`[data-sorting-linkto="${tableName}"]`);
                var sortingColumn = $(this).data('sorting-column');
                $(`option[data-sorting-column="${sortingColumn}"][data-sorting-class="${orderby}"]`, $sortingbox).prop('selected', true);
                $sortingbox.trigger('change');

                // 因展示，使用 setTimeout 延遲關閉 loading
                setTimeout(() => {
                    // 關閉loading
                    window.loading('hide');
                }, 300);
            });

            $('[data-sortingbox="true"]').on('change.sorting', function (e) {
                // 呼叫 loading
                window.loading('show');
                var tabItem = $('.c-tab__item.is-active');
                var tabTarget = tabItem.data('tab-target');
                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');

                var sorting = $(this).val();
                var $this = $(this);
                var $linkTable = tabPanel.find(`[data-table-name="${$(this).data('sorting-linkto')}"]`);
                var sortingColumn = tabPanel.find('option:selected', this).data('sorting-column');
                var orderby = tabPanel.find('option:selected', this).data('sorting-class');

                // 連動 table
                tabPanel.find('.o-sorting').removeClass('is-asc is-desc');
                tabPanel.find(`[data-sorting-column="${sortingColumn}"]`).addClass(orderby);

                var selectedValue = tabPanel.find('.o-pelletbox__input:checked').val();
                var pageSize = tabPanel.find('.o-selectbox--pagesize').val();
                console.log('連棟排序');
                loadData(tabTarget, selectedValue, 1, pageSize, sortingColumn, orderby);
                setTimeout(() => {
                    // 關閉loading
                    window.loading('hide');
                }, 300);
            });


            //切換基金類型
            $('.o-pelletbox__input').on('change', function (event) {
                window.loading('show');
                var selectedValue = event.target.value;
                var tabTarget = findTabPanelId(this);
                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                var pageSize = tabPanel.find('.o-selectbox--pagesize').val();
                var currentPage = tabPanel.find('.o-pagination__no').val(1);
                var sortingColumns = findSortingColumns();
                sortingColumns.forEach(function (sortingInfo) {
                    console.log('切換:', 'TAB:', tabTarget, '，選擇的基金類型:', selectedValue, '，現在第幾頁:', currentPage, "，現在顯示幾筆:", pageSize, "，排序順序:", sortingInfo.column, "，升冪還降冪:", sortingInfo.direction);
                    loadData(tabTarget, selectedValue, 1, pageSize, sortingInfo.column, sortingInfo.direction);
                });
                //tabPanel.find('[data-pagination="true"]').pagination('goto', 1);
                setTimeout(() => {
                    // 關閉loading
                    window.loading('hide');
                }, 300);
            });


            //找他的父Tab
            function findTabPanelId(element) {
                var parent = element.parentElement;
                while (parent) {
                    if (parent.dataset.tabPanelId) {
                        return parent.dataset.tabPanelId;
                    }
                    parent = parent.parentElement;
                }
                return null;
            }

            //原幣台幣切換
            function ChangeCurrency(tabTarget) {
                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                var capsuleboxInputs = tabPanel.find('.o-capsulebox__input');

                Array.from(capsuleboxInputs).forEach(function (input) {
                    input.addEventListener('change', function (event) {
                        window.loading('show');
                        var selectedValue = event.target.value;

                        Array.from(capsuleboxInputs).forEach(function (input) {
                            if (input.value === selectedValue) {
                                input.classList.add('selected');
                            } else {
                                input.classList.remove('selected');
                            }
                        });

                        var pageSize = tabPanel.find('.o-selectbox--pagesize').val();
                        var selectedcolumn = tabPanel.find('.o-pelletbox__input:checked').val();
                        var currentPage = tabPanel.find('.o-pagination__no').val(1);
                        var sortingColumns = findSortingColumns();
                        sortingColumns.forEach(function (sortingInfo) {
                            if (selectedValue === "台幣" & sortingInfo.column === "SixMonthReturnOriginalCurrency") {
                                sortingInfo.column = "SixMonthReturnTWD"
                                loadData(tabTarget, selectedcolumn, 1, pageSize, sortingInfo.column, sortingInfo.direction);
                            } else if (selectedValue === "原幣" & sortingInfo.column === "SixMonthReturnOriginalCurrency") {
                                loadData(tabTarget, selectedcolumn, 1, pageSize, sortingInfo.column, sortingInfo.direction);
                            }
                            else {
                                OCTWD(selectedValue);

                            }
                            setTimeout(() => {
                                // 關閉loading
                                window.loading('hide');
                            }, 300);
                            console.log('台幣原幣切換:', tabTarget, selectedcolumn, 1, pageSize, sortingInfo.column, sortingInfo.direction);
                        });
                    });
                });
            }


            function OCTWD(selectedValue) {
                var returnOriginalList = document.querySelectorAll('.return-original');
                var returnTWDList = document.querySelectorAll('.return-twd');

                returnOriginalList.forEach(function (returnOriginal) {
                    if (selectedValue === "原幣") {
                        returnOriginal.style.display = "inline-flex";
                    } else {
                        returnOriginal.style.display = "none";
                    }
                });

                returnTWDList.forEach(function (returnTWD) {
                    if (selectedValue === "台幣") {
                        returnTWD.style.display = "inline-flex";
                    } else {
                        returnTWD.style.display = "none";
                    }
                });
            }


            // 分頁功能
            $('.o-pagination__no').on('update.pagination', function (e) {
                // 呼叫 loading
                window.loading('show');
                var page = parseInt($(this).val());
                console.log(`頁碼：${page}`);

                var tabItem = $('.c-tab__item.is-active');
                var tabTarget = tabItem.data('tab-target');

                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                var pageSize = tabPanel.find('.o-selectbox--pagesize').val();
                console.log(`每頁顯示：${pageSize}`);

                var selectedValue = tabPanel.find('.o-pelletbox__input:checked').val();
                console.log(tabTarget, selectedValue, page, pageSize);
                var totalPages = parseInt(tabPanel.find('.o-pagination').attr('data-total'));

                var sortingColumns = findSortingColumns();
                sortingColumns.forEach(function (sortingInfo) {
                    console.log('Sorting column:', sortingInfo.column, 'Sorting direction:', sortingInfo.direction);
                    loadData(tabTarget, selectedValue, page, pageSize, sortingInfo.column, sortingInfo.direction);
                });

                var page = tabPanel.find('.o-pagination__no').val(page);

                // scroll 到表頭
                tabPanel.find('.l-table').scrollPosition('scroll');

                // 因展示，故使用 setTimeout 延遲關閉 loading
                setTimeout(() => {
                    // 關閉loading
                    window.loading('hide');
                }, 300);
            });

            // 分頁筆數功能
            $('[data-sizebox="true"]').on('change.pagesize', function (e) {
                // 呼叫 loading
                window.loading('show');
                var size = $(this).val();
                console.log(`每頁顯示${size}筆`);
                pageSize = parseInt(size); // 更新每頁顯示記錄數
                var tabItem = $('.c-tab__item.is-active');
                var tabTarget = tabItem.data('tab-target');
                var tabPanel = $('.c-tab__panel[data-tab-panel-id="' + tabTarget + '"]');
                var selectedValue = tabPanel.find('.o-pelletbox__input:checked').val();
                var page = $('.o-pagination__no').val(1);
                var totalPages = tabPanel.find('#totalPages').val();

                var $parentWrap = $(this).closest('.l-pagination');
                var dataLength = parseInt(totalPages) * 10;
                $parentWrap.find('.l-pagination__switch').toggleClass('u-hidden', size === 'all');

                // scroll 到表頭
                tabPanel.find('.l-table').scrollPosition('scroll');

                if (size === 'all') {
                    var sortingColumns = findSortingColumns();
                    sortingColumns.forEach(function (sortingInfo) {
                        console.log('Sorting column:', sortingInfo.column, 'Sorting direction:', sortingInfo.direction);
                        loadData(tabTarget, selectedValue, 1, 'all', sortingInfo.column, sortingInfo.direction);
                    });
                } else {

                    var sortingColumns = findSortingColumns();
                    sortingColumns.forEach(function (sortingInfo) {
                        console.log('Sorting column:', sortingInfo.column, 'Sorting direction:', sortingInfo.direction);
                        loadData(tabTarget, selectedValue, 1, pageSize, sortingInfo.column, sortingInfo.direction);
                    });
                    $('.o-pagination__prev').addClass('is-disabled');
                }

                // 因展示，使用 setTimeout 延遲關閉 loading
                setTimeout(() => {
                    // 關閉loading
                    window.loading('hide');
                }, 300);
            });


        });
    })(jQuery, window, document);
</script>