@using Feature.Wealth.Component.Models.FundReturn
@model Feature.Wealth.Component.Models.FundReturn.FundReturnDetailModel

@{
    var fundname = Model.FundName;
    var subscriptionFee = Model.SubscriptionFee;
    var fundConversionFee = Model.FundConversionFee.ToString("0.##");
    var fundShareConvFeeToBank = Model.FundShareConvFeeToBank.ToString("0.##");
    var isFeePost = Model.FeePostCollectionType == "Y";
    var bankDeferPurchase = Model.BankDeferPurchase;
    var fundMgmtFee = Model.FundMgmtFee.ToString("0.##");
    var fundShareMgmtFeeToBank = Model.FundShareMgmtFeeToBank.ToString("0.##");
    var currentYear = new System.Globalization.TaiwanCalendar().GetYear(DateTime.UtcNow);
    var fundCompanyName = Model.FundCompanyName;
    var fundSponsorSeminarsEduToBank = Model.FundSponsorSeminarsEduToBank;
    var fundOtherMarketingToBank = Model.FundOtherMarketingToBank;

    //FundSponsorSeminarsEduToBank揭露標準
    int boundS = 200;
    //FundOtherMarketingToBank揭露標準
    int boundO = 100;
}
@functions {
    //揭露標準顯示判斷
    public string GetDisplayWithBound(decimal value, decimal bound)
    {
        if (value > bound)
        {
            return value.ToString();
        }
        else if (value > 0)
        {
            return string.Format("未達{0}萬元揭露門檻", bound);
        }
        else
        {
            return "未收取";
        }
    }
}

<div class="l-article">
    <div class="l-article__title">
        <span class="t2 t-bold">@fundname</span>
    </div>
    <div class="l-article__date">
        <span class="t-date">資料日期 : @Model.UpdateTime.ToString("yyyy/MM/dd")</span>
    </div>
    <div class="l-article__text">
        @string.Format("本行銷售{0}「{1}」所收取之通路報酬如下:", fundCompanyName, fundname)
    </div>
    <div class="l-article__content">
        <section class="c-section c-section--article">
            <div class="c-section__title">1. 投資人支付</div>
            <div class="c-section__conetnt">
                <div class="l-table">
                    <table class="c-table">
                        <colgroup>
                            <col style="width: 34%;">
                            <col style="width: 66%;">
                        </colgroup>
                        <thead>
                            <tr class="u-nowrap">
                                <th>
                                    <div class="c-table__title">
                                        <span>項目</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>說明</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    申購手續費分成 (%) (依 台端申購金額或贖回金額)
                                </td>
                                <td>
                                    <ol class="c-list c-list--num">
                                        <li>台端支付的基金申購手續費率為 @subscriptionFee，其中本行收取不多於 @subscriptionFee。</li>
                                        <li>台端支付的基金轉換/轉申購手續費為 @fundConversionFee%，其中本行收取不多於 @fundShareConvFeeToBank%。</li>
                                    </ol>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>


        <section class="c-section c-section--article">
            @{
                string fundSponsorContent;
                if (fundSponsorSeminarsEduToBank > boundS)
                {
                    fundSponsorContent = string.Format("本行{0}年度銷售{1}，投信/總代理人/境外基金機構預計可收取 {2}萬元之產品說明會及員工教育訓練之金額。", currentYear, fundCompanyName, fundSponsorSeminarsEduToBank);

                }
                else if (fundSponsorSeminarsEduToBank > 0)
                {
                    fundSponsorContent = string.Format("{0}年度說明會及教育訓練贊助或提供：{1}。", currentYear, GetDisplayWithBound(fundSponsorSeminarsEduToBank, boundS));
                }
                else
                {
                    fundSponsorContent = string.Format("{0}年度說明會及教育訓練贊助或提供：{1}。", currentYear, GetDisplayWithBound(fundSponsorSeminarsEduToBank, boundS));
                }


                string fundOtherContent;

                if (fundOtherMarketingToBank > boundO)
                {
                    fundOtherContent = string.Format("本行全年自{0}投信/總代理人/境外基金機構獲得其他報酬：{1}萬元。", fundCompanyName, fundOtherMarketingToBank);
                }
                else if (fundOtherMarketingToBank > 0)
                {
                    fundOtherContent = string.Format("本行全年自{0}投信/總代理人/境外基金機構獲得其他報酬：{1}。", fundCompanyName, GetDisplayWithBound(fundOtherMarketingToBank, boundO));
                }
                else
                {
                    fundOtherContent = string.Format("全年度其他報酬：{0}。", GetDisplayWithBound(fundOtherMarketingToBank, boundO));
                }
            }

            <div class="c-section__title">2. 境外基金機構、總代理人或投信支付</div>
            <div class="c-section__conetnt">
                <div class="l-table">
                    <table class="c-table">
                        <colgroup>
                            <col style="width: 34%;">
                            <col style="width: 66%;">
                        </colgroup>
                        <thead>
                            <tr class="u-nowrap">
                                <th>
                                    <div class="c-table__title">
                                        <span>項目</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>說明</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    經理費分成 (%) (依 台端持有金額)
                                </td>
                                <td>
                                    本基金經理費收入為年率 @fundMgmtFee%（含經銷費（Distribution Fee、12b-1 Fee）等），台端持有本基金期間，本行收取不超過年率 @fundShareMgmtFeeToBank%。
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    贊助或提供對銷售機構之產品說明會及員工教育訓練
                                </td>
                                <td>
                                    @fundSponsorContent
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    其他報酬
                                </td>
                                <td>
                                    @fundOtherContent
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>


        <section class="c-section c-section--article">
            <div class="c-section__title">計算說明：</div>
            @{
                string calculateContent, calculateIntro, calculateExample;

                if (isFeePost)
                {
                    var bankDeferPurchaseAmount = (100000 * bankDeferPurchase / 100).ToString("#,##0.####");

                    calculateContent = string.Format("「{0}」之手續費遞延至贖回時收取(申購時無需支付)及經理費 {1}%，本行銷售之遞延申購手續費分成不多於 {2}%、經理費分成不多於 {3}%，另本行 {4} 年度銷售 {5} 基金，該投信/總代理人/境外基金機構預計贊助產品說明會及員工教育訓練之金額合計為「{6}」，預計贊助其他報酬合計為「{7}」。",
                    fundname, fundMgmtFee, bankDeferPurchase.ToString("0.##"), fundShareMgmtFeeToBank, currentYear, fundCompanyName, GetDisplayWithBound(fundSponsorSeminarsEduToBank, boundS), GetDisplayWithBound(fundOtherMarketingToBank, boundO));

                    calculateIntro = "";

                    calculateExample = string.Format("本基金手續費遞延至贖回時收取，申購時無需支付，本行將自基金公司收取不多於 {0}元 (100,000 ＊ {1}% = {2}元)",
                    bankDeferPurchaseAmount, bankDeferPurchase.ToString("0.##"), bankDeferPurchaseAmount);
                }
                else
                {
                    decimal subscriptionFeeNum;
                    var subscriptionFeeAmount = decimal.TryParse(subscriptionFee.Replace("%", ""), out subscriptionFeeNum) ? ((100000 * (subscriptionFeeNum / 100))).ToString("#,##0.####") : "";

                    calculateContent = string.Format("「{0}」之申購手續費 {1}% 及經理費 {2}%，本行銷售之申購手續費分成不多於 {3}%、經理費分成不多於 {4}%，另本行 {5} 年度銷售 {6}基金，該投信/總代理人/境外基金機構預計贊助產品說明會及員工教育訓練之金額合計為「{7}」，預計贊助其他報酬合計為「{8}」。",
                    fundname, subscriptionFeeNum, fundMgmtFee, subscriptionFeeNum, fundShareMgmtFeeToBank, currentYear, fundCompanyName, GetDisplayWithBound(fundSponsorSeminarsEduToBank, boundS), GetDisplayWithBound(fundOtherMarketingToBank, boundO));

                    calculateIntro = "台端每投資100,000元於本基金，本行每年收取之通路報酬如下:";

                    calculateExample = string.Format("由 台端所支付之 {0} 元申購手續費中收取不多於 {1} 元 （100,000 ＊ {2}% ＝ {3}元）",
                    subscriptionFeeAmount, subscriptionFeeAmount, subscriptionFeeNum, subscriptionFeeAmount);
                }
            }
            <div class="c-section__conetnt">
                @calculateContent
            </div>
        </section>
        <section class="c-section c-section--article">
            <div class="c-section__title">釋例：</div>
            <div class="c-section__conetnt">
                <div class="l-list l-list--sm">
                    <div class="l-list__item">
                        @calculateIntro
                    </div>
                    <div class="l-list__item">
                        <ol class="c-list c-list--num c-list--sm">
                            <li>
                                @calculateExample
                            </li>
                            <li>
                                @fundCompanyName 支付：
                                <ol class="c-list c-list--bracketNum c-list--min">
                                    <li>
                                        台端持有本基金期間之經理費分成：不多於 1,000元（100,000 ＊ 1% ＝ 1,000元）
                                    </li>
                                    <li>
                                        @string.Format("產品說明會及員工教育訓練：{0}", GetDisplayWithBound(fundSponsorSeminarsEduToBank, boundS))
                                    </li>
                                    <li>
                                        @string.Format("本行全年自{0}獲得其他報酬：{1}", fundCompanyName, GetDisplayWithBound(fundOtherMarketingToBank, boundO))
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-section c-section--article">
            <div class="c-section__conetnt">
                <div class="t-note">
                    附註：本行辦理基金銷售業務，係自各境外基金機構、總代理人及證券投資信託事業收取通路報酬（各項報酬、費用及其他利益），以支應投資人服務及行銷成本。惟因各基金性質不同且各基金公司之行銷策略不同，致本行銷售不同基金時，自各基金公司收取通路報酬之項目及金額因而有所不同。本行及業務人員所銷售之基金，容或與 台端個人投資組合之利益不相一致，請 台端依個人投資目標及基金風險屬性，慎選投資標的。未來若相關通路報酬變動將於本行網頁上公告，不另行通知台端。
                </div>
            </div>
        </section>
    </div>
</div>