@using Feature.Wealth.Component.Models.USStock
@model USStockDetailModel

@if (Model == null)
{
    return;
}

<div class="l-mainstage">
    <div class="l-mainstage__wrap">
        <div class="l-mainstage__content">
            <div class="l-pageHeader">
                <div class="l-pageHeader__title">
                    <div class="c-pageHeader">
                        <div class="c-pageHeader__main">
                            <h1 class="c-pageHeader__title">@(Model.USStock.FirstBankCode + " " + Model.USStock.ChineseName)</h1>
                            <!-- 如果沒有tag，不要放 div.c-pageHeader__tags 區塊 -->
                            @if (Model.USStock.Discount != null && Model.USStock.Discount.Any())
                            {
                                <div class="c-pageHeader__tags">
                                    <ul class="l-tag">
                                        @foreach (var tag in Model.USStock.Discount)
                                        {
                                            <li class="l-tag__item">
                                                <span class="o-tag">@tag</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                        <div class="c-pageHeader__subContent">
                            <h2 class="c-pageHeader__subTitle">@Model.USStock.EnglishName</h2>
                        </div>
                        <div class="c-pageHeader__views">
                            <div class="o-views o-views--bk" data-eh="visit-update,visit-exec" eh-visit-pageid="@Model.PageID" eh-visit-qs="id=@Model.USStock.FirstBankCode"></div>
                        </div>
                    </div>
                </div>
                <div class="l-pageHeader__content">
                    <div class="l-pageHeader__info">
                        <div class="l-detailInfo">
                            <div class="l-detailInfo__major">
                                <div class="l-detailInfo__item">
                                    <div class="c-numerical">
                                        <div class="c-numerical__title u-left@dt-only"><span>收盤價</span></div>
                                        <div class="c-numerical__content c-numerical__content--xl u-left@dt-only"><span>@Model.USStock.ClosingPriceText</span></div>
                                    </div>
                                </div>
                                <div class="l-detailInfo__item">
                                    <div class="c-numerical">
                                        <div class="c-numerical__title u-left@dt-only"><span>收盤日</span></div>
                                        <div class="c-numerical__content c-numerical__content--xl u-left@dt-only"><span>@Model.USStock.DataDate</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="l-detailInfo__lower">
                                <div class="l-detailInfo__item">
                                    <div class="c-numerical c-numerical--horiz@lt">
                                        <div class="c-numerical__title u-left@dt-only"><span>交易所代碼</span></div>
                                        <div class="c-numerical__content c-numerical__content--xl@dt-only u-left@dt-only"><span>@Model.USStock.FundCode</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-pageHeader__action">
                        <ul class="l-pageWallet">
                            <li class="l-pageWallet__item">
                                @Model.USStock.FocusButton
                            </li>
                            @if (Model.USStock.AvailabilityStatus != "N" && Model.USStock.OnlineSubscriptionAvailability != "N")
                            {
                                <li class="l-pageWallet__btn">
                                    @Model.USStock.SubscribeButton
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-wrap">
    <div class="c-tab c-tab--wide" data-tab="true">
        <div class="c-tab__header">
            <ul class="c-tab__navs">
                <!-- .is-active: 作用中的項目 -->
                <!-- [data-tab-target]: 值需對應 [data-tab-panel-id] 的值，按下後會自動顯示相對的 panel -->
                <!-- 若為外連，不要賦予[data-tab-target]屬性 -->
                <li><a href="#" class="c-tab__item is-active" target="_self" title="基本資料" data-tab-target="tab-1">基本資料</a></li>
                <li><a href="#" class="c-tab__item " target="_self" title="財務資料" data-tab-target="tab-2">財務資料</a></li>
                <li><a href="#" class="c-tab__item " target="_self" title="價格走勢" data-tab-target="tab-3">價格走勢</a></li>
            </ul>
            <div class="c-tab__collapse">
                <a href="#" class="c-tab__switch"></a>
                <div class="c-tab__dropdown">
                    <a href="#" class="c-tab__clone is-active" target="_self" title="基本資料" data-tab-target="tab-1">基本資料</a>
                    <a href="#" class="c-tab__clone " target="_self" title="財務資料" data-tab-target="tab-2">財務資料</a>
                    <a href="#" class="c-tab__clone " target="_self" title="價格走勢" data-tab-target="tab-3">價格走勢</a>
                </div>
            </div>
        </div>
        <!-- is-active: 作用中的項目 -->
        <div class="c-tab__panel is-active" data-tab-panel-id="tab-1">
            <section class="l-flex u-flex-col u-flex-gap-sm">
                <div class="l-flex__item">
                    <div class="l-selectbox">
                        <div class="l-selectbox__item">
                            <select class="o-selectbox o-selectbox--full o-selectbox--form" data-width="100%" data-selection-css-class="select2-selection--form" data-selectbox="true" data-select-name="tab-1">
                                <option value="1001">基本資料</option>
                                <option value="1017">相關企業</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item"></div>
            </section>
        </div>
        <div class="c-tab__panel" data-tab-panel-id="tab-2">
            <section class="l-flex u-flex-col u-flex-gap-sm">
                <div class="l-flex__item">
                    <div class="l-selectbox">
                        <div class="l-selectbox__item">
                            <select class="o-selectbox o-selectbox--full o-selectbox--form" data-width="100%" data-selection-css-class="select2-selection--form" data-selectbox="true" data-select-name="tab-2">
                                <option value="3001">營收分析</option>
                                <option value="3002">資產負債表</option>
                                <option value="3003">損益表</option>
                                <option value="3004">現金流量表</option>
                                <option value="3005">財務比率表</option>
                                <option value="3010">獲利能力</option>
                                <option value="3011">財務結構</option>
                                <option value="3012">盈餘分析</option>
                                <option value="3013">經營績效</option>
                                <option value="3014">現金流量分析</option>
                                <option value="3015">償還能力</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item"></div>
            </section>
        </div>
        <div class="c-tab__panel" data-tab-panel-id="tab-3">
            <section class="l-flex u-flex-col u-flex-gap-sm">
                <div class="l-flex__item">
                    <div class="l-selectbox">
                        <div class="l-selectbox__item">
                            <select class="o-selectbox o-selectbox--full o-selectbox--form" data-width="100%" data-selection-css-class="select2-selection--form" data-selectbox="true" data-select-name="tab-3">
                                <option value="4008">技術分析</option>
                                <option value="4010">收盤走勢圖</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item"></div>
            </section>
        </div>
        <iframe id="SysJustIFRAME" width="100%" scrolling="no"></iframe>
        @if (Model.USStock.HotProductTags != null && Model.USStock.HotProductTags.Any())
        {
            <div class="c-hashTags">
                <div class="c-hashTags__title">Tags</div>
                <div class="c-hashTags__content">
                    <ul class="l-divideList l-divideList--sm">
                        @foreach (var tag in Model.USStock.HotProductTags)
                        {
                            <li class="l-divideList__item l-divideList__item--auto">
                                <a href="@(Model.SearchUrl + "?HotProduct=" + tag)" class="o-hashTag u-nowrap" target="_blank">#@tag</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

    </div>
</div>

<script>
    $(function () {
        var ACTIONS = {
            APPROVED: 0,
            RESIZE: 1,
            HEIGHT: 2,
            URL: 3,
            UNLOAD: 4,
            NAVIGATE: 5,
            AUTHORIZE: 6,
            SCROLL: 7,
            NAVIGATE_PRODUCT_PATH: 8,
            LOADING_VISIBLE: 9,
            SCROLLAR_VISIBLE: 10,
            WINDOW_SIZE: 11,
        };

        var _targetOrigin = document.location.origin;
        var _selector = '#SysJustIFRAME';
        var _iframeInst = null;
        var _self = this;
        var _name = 'sysjust b2brwd corp';

        function setIframeSrc(val) {
            $(_selector).attr('src', `@(Model.b2brwdDomain)/b2brwdCommon/proxy/gopage.xdjhtm?aspid=firstbank&bid=@(Model.USStock.FirstBankCode)&api=${val}`);
        }

        function init() {
            setIframeSrc('1001');

            // Add Lister to
            $(_selector)
                .on('load', iframeLstr)
                .trigger('load');

            window.addEventListener('message', receiveMessage);
        }

        // iframe Listener
        function iframeLstr(e, url) {
            _iframeInst = document.getElementById($(this).attr('id')).contentWindow;

            _updateWindowSize();

            onResize(function () {
                _postMessage({ action: ACTIONS.RESIZE, data: true });
                _updateWindowSize();
            });
        }

        // resize helper
        function onResize(callback) {
            var reload_timeout;

            $(window).on('resize', function () {
                clearTimeout(reload_timeout);
                reload_timeout = setTimeout(callback, 500);
            });
        }

        function receiveMessage(e) {
            var msg = {};

            try {
                msg = typeof e.data === 'object' ? e.data : JSON.parse(e.data);
            } catch (e) {
                return;
            }

            if (msg.name !== _name) return;

            msg.status = 'receive';
            msg.actionName = _getActionName(msg.action);

            switch (msg.action) {
                case ACTIONS.HEIGHT:
                    $(_selector).outerHeight(msg.data + 10);
                    break;
                default:
                    break;
            }
        }

        function _updateWindowSize() {
            _postMessage({
                action: ACTIONS.WINDOW_SIZE,
                data: {
                    width: window.innerWidth,
                    height: window.innerHeight
                }
            });
        }

        function _postMessage(msg) {
            var luggage = {
                name: _name,
                action: msg.action,
                data: msg.data
            };

            _iframeInst.postMessage(luggage, _targetOrigin);

            luggage.status = 'send';
            luggage.actionName = _getActionName(luggage.action);

        }

        function _getActionName(act) {
            var val;

            Object.entries(ACTIONS).some(function (el) {
                if (el[1] === act) {
                    val = el[0];
                    return true;
                }

                return false;
            });

            return val;
        }

        $('select').on('change', function () {
            var val = this.value;

            setIframeSrc(val);
        });

        $('[data-tab-target]').on('click', function () {
            var name = DOMPurify.sanitize($(this).attr("data-tab-target"));
            var val = $(`[data-select-name=${name}`)[0].value;

            setIframeSrc(val);
        });

        $('[data-popup]').magnificPopup();
        $('[eh-compare]').trigger('exec');
        $('[eh-focus]').trigger('exec');
        $('[eh-subscription-type]').trigger('exec');

        init();
    });
</script>