@using Feature.Wealth.Component.Models.JoinMemberInfo
@model JoinMemberInfoModel

@if (Model == null)
{
    return;
}

<section class="c-block" data-aos="fade-up" data-aos-once="true">
    <div class="c-block__wrap">
        <hgroup class="c-block__header">
            <h2 class="c-block__title">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Title.ToString(), Model.Item)</h2>
            <p class="c-block__subtitle">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Subtitle.ToString(), Model.Item)</p>
        </hgroup>
        <div class="c-block__content">
            <div class="l-feature">
                <ul class="l-feature__list">
                    <li class="l-feature__item">
                        <div class="c-feature c-feature--personalize">
                            <hgroup class="c-feature__content">
                                <h3 class="c-feature__title">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Title1.ToString(), Model.Item)</h3>
                                <p class="c-feature__desc">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Description1.ToString(), Model.Item)</p>
                            </hgroup>
                            <img src=@Model.Image1 srcset=@Model.Image1_3X alt="個人化商品推薦" class="c-feature__img">
                        </div>
                    </li>
                    <li class="l-feature__item">
                        <div class="c-feature c-feature--follow">
                            <hgroup class="c-feature__content">
                                <h3 class="c-feature__title">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Title2.ToString(), Model.Item)</h3>
                                <p class="c-feature__desc">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Description2.ToString(), Model.Item)</p>
                            </hgroup>
                            <img src=@Model.Image2 srcset=@Model.Image2_3X alt="觀察清單" class="c-feature__img">
                        </div>
                    </li>
                    <li class="l-feature__item">
                        <div class="c-feature c-feature--remote">
                            <hgroup class="c-feature__content">
                                <h3 class="c-feature__title">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Title3.ToString(), Model.Item)</h3>
                                <p class="c-feature__desc">@Html.Sitecore().Field(Template.JoinMemberInfo.Fields.Description3.ToString(), Model.Item)</p>
                            </hgroup>
                            <img src=@Model.Image3 srcset=@Model.Image3_3X alt="遠距理財服務" class="c-feature__img">
                        </div>
                    </li>
                </ul>
                <div class="l-feature__actions">
                    @* TODO：尚未製作登入後隱藏立即加入按鈕 *@
                    <a href="#popupLogin" class="o-btn o-btn--primary o-btn--lg" data-popup="true">立即加入</a>
                </div>
            </div>
        </div>
    </div>
</section>