@using Foundation.Wealth.Helper;
@using Feature.Wealth.Component.Models.Invest;
@using Feature.Wealth.Component.Models.AwardFund
@model AwardFundModel

@foreach (var item in Model.AwardFunds)
{
	<tr class="c-cardTable__item u-nowrap@dt-only u-center@dt-only">
		<td class="c-cardTable__top"></td>
		<td class="c-cardTable__header u-wrap@dt-only u-left@dt-only">
			<div class="c-cardTable__content">
				<div class="l-target">
					<div class="l-target__name">
						<a href="@Model.DetailLink?id=@item.ProductCode" class="o-contentLink t-bold u-ellipsis-2" target="_blank">@item.ProductCode @item.FundName</a>
					</div>
					@if (item.Tags != null)
					{
						<div class="l-target__additional">
							<ul class="l-tag">
								@for (var i = 0; i < item.Tags.Count; i++)
								{
									<li class="l-tag__item">
										<a href="#" class="o-tag">@item.Tags[i] </a>
									</li>
								}
							</ul>
						</div>
					}
				</div>
			</div>
		</td>
		<td class="c-cardTable__space"></td>
		<td class="c-cardTable__body" data-card-table-width="1/2">
			<div class="c-cardTable__title" data-length="5">最新淨值<br>(淨值日)</div>
			<div class="c-cardTable__content">@item.NetAssetValue<br><span class="t-date">@item.NetAssetValueDate.ToString("yyyy-MM-dd")</span></div>
		</td>
		<td class="c-cardTable__body" data-card-table-width="1/2">
			<div class="c-cardTable__title" data-length="5">
				幣別
				<a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
			</div>
			<div class="c-cardTable__content">
				@Html.CurrencyLink(null, item.CurrencyName)
			</div>
		</td>
		<td class="c-cardTable__body" data-card-table-width="1/2">
			<div class="c-cardTable__title" data-length="5">基金類型</div>
			<div class="c-cardTable__content">
				@item.FundTypeNameByAPI
			</div>
		</td>
		<td class="c-cardTable__body" data-card-table-width="1/2">
			<div class="c-cardTable__title" data-length="5">年度</div>
			<div class="c-cardTable__content">
				@item.Year
			</div>
		</td>
		<td class="c-cardTable__body" data-card-table-width="1/2">
			<div class="c-cardTable__title" data-length="5">得獎名稱</div>
			<div class="c-cardTable__content">
				@item.AwardName
			</div>
		</td>
		<td class="c-cardTable__space"></td>
		<td class="c-cardTable__footer" data-card-table-width="@((item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability))) ? "2/3" : "1/1")">
			<div class="c-cardTable__content">
				<ul class="l-collect l-collect--divider@lt">
					<li class="l-collect__item">
						@Html.FocusButton(null, item.ProductCode, item.FundName, InvestTypeEnum.Fund, true)
					</li>
					<li class="l-collect__item">
						@Html.CompareButton(null, item.ProductCode, item.FundName, InvestTypeEnum.Fund, true)
					</li>
				</ul>
			</div>
		</td>
		<td class="c-cardTable__footer" data-card-table-width="1/3">
			<div class="c-cardTable__content">
				@if (item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability)))
				{
					@Html.SubscriptionButton(null, item.ProductCode, InvestTypeEnum.Fund, true)
				}
			</div>
		</td>
	</tr>
}