@using Foundation.Wealth.Helper
@using Feature.Wealth.ScheduleAgent.Models.Mail
@using Feature.Wealth.Account.Helpers;

<div class="c-empty" data-noInfoList>
    <div class="c-empty__img">
        <img src="~/themes/images/lions/lion-common.svg" alt="">
    </div>
    <div class="c-empty__desc">您目前尚未有訊息通知</div>
</div>

<div class="l-flex u-flex-col u-flex-gap-sm u-hidden" data-InfoList>
    <div class="l-flex__item">
        <div class="l-flex u-flex-stretch@lt u-flex-col@lt u-flex-gap-sm">
            <div class="l-flex__item">
                <div class="l-selectbox">
                    <div class="l-selectbox__item">
                        <select class="o-selectbox o-selectbox--full o-selectbox--form" data-width="100%" data-selection-css-class="select2-selection--form" data-selectbox="true" id="MailInfoType_criteria">
                            <option value="all">全部通知</option>
                            <option value="@MailInfoTypeEnum.到價通知.ToString()">@MailInfoTypeEnum.到價通知.ToString()</option>
                            @if (!string.IsNullOrEmpty(FcbMemberHelper.GetMemberWebBankId()))
                            {
                                <option value="@MailInfoTypeEnum.理顧預約.ToString()">@MailInfoTypeEnum.理顧預約.ToString()</option>
                            }
                            <option value="@MailInfoTypeEnum.優惠活動.ToString()">@MailInfoTypeEnum.優惠活動.ToString()</option>
                            <option value="@MailInfoTypeEnum.週月報.ToString()">@MailInfoTypeEnum.週月報.ToString()</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="l-felx__item l-felx__item--auto u-right">
                <a href="javascript:;" class="o-prefixLink o-prefixLink--readAll o-prefixLink--sm" id="ReadAllBtn">全部已讀</a>
            </div>
        </div>
    </div>
    <div class="l-flex__item">
        <div class="l-table">
            <table class="c-table@dt-only c-cardTable@lt c-cardTable--zebra">
                <colgroup>
                    <col style="width: 1%;">
                    <col style="width: 1%;">
                    <col style="width: 1%;">
                    <col style="width: auto;">
                </colgroup>
                <thead>
                    <tr class="u-nowrap">
                        <th>
                            <div class="c-table__title">
                                <span>未讀</span>
                            </div>
                        </th>
                        <th>
                            <div class="c-table__title">
                                <span>日期/時間</span>
                            </div>
                        </th>
                        <th>
                            <div class="c-table__title">
                                <span>通知項目</span>
                            </div>
                        </th>
                        <th>
                            <div class="c-table__title">
                                <span>通知內容</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="uid-fjs-infoList" data-infoList-Table></tbody>

                <script id="uid-template-infoList" type="text/html">
                <tr class="c-cardTable__item u-center@dt-only">
                    <td class="c-cardTable__space"></td>
                    <!-- .u-important.u-hidden@mb-only: 若已讀，需要加上此樣式，以在手機版隱藏此欄位 -->
                    <td class="c-cardTable__body <% if (HaveRead){%><%= 'u-important u-hidden@mb-only' %><%}%>" data-card-table-width="1/1">
                        <div class="c-cardTable__content">
                            <!-- .u-invisible: 若已讀，需要加上此樣式，以便在pad版佔位不顯示(pad版需預留高度) -->
                            <div class="o-iconText o-iconText--dotOg t-focus u-middle <% if (HaveRead){%><%= 'u-invisible' %><%}%>" data-after-lt="未讀" data-recordNum="<%= RecordNumber %>" data-haveread="<%= HaveRead %>"></div>
                        </div>
                    </td>
                    <td class="c-cardTable__body" data-card-table-width="1/2">
                        <div class="c-cardTable__content u-nowrap@dt-only"><%= InfoDateTime %></div>
                    </td>
                    <td class="c-cardTable__body" data-card-table-width="1/2">
                        <div class="c-cardTable__content u-right@lt">
                            <span class="o-hangTag u-middle" data-mailType><%= MailInfoType %></span>
                        </div>
                    </td>
                    <td class="c-cardTable__body u-left">
                        <div class="c-cardTable__content u-line-2@lt-only">
                            <a href="<%= InfoLink %>" target="_blank" class="o-contentLink t-bold u-ellipsis-1@dt-only u-ellipsis-2@lt"><%= InfoContent %></a>
                        </div>
                    </td>
                    <td class="c-cardTable__space"></td>
                </tr>
                </script>
            </table>
            <div class="l-pagination">
                <div class="l-pagination__size" id="uid-perPage-infoList">
                </div>
                <script id="uid-template-perPage-infoList" type="text/html">
                    <span>每頁顯示</span>
                    <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                    <select id="uid-view-perPage-infoList" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
                        <% for(var i = 0; i < values.length - 1; i++ ) { %>
                        <option value="<%= values[i] %>"><%= values[i] %>筆</option>
                        <% } %>
                        <option value="<%= values[values.length - 1] %>">全部</option>
                    </select>
                </script>
                <div class="l-pagination__switch" id="uid-pagination-infoList">
                </div>
                <script id="uid-template-pagination-infoList" type="text/html">
                    <div class="o-pagination">
                        <% if (currentPage > 1) { %>
                        <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
                        <% } else { %>
                        <!-- .is-disabled: 停用狀態，無法點擊 -->
                        <a href="#" class="o-pagination__prev is-disabled"></a>
                        <% } %>
                        <span class="o-pagination__pager">
                            <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
                            <span class="o-pagination__total"><%= totalPages %></span>
                        </span>
                        <% if (currentPage < totalPages ) { %>
                        <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
                        <% } else { %>
                        <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
                        <% } %>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($, window, document, undefined) {
        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }

        function ConvertSqlDateTimeToJsDateTime(sqlDateTime)
        {
            let dataTimearray = sqlDateTime.split('T'); //ex ['2024-06-17','19:27:10.297']
            let dateStr = dataTimearray[0].replaceAll('-', '/');
            let timeArry = dataTimearray[1].split(':');
            let timeStr = timeArry[0] + ":" + timeArry[1];
            return dateStr + " " + timeStr;
        }
        function loading() {
            window.loading('show');
            setTimeout(() => {
                window.loading('hide');
            }, 300);
            }
            window.ResetMailInfoTable = function(data)  {

                let fjsInfoList;
                if (data) {
                    initFilter(data);
                } else {
                    $.ajax({
                        url: '@ClientRoute.GenerateUrl(this, "MemberInfoList", "GetAllInfoByMember")',
                        type: 'POST'
                    }).done(function (data, textStatus, jqXHR) {
                        if (data && data.length > 0) {
                            initFilter(data);
                            $('[data-noInfoList]').addClass('u-hidden');
                        }

                    }).fail(function (jqXHR, textStatus, errorThrown) {
                    });
                }
            }
            function initFilter(data) {
                    let opts = {
                        template: '#uid-template-infoList',
                        criterias: [
                            { field: 'MailInfoType', ele: '#MailInfoType_criteria', event: 'change', all: 'all' }
                        ],
                        callbacks: {
                            beforeRecordRender: function (record) {
                                record.InfoDateTime = ConvertSqlDateTimeToJsDateTime(record.InfoDateTime);
                            },
                            afterFilter: function (result) {
                                this.paginator.setCurrentPage(1);
                                $('[data-InfoList]').removeClass('u-hidden');
                            }
                        },
                        pagination: {
                            container: '#uid-pagination-infoList',
                            paginationView: '#uid-template-pagination-infoList',
                            visiblePages: 0,
                            perPage: {
                                values: [10, 50, 100, data.length],
                                container: '#uid-perPage-infoList',
                                perPageView: '#uid-template-perPage-infoList'
                            }
                        }
                };
                fjsInfoList = FilterJS(data, '#uid-fjs-infoList', opts);
                    function fnScrollUp() {
                        loading();
                        $('[data-infoList-Table]').scrollPosition('scroll');
                    }

                    function fnScrollUpPageTo1() {
                        loading();
                        $('[data-infoList-Table]').scrollPosition('scroll');
                        fjs.paginator.setCurrentPage(1);
                    }

                    let $containgerPagination = $('#uid-pagination-infoList');
                    $containgerPagination.on('click', '[data-page]', fnScrollUp);
                    $containgerPagination.on('keypress', '[data-page-input]', function (e) {
                        if (e.which === 13) {
                            fnScrollUp();
                        }
                    });
                    $('#uid-view-perPage-infoList').on('change.pagesize', fnScrollUpPageTo1).sizebox();
                }

            window.ResetMailInfoTable();
        $('#uid-fjs-infoList').on('click', 'tr', function () {
            let $this = $(this);
            let isRead = $this.find('[data-haveread]').data('haveread');
            if (isRead) {
                return;
            }
             $.ajax({
                url: '@ClientRoute.GenerateUrl(this, "MemberInfoList", "SetInfoHaveReadByMember")',
                 type: 'POST',
                 data: { "mailInfoType": $this.find('[data-mailType]').text(), "recordNumber": $this.find('[data-recordnum]').data('recordnum') },
                 beforeSend: function () { window.loading('show'); },
                 success : function(data, textStatus, jqXHR) {
                        if (data && data.success) {
                            window.ResetMailInfoTable();
                            window.ResetTopInfoList();
                            window.loading('hide');
                       }
                 },
                 error: function (jqXHR, textStatus, errorThrown) { },
                 complete: function () { $('.c-loading').loading('hide'); }
             });
        });
            $('#ReadAllBtn').on('click', function () {
                if ($('[data-haveread=false]').length == 0) {
                    return;
                }
             $.ajax({
                url: '@ClientRoute.GenerateUrl(this, "MemberInfoList", "SetAllInfoHaveReadByMember")',
                 type: 'POST',
                 beforeSend: function () { window.loading('show'); },
                 success : function(data, textStatus, jqXHR) {
                        if (data && data.success) {
                            window.ResetMailInfoTable();
                            window.ResetTopInfoList();
                            window.loading('hide');
                       }
                 },
                 error: function (jqXHR, textStatus, errorThrown) { },
                 complete: function () { $('.c-loading').loading('hide'); }
             });
        });
        });
    })(jQuery, window, document);
</script>