@using Foundation.Wealth.Helper
@using Feature.Wealth.Component.Models.Consult
@model ConsultListModel

@if (Model == null)
{
    return;
}

<div class="c-section">
    <div class="c-section__content">
        <div class="c-tab c-tab--icon" data-tab="true" data-docking="false">
            <div class="c-tab__header">
                <div class="c-tab__title">
                    <b class="t2">我的預約</b>
                </div>
                <ul class="c-tab__navs">
                    <!-- .is-active: 作用中的項目 -->
                    <!-- [data-tab-target]: 值需對應 [data-tab-panel-id] 的值，按下後會自動顯示相對的 panel -->
                    <!-- 若為外連，不要賦予[data-tab-target]屬性 -->
                    <li>
                        <a href="#" class="c-tab__item is-active" target="_self" title="列表" data-tab-target="tab-icon-1">
                            <img src="~/themes/images/icons/tab/list.svg" alt="">
                            <img src="~/themes/images/icons/tab/list-active.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="c-tab__item " target="_self" title="行事曆" data-tab-target="tab-icon-2">
                            <img src="~/themes/images/icons/tab/calendar.svg" alt="">
                            <img src="~/themes/images/icons/tab/calendar-active.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- is-active: 作用中的項目 -->
            <div class="c-tab__panel is-active" data-tab-panel-id="tab-icon-1">
                <div class="c-tab c-tab--capsule" data-tab="true" data-docking="false">
                    <div class="c-tab__header">
                        <ul class="c-tab__navs">
                            <li>
                                <a href="#" class="c-tab__item is-active" target="_self" title="預約成功" data-tab-target="tab-status-1">預約成功</a>
                            </li>
                            <li>
                                <a href="#" class="c-tab__item" target="_self" title="預約確認中" data-tab-target="tab-status-2">預約確認中</a>
                            </li>
                            <li>
                                <a href="#" class="c-tab__item" target="_self" title="歷史紀錄" data-tab-target="tab-status-3">歷史紀錄</a>
                            </li>
                        </ul>
                    </div>
                    <!-- is-active: 作用中的項目 -->
                    <div class="c-tab__panel is-active" data-tab-panel-id="tab-status-1">
                        <div class="l-table">
                            <table class="c-table@dt-only c-cardTable@lt c-cardTable--zebra">
                                <colgroup>
                                    <col style="width: 1%;">
                                    <col style="width: 2%;">
                                    <col style="width: 3%;">
                                    <col style="width: 3%;">
                                    <col style="width: 2%;">
                                    <col style="width: 1%;">
                                    <col style="width: 1%;">
                                </colgroup>
                                <thead>
                                    <tr class="u-nowrap">
                                        <th>
                                            <div class="c-table__title">
                                                <span>即將到來</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約日期</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約時段</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>電子信箱</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約明細</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>取消預約</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>開始諮詢</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody1">
                                </tbody>
                            </table>
                            <div class="l-pagination">
                                <div class="l-pagination__size" id="uid-perPage-1">
                                </div>
                                <div class="l-pagination__switch" id="uid-pagination-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-tab__panel" data-tab-panel-id="tab-status-2">
                        <div class="l-table">
                            <table class="c-table@dt-only c-cardTable@lt c-cardTable--zebra">
                                <colgroup>
                                    <col style="width: 2%;">
                                    <col style="width: 2%;">
                                    <col style="width: 3%;">
                                    <col style="width: 2%;">
                                    <col style="width: 1%;">
                                </colgroup>
                                <thead>
                                    <tr class="u-nowrap">
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約日期</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約時段</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>電子信箱</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約明細</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>取消預約</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody0">
                                </tbody>
                            </table>
                            <div class="l-pagination">
                                <div class="l-pagination__size" id="uid-perPage-0">
                                </div>
                                <div class="l-pagination__switch" id="uid-pagination-0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-tab__panel" data-tab-panel-id="tab-status-3">
                        <div class="l-table">
                            <table class="c-table@dt-only c-cardTable@lt c-cardTable--zebra">
                                <colgroup>
                                    <col style="width: 1%;">
                                    <col style="width: 1%;">
                                    <col style="width: 2%;">
                                    <col style="width: 1%;">
                                    <col style="width: 1%;">
                                </colgroup>
                                <thead>
                                    <tr class="u-nowrap">
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約日期</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約時段</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>電子信箱</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約狀態</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="c-table__title">
                                                <span>預約明細</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody2">
                                </tbody>
                            </table>
                            <div class="l-pagination">
                                <div class="l-pagination__size" id="uid-perPage-2">
                                </div>
                                <div class="l-pagination__switch" id="uid-pagination-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-tab__panel" data-tab-panel-id="tab-icon-2">
                <div class="c-schedule">
                    <div class="c-schedule__main" data-schedule></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-section">
    <div class="c-section__content">
        <div class="c-feature c-feature--join c-feature--personalize">
            <div class="c-feature__content u-center">
                <h3 class="c-feature__title">遠距諮詢 解決您的理財大小事</h3>
                <p class="c-feature__desc">貴賓專屬服務，不必再舟車勞頓到分行找您的理顧了，線上立即預約，視訊諮詢！如有任何問題請洽分行理專</p>
                <div class="c-feature__actions">
                    <a href="@Model.ConsultLink" class="o-btn o-btn--primary o-btn--flat o-btn--sm">立即預約</a>
                </div>
            </div>
            <div class="c-feature__plate">
                <img src="~/themes/images/features/rsp.png" alt="遠距諮詢 解決您的理財大小事" class="c-feature__img">
            </div>
        </div>
    </div>
</div>
<div class="c-section">
    <div class="c-section__title u-left">常見問題</div>
    <div class="c-section__content">
        <div class="l-flex u-flex-col u-flex-gap-sm">

            @foreach (var item in Model.QandAList)
            {
                <div class="l-flex__item">
                    <div class="c-collapse" data-collapse="true">
                        <div class="c-collapse__head" data-collapse-button="true">
                            <span>@item.Question</span>
                        </div>
                        <div class="c-collapse__content" data-collapse-content="true">
                            <div class="c-collapse__inner">
                                @item.Answer
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="c-section">
    <div class="c-section__content">
        <div class="c-collapse c-collapse--warning" data-collapse="true">
            <div class="c-collapse__head" data-collapse-button="true">
                <span>注意事項</span>
            </div>
            <div class="c-collapse__content" data-collapse-content="true">
                <div class="c-collapse__inner">
                    <div class="l-list l-list--xs">
                        @Model.Notice
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupDetail" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">預約明細</h2>
        </header>
        <div class="c-modal__content">
            <div class="l-info">
                <div class="l-info__item">
                    <div class="l-info__title">預約日期</div>
                    <div class="l-info__val" data-detail="ScheduleDate"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">預約時段</div>
                    <div class="l-info__val" data-detail="ScheduleTime"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">聯絡電話</div>
                    <div class="l-info__val" data-detail="Phone"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">電子信箱</div>
                    <div class="l-info__val" data-detail="Mail"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">諮詢主題</div>
                    <div class="l-info__val" data-detail="Subject"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">其他諮詢內容</div>
                    <div class="l-info__val" data-detail="Description"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupCancel" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">確認取消預約</h2>
        </header>
        <div class="c-modal__content">
            <div class="l-info">
                <div class="l-info__item">
                    <div class="l-info__title">預約理專</div>
                    <div class="l-info__val" data-detail="EmployeeName"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">預約日期</div>
                    <div class="l-info__val" data-detail="ScheduleDate"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">預約時段</div>
                    <div class="l-info__val" data-detail="ScheduleTime"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">聯絡電話</div>
                    <div class="l-info__val" data-detail="Phone"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">電子信箱</div>
                    <div class="l-info__val" data-detail="Mail"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">諮詢主題</div>
                    <div class="l-info__val" data-detail="Subject"></div>
                </div>
                <div class="l-info__item">
                    <div class="l-info__title">其他諮詢內容</div>
                    <div class="l-info__val" data-detail="Description"></div>
                </div>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-popup-close="true" data-cancel data-id="">確定取消</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="template0" type="text/html">
    <tr class="c-cardTable__item u-center@dt-only">
        <td class="c-cardTable__space"></td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約日期</div>
            <div class="c-cardTable__content"><%= ScheduleDateString %></div>
        </td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約時段</div>
            <div class="c-cardTable__content"><%= StartTime %>~<%= EndTime %></div>
        </td>
        <td class="c-cardTable__body">
            <div class="c-cardTable__title" data-length="5">電子信箱</div>
            <div class="c-cardTable__content"><%= Mail %></div>
        </td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約明細</div>
            <div class="c-cardTable__content">
                <a href="#popupDetail" class="o-link" data-popup="true" data-popup-name="popupDetail" data-id="<%= ScheduleID %>">查看</a>
            </div>
        </td>
        <td class="c-cardTable__space"></td>
        <td class="c-cardTable__footer" data-card-table-width="1/1">
            <div class="c-cardTable__content">
                <ul class="l-collect l-collect--divider@lt">
                    <li class="l-collect__item">
                        <a href="#popupCancel" class="o-statusBtn o-statusBtn--cancel" data-popup-name="popupCancel" data-after-lt="取消預約" data-msg="取消預約" data-ia="true" data-ia-toast="false" data-popup="true" data-id="<%= ScheduleID %>"></a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</script>

<script id="template1" type="text/html">
    <tr class="c-cardTable__item u-center@dt-only">
        <td class="c-cardTable__space"></td>
        <% if (Comming) { %>
            <td class="c-cardTable__body" data-card-table-width="1/1">
                <div class="c-cardTable__content">
                    <div class="o-iconText o-iconText--attention t-focus" data-after-lt="即將到來"></div>
                </div>
            </td>
        <% } else { %>
            <td class="c-cardTable__body u-important u-hidden@mb-only" data-card-table-width="1/1">
                <div class="c-cardTable__content">
                    <div class="o-iconText o-iconText--attention t-focus u-invisible" data-after-lt="即將到來"></div>
                </div>
            </td>
        <% } %>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約日期</div>
            <div class="c-cardTable__content"><%= ScheduleDateString %></div>
        </td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約時段</div>
            <div class="c-cardTable__content"><%= StartTime %>~<%= EndTime %></div>
        </td>
        <td class="c-cardTable__body">
            <div class="c-cardTable__title" data-length="5">電子信箱</div>
            <div class="c-cardTable__content"><%= Mail %></div>
        </td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約明細</div>
            <div class="c-cardTable__content">
                <a href="#popupDetail" class="o-link" data-popup="true" data-popup-name="popupDetail" data-id="<%= ScheduleID %>">查看</a>
            </div>
        </td>
        <td class="c-cardTable__space"></td>
        <td class="c-cardTable__footer" data-card-table-width="1/2">
            <div class="c-cardTable__content">
                <ul class="l-collect l-collect--divider@lt">
                    <li class="l-collect__item">
                        <a href="#popupCancel" class="o-statusBtn o-statusBtn--cancel" data-popup-name="popupCancel" data-after-lt="取消預約" data-msg="取消預約" data-ia="true" data-ia-toast="false" data-popup="true" data-id="<%= ScheduleID %>"></a>
                    </li>
                </ul>
            </div>
        </td>
        <td class="c-cardTable__footer" data-card-table-width="1/2">
            <div class="c-cardTable__content">
                <% if (Start) { %>
                    <a href="@(Model.ConsultScheduleLink)?id=<%= ScheduleID %>" class="o-tableBtn o-tableBtn--card@lt o-tableBtn--consult">開始諮詢</a>
                <% } else { %>
                    <a href="" class="o-tableBtn o-tableBtn--card@lt o-tableBtn--consult is-disabled">等待中</a>
                <% } %>
            </div>
        </td>
    </tr>
</script>

<script id="template2" type="text/html">
    <tr class="c-cardTable__item u-center@dt-only">
        <td class="c-cardTable__space"></td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約日期</div>
            <div class="c-cardTable__content"><%= ScheduleDateString %></div>
        </td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約時段</div>
            <div class="c-cardTable__content"><%= StartTime %>~<%= EndTime %></div>
        </td>
        <td class="c-cardTable__body">
            <div class="c-cardTable__title" data-length="5">電子信箱</div>
            <div class="c-cardTable__content"><%= Mail %></div>
        </td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約狀態</div>
            <% if (StatusCode == '2') { %>
                <div class="c-cardTable__content">預約成功</div>
            <% } else { %>
                <div class="c-cardTable__content">預約取消</div>
            <% } %>
        </td>
        <td class="c-cardTable__body" data-card-table-width="1/1">
            <div class="c-cardTable__title" data-length="5">預約明細</div>
            <div class="c-cardTable__content">
                <a href="#popupDetail" class="o-link" data-popup="true" data-popup-name="popupDetail" data-id="<%= ScheduleID %>">查看</a>
            </div>
        </td>
    </tr>
</script>

<script id="uid-template-perPage" type="text/html">
    <span>每頁顯示</span>
    <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
    <select id="uid-view-perPage" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
        <% for(var i = 0; i < values.length - 1; i++ ) { %>
        <option value="<%= values[i] %>"><%= values[i] %>筆</option>
        <% } %>
        <option value="<%= values[values.length - 1] %>">全部</option>
    </select>
</script>

<script id="uid-template-pagination" type="text/html">
    <div class="o-pagination">
        <% if (currentPage > 1) { %>
        <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
        <% } else { %>
        <!-- .is-disabled: 停用狀態，無法點擊 -->
        <a href="#" class="o-pagination__prev is-disabled"></a>
        <% } %>
        <span class="o-pagination__pager">
            <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
            <span class="o-pagination__total"><%= totalPages %></span>
        </span>
        <% if (currentPage < totalPages ) { %>
        <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
        <% } else { %>
        <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
        <% } %>
    </div>
</script>

<!-- 行事曆事件模板 start -->
<script id="apptemplate" type="text/x-template">
        <div>${Status}</div>
    <div>${ej2TimeFormat(StartTime)}</div>
</script>
<!-- 行事曆事件模板 end -->
<!-- 點擊行事曆事件跳出quick模板 start -->
<script id="header-template" type="text/x-template">
        <div class="e-popup-header-tmpl" style="background-color: ${PopupColor};">
        <span>預約明細</span>
        <a href="#" data-quick-close>
            <img src="./../themes/images/icons/white/x-lg.svg" alt="">
        </a>
    </div>
</script>
<script id="content-template" type="text/x-template">
        <div class="l-info">
        <div class="l-info__item">
            <div class="l-info__title">預約狀態</div>
            <div class="l-info__val">${Status}</div>
        </div>
        <div class="l-info__item">
            <div class="l-info__title">預約日期</div>
            <div class="l-info__val">${moment(StartTime).format('YYYY/MM/DD (dd)')}</div>
        </div>
        <div class="l-info__item">
            <div class="l-info__title">預約時段</div>
            <div class="l-info__val">${moment(StartTime).format('AHH:mm')}~${moment(EndTime).format('HH:mm')}</div>
        </div>
        <div class="l-info__item">
            <div class="l-info__title">聯絡電話</div>
            <div class="l-info__val">${Phone}</div>
        </div>
        <div class="l-info__item">
            <div class="l-info__title">電子信箱</div>
            <div class="l-info__val">${Email}</div>
        </div>
        <div class="l-info__item">
            <div class="l-info__title">諮詢主題</div>
            <div class="l-info__val">${Topic}</div>
        </div>
        <div class="l-info__item">
            <div class="l-info__title">其他諮詢內容</div>
            <div class="l-info__val">${Other}</div>
        </div>
    </div>
</script>
<script id="footer-template" type="text/x-template">
        <div class="l-action l-action--inline" data-footer-tmpl="success">
        <div class="l-action__item">
            <a href="#" class="o-btn o-btn--secondary o-btn--sm" data-quick-close data-cancel>取消預約</a>
        </div>
        <div class="l-action__item">
            <a href="#" class="o-btn o-btn--primary o-btn--sm is-disabled" data-start-btn>等待中</a>
        </div>
    </div>
    <div class="l-action l-action--inline" data-footer-tmpl="reserving">
        <div class="l-action__item">
            <a href="#" class="o-btn o-btn--secondary o-btn--sm" data-quick-close data-cancel>取消預約</a>
        </div>
    </div>
</script>
<!-- 點擊行事曆事件跳出quick模板 end -->

<script>
    const consultSchedules = @Model.ConsultSchedulesHtmlString;
    const consultScheduleForCalendars = @Model.ConsultScheduleForCalendarsHtmlString;
    const dayNamesZh = ['日', '一', '二', '三', '四', '五', '六']

    $(function () {

        consultSchedules.forEach((c) => {
            if (c.ScheduleDateString) {
                var weekday = (new Date(c.ScheduleDateString)).getDay();

                c.ScheduleDateString = c.ScheduleDateString.replaceAll('-', '/') + ' (' + dayNamesZh[weekday] + ')';
            }
        });

        var data0 = consultSchedules.filter(c => c.StatusCode == '0');
        var data1 = consultSchedules.filter(c => c.StatusCode == '1');
        var data2 = consultSchedules.filter(c => c.StatusCode == '2' || c.StatusCode == '3');

        var fjs0 = FilterJS(data0, '#tbody0', {
            template: '#template0',
            callbacks: {
                afterFilter: function (result) {
                    window.loading('hide');
                }
            },
            search: {},
            order: {
                default_sort: 'asc',
                sorts: [],
                onSortEvent: function (f, e) { },
            },
            pagination: {
                //headerView: '#uid-filter-header',
                container: '#uid-pagination-0',
                paginationView: '#uid-template-pagination',
                visiblePages: 5,
                perPage: {
                    values: [10, 50, 100, data0.length],
                    container: '#uid-perPage-0',
                    perPageView: '#uid-template-perPage'
                },
                onPagination: function () {
                }
            }
        });

        var fjs1 = FilterJS(data1, '#tbody1', {
            template: '#template1',
            callbacks: {
                afterFilter: function (result) {
                    window.loading('hide');
                }
            },
            search: {},
            order: {
                default_sort: 'asc',
                sorts: [],
                onSortEvent: function (f, e) { },
            },
            pagination: {
                //headerView: '#uid-filter-header',
                container: '#uid-pagination-1',
                paginationView: '#uid-template-pagination',
                visiblePages: 5,
                perPage: {
                    values: [10, 50, 100, data1.length],
                    container: '#uid-perPage-1',
                    perPageView: '#uid-template-perPage'
                },
                onPagination: function () {
                }
            }
        });

        var fjs2 = FilterJS(data2, '#tbody2', {
            template: '#template2',
            callbacks: {
                afterFilter: function (result) {
                    window.loading('hide');
                }
            },
            search: {},
            order: {
                default_sort: 'asc',
                sorts: [],
                onSortEvent: function (f, e) { },
            },
            pagination: {
                //headerView: '#uid-filter-header',
                container: '#uid-pagination-2',
                paginationView: '#uid-template-pagination',
                visiblePages: 5,
                perPage: {
                    values: [10, 50, 100, data2.length],
                    container: '#uid-perPage-2',
                    perPageView: '#uid-template-perPage'
                },
                onPagination: function () {
                }
            }
        });

        function setPopup(id) {
            var consultSchedule = consultSchedules.find((item) => item.ScheduleID == id);

            $('[data-detail="EmployeeName"]').text(consultSchedule.EmployeeName);
            $('[data-detail="ScheduleDate"]').text(consultSchedule.ScheduleDateString);
            $('[data-detail="ScheduleTime"]').text(consultSchedule.StartTime + '~' + consultSchedule.EndTime);
            $('[data-detail="Phone"]').text(consultSchedule.Phone);
            $('[data-detail="Mail"]').text(consultSchedule.Mail);
            $('[data-detail="Subject"]').text(consultSchedule.Subject);
            $('[data-detail="Description"]').text(consultSchedule.Description);
            $('[data-cancel]').attr('data-id', id);
        }

        $('[data-popup-name="popupDetail"]').on('click', function (e) {
            e.preventDefault();

            setPopup($(this).attr('data-id'));
        });

        $('[data-popup-name="popupCancel"]').on('click', function (e) {
            e.preventDefault();

            setPopup($(this).attr('data-id'));
        });

        $('[data-cancel]').on('click', function (e) {
            e.preventDefault();
            window.loading('show');
            var id = $(this).attr('data-id')
            var consultSchedule = consultSchedules.find((item) => item.ScheduleID == id);

            var token = $('input[name="__RequestVerificationToken"]').val();
            consultSchedule.__RequestVerificationToken = token;

            $.ajax({
                url: '@ClientRoute.GenerateUrl(this, "Consult", "CancelConsultSchedule")',
                type: 'POST',
                data: consultSchedule
            }).done(function (data, textStatus, jqXHR) {
                $.magnificPopup.close();
                if (data) {
                    if (data0.length > 0) {
                        fjs0.removeRecords({ ScheduleID: id });
                    }
                    if (data1.length > 0) {
                        fjs1.removeRecords({ ScheduleID: id });
                    }
                }
                else {

                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
            }).always(function () {
                window.loading('hide');
            });
        });
    });
</script>