@model Feature.Wealth.Component.Models.GraphicTwoCards.GraphicTwoCardsModel
@using Feature.Wealth.Component.Models.GraphicTwoCards

@if (Model == null)
{
    return;
}

<div class="l-wrap u-mt-section">
    <div class="l-feature l-feature--sm">
        <ul class="l-feature__list">

            @if (!string.IsNullOrEmpty(Model.Title1) || !string.IsNullOrEmpty(Model.Content1)
                || !string.IsNullOrEmpty(Model.ButtonLink1) || !string.IsNullOrEmpty(Model.ButtonText1)
                || !string.IsNullOrEmpty(Model.ImageUrl1))
            {
                <li class="l-feature__item">
                    <div class="c-feature c-feature--retire c-feature--personalize">
                        <div class="c-feature__content">

                            @if (!string.IsNullOrEmpty(Model.Title1))
                            {
                                <h3 class="c-feature__title">@Model.Title1</h3>
                            }

                            @if (!string.IsNullOrEmpty(Model.Content1))
                            {
                                <p class="c-feature__desc">@Model.Content1</p>
                            }

                            @if (!string.IsNullOrEmpty(Model.ButtonLink1) && !string.IsNullOrEmpty(Model.ButtonText1))
                            {
                                <div class="c-feature__actions">
                                    @Html.Sitecore().BeginField(Templates.GraphicTwoCardsDatasource.Fields.ButtonLink1.ToString(), Model.DataSource, new { haschildren = true, @class = "o-btn o-btn--primary o-btn--thin o-btn--auto" })
                                    @Html.Sitecore().Field(Templates.GraphicTwoCardsDatasource.Fields.ButtonText1.ToString(), Model.DataSource)
                                    @Html.Sitecore().EndField()
                                </div>
                            }

                        </div>

                        @if (!string.IsNullOrEmpty(Model.ImageUrl1))
                        {
                            <div class="c-feature__plate">
                                <img src="@Model.ImageUrl1" alt="" class="c-feature__img">
                            </div>
                        }

                    </div>
                </li>
            }

            @if (!string.IsNullOrEmpty(Model.Title2) || !string.IsNullOrEmpty(Model.Content2)
                || !string.IsNullOrEmpty(Model.ButtonLink2) || !string.IsNullOrEmpty(Model.ButtonText2)
                || !string.IsNullOrEmpty(Model.ImageUrl2))
            {
                <li class="l-feature__item">
                    <div class="c-feature c-feature--retire c-feature--remote">
                        <div class="c-feature__content">

                            @if (!string.IsNullOrEmpty(Model.Title2))
                            {
                                <h3 class="c-feature__title">@Model.Title2</h3>
                            }

                            @if (!string.IsNullOrEmpty(Model.Content2))
                            {
                                <p class="c-feature__desc">@Model.Content2</p>
                            }

                            @if (!string.IsNullOrEmpty(Model.ButtonLink2) && !string.IsNullOrEmpty(Model.ButtonText2))
                            {
                                <div class="c-feature__actions">
                                    @Html.Sitecore().BeginField(Templates.GraphicTwoCardsDatasource.Fields.ButtonLink2.ToString(), Model.DataSource, new { haschildren = true, @class = "o-btn o-btn--primary o-btn--thin o-btn--auto" })
                                    @Html.Sitecore().Field(Templates.GraphicTwoCardsDatasource.Fields.ButtonText2.ToString(), Model.DataSource)
                                    @Html.Sitecore().EndField()
                                </div>
                            }

                        </div>

                        @if (!string.IsNullOrEmpty(Model.ImageUrl2))
                        {
                            <div class="c-feature__plate">
                                <img src="@Model.ImageUrl2" alt="" class="c-feature__img">
                            </div>
                        }

                    </div>
                </li>
            }

        </ul>
    </div>
</div>