@using Feature.Wealth.Component.Models.HorizontalGraphics
@model HorizontalGraphicsModel

@if (Model.DataSource == null)
{
    return;
}

<section class="c-section" data-aos="fade-up" data-aos-once="true">
    <div class="l-wrap">
        <div class="c-section__title u-left">@Html.Sitecore().Field(Templates.HorizontalGraphicsTitle.Fields.MainTitle.ToString(), Model.DataSource)</div>
        <div class="c-section__desc">@Html.Sitecore().Field(Templates.HorizontalGraphicsTitle.Fields.Description.ToString(), Model.DataSource)</div>
        <div class="c-section__content">
            @{
                var direction = Html.Sitecore().Field(Templates.HorizontalGraphicsTitle.Fields.FadeDirection.ToString(), Model.DataSource).ToString();

                if (direction == "Reverse")
                {
                    foreach (var item in Model.Items)
                    {
                        <div class="c-pictext">
                            <div class="c-pictext__media">
                                <img src="@item.ImageUrl" class="c-pictext__img" alt="">
                            </div>
                            <div class="c-pictext__main">
                                <div class="c-pictext__head">
                                    <span class="c-pictext__num">@Html.Sitecore().Field(Templates.HorizontalGraphics.Fields.Label.ToString(), item.Item)</span>
                                    <span class="c-pictext__title">@Html.Sitecore().Field(Templates.HorizontalGraphics.Fields.Title.ToString(), item.Item)</span>
                                </div>
                                <div class="c-pictext__content">@Html.Sitecore().Field(Templates.HorizontalGraphics.Fields.Content.ToString(), item.Item)</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    foreach (var item in Model.Items)
                    {
                        <div class="c-pictext">
                            <div class="c-pictext__main">
                                <div class="c-pictext__head">
                                    <span class="c-pictext__num">@Html.Sitecore().Field(Templates.HorizontalGraphics.Fields.Label.ToString(), item.Item)</span>
                                    <span class="c-pictext__title">@Html.Sitecore().Field(Templates.HorizontalGraphics.Fields.Title.ToString(), item.Item)</span>
                                </div>
                                <div class="c-pictext__content">
                                    @Html.Sitecore().Field(Templates.HorizontalGraphics.Fields.Content.ToString(), item.Item)
                                </div>
                            </div>
                            <div class="c-pictext__media">
                                <img src="@item.ImageUrl" class="c-pictext__img" alt="">
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>