@using Feature.Wealth.Account.Helpers;
@using Foundation.Wealth.Helper;
@{
    var logoutUrl = ClientRoute.GenerateUrl(this, "Accounts", "Logout");
    var member = FcbMemberHelper.GetMemberAllInfo();
}
<div class="l-header__tools">
    <div class="l-topbar">
        <!-- 登入狀態 -->
        <div class="l-topbar__list">
            <div class="l-topbar__item">
                <a href="#" class="o-topBtn o-topBtn--notify is-notify" data-popover="#popoverNotify"></a>
                <div id="popoverNotify" class="c-popover">
                    <div class="c-popover__wrap">
                        <nav class="c-popover__content">
                            <ul class="c-listGroup">
                                <li class="c-listGroup__item">
                                    <div class="c-itemNotify is-hint">
                                        <div class="c-itemNotify__topbar">
                                            <span class="t-date">2023/12/12 12:00</span>
                                            <span class="o-hangTag">預約理財</span>
                                        </div>
                                        <div class="c-itemNotify__link">
                                            <a href="#" class="o-itemLink">
                                                <span class="o-itemLink__title">提醒您，您預約2023/12/14 下午14:00的理財諮詢即將到來！</span>
                                                <img src="~/themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="c-listGroup__item">
                                    <div class="c-itemNotify is-hint">
                                        <div class="c-itemNotify__topbar">
                                            <span class="t-date">2023/12/12 12:00</span>
                                            <span class="o-hangTag">預約理財</span>
                                        </div>
                                        <div class="c-itemNotify__link">
                                            <a href="#" class="o-itemLink">
                                                <span class="o-itemLink__title">您已成功預約2023/09/28 下午13:00的理專諮詢，請查看會議連結</span>
                                                <img src="~/themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="c-listGroup__item">
                                    <div class="c-itemNotify is-hint">
                                        <div class="c-itemNotify__topbar">
                                            <span class="t-date">2023/12/12 12:00</span>
                                            <span class="o-hangTag">專屬優惠</span>
                                        </div>
                                        <div class="c-itemNotify__link">
                                            <a href="#" class="o-itemLink">
                                                <span class="o-itemLink__title">薪轉戶獨享基金申購免手續費優惠</span>
                                                <img src="~/themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="c-listGroup__item">
                                    <div class="c-itemNotify ">
                                        <div class="c-itemNotify__topbar">
                                            <span class="t-date">2023/12/12 12:00</span>
                                            <span class="o-hangTag">週月報</span>
                                        </div>
                                        <div class="c-itemNotify__link">
                                            <a href="#" class="o-itemLink">
                                                <span class="o-itemLink__title">10月投資月報來囉！</span>
                                                <img src="~/themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="c-listGroup__item">
                                    <div class="c-itemNotify ">
                                        <div class="c-itemNotify__topbar">
                                            <span class="t-date">2023/12/12 12:00</span>
                                            <span class="o-hangTag">到價通知</span>
                                        </div>
                                        <div class="c-itemNotify__link">
                                            <a href="#" class="o-itemLink">
                                                <span class="o-itemLink__title">日盛新台商基金已達到您設定的最低價囉！</span>
                                                <img src="~/themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-topbar__login">
            <!--登入狀態 電腦版-->
            <a href="#" class="o-topBtn o-topBtn--login" data-popover="#popoverMember">
                <span>會員專區</span>
            </a>
            <!--登入狀態-->
            <div id="popoverMember" class="c-popover">
                <div class="c-popover__wrap">
                    <header class="c-popover__header">
                        <span class="c-popover__title">Hi @member.MemberName</span>
                        <div class="c-popover__tools">
                            <a href="@logoutUrl" class="o-btn o-btn--secondary o-btn--auto o-btn--thin">登出</a>
                        </div>
                    </header>
                    <nav class="c-popover__content">
                        <ul class="c-listGroup">
                            <li class="c-listGroup__item">
                                <a href="#" class="o-itemLink">
                                    <span class="o-itemLink__title t-bold">關注清單</span>
                                    <img src="@Url.Content("~/themes/images/icons/green/corner-right.svg")" class="o-itemLink__icon" alt="">
                                </a>
                            </li>
                            <li class="c-listGroup__item">
                                <a href="#a" class="o-itemLink">
                                    <span class="o-itemLink__title t-bold">專屬推薦</span>
                                    <img src="@Url.Content("~/themes/images/icons/green/corner-right.svg")" class="o-itemLink__icon" alt="">
                                </a>
                            </li>
                            <li class="c-listGroup__item">
                                <a href="#" class="o-itemLink">
                                    <span class="o-itemLink__title t-bold">理財試算</span>
                                    <img src="@Url.Content("~/themes/images/icons/green/corner-right.svg")" class="o-itemLink__icon" alt="">
                                </a>
                            </li>
                            <li class="c-listGroup__item">
                                <a href="#" class="o-itemLink">
                                    <span class="o-itemLink__title t-bold">收藏新聞</span>
                                    <img src="@Url.Content("~/themes/images/icons/green/corner-right.svg")" class="o-itemLink__icon" alt="">
                                </a>
                            </li>
                            <li class="c-listGroup__item">
                                <a href="#" class="o-itemLink">
                                    <span class="o-itemLink__title t-bold">遠距理財諮詢</span>
                                    <img src="@Url.Content("~/themes/images/icons/green/corner-right.svg")" class="o-itemLink__icon" alt="">
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="c-popover__footer">
                        <a href="#" class="o-btn o-btn--primary o-btn--sm o-btn--flat">預約諮詢</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


