@model Feature.Wealth.Component.Models.FundDetail.FundViewModel

<div id="StandardDeviation" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">標準差</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.StandardDeviation</p>
        </div>
    </div>
</div>
<div id="Sharpe" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">Sharpe</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.Sharpe</p>
        </div>
    </div>
</div>
<div id="Alpha" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">Alpha</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.Alpha</p>
        </div>
    </div>
</div>
<div id="Beta" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">Beta</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.Beta</p>
        </div>
    </div>
</div>
<div id="Rsquared" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">R-squared</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.Rsquared</p>
        </div>
    </div>
</div>
<div id="IndexCorrelationCoefficient" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">與指數相關係數	</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.IndexCorrelationCoefficient</p>
        </div>
    </div>
</div>
<div id="TrackingError" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">Tracking Error</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.TrackingError</p>
        </div>
    </div>
</div>
<div id="Variance" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">Variance</h2>
        </header>
        <div class="c-modal__content">
            <p>@Model.Variance</p>
        </div>
    </div>
</div>