@using Feature.Wealth.Component.Models.VolumeRank
@model VolumeRankModel


@foreach (var item in Model.VolumeRanks)
{
	if (item.ProductCode != null && item.ProductCode != "")
	{
		<tr class="c-cardTable__item u-nowrap@dt-only u-center@dt-only" data-product-id="@item.ProductCode">
			<td class="c-cardTable__top"></td>
			<td class="c-cardTable__header u-wrap@dt-only u-left@dt-only">
				<div class="c-cardTable__content">
					<div class="l-target">
						<div class="l-target__name">
							<a href="@Model.DetailLink?id=@item.ProductCode" class="o-contentLink t-bold u-ellipsis-2" target="_blank">@item.ProductCode @item.ProductName</a>
						</div>
					</div>
				</div>
			</td>
			<td class="c-cardTable__space"></td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">交易所代碼</div>
				<div class="c-cardTable__content">@item.ExchangeCode</div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">市價<br>(日期)</div>
				<div class="c-cardTable__content">@item.MarketPrice<br><span class="t-date">@item.NetAssetValueDateFormat</span></div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">折溢價(%)</div>
				@if (item.DiscountPremium < 0)
				{
					<span class="o-fall">@item.DiscountPremium%</span>
				}
				else
				{
					<span class="o-rise">@item.DiscountPremium%</span>
				}
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">最新量</div>
				<div class="c-cardTable__content">@item.LatestVolumeTradingVolumeFormat</div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">最新量-10日量</div>
				<div class="c-cardTable__content">@item.TenDayAverageVolumeFormat</div>
			</td>
			<td class="c-cardTable__space"></td>
			<td class="c-cardTable__footer" data-card-table-width="2/3">
				<div class="c-cardTable__content">
					<ul class="l-collect l-collect--divider@lt">
						<li class="l-collect__item">
							<a href="#" class="o-statusBtn o-statusBtn--like" data-after-lt="關注" data-msg="加入關注|取消關注" data-ia="true"></a>
						</li>
						<li class="l-collect__item">
							<a href="#" class="o-statusBtn o-statusBtn--compare" data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true"></a>
						</li>
					</ul>
				</div>
			</td>
			@if (item.OnlineSubscriptionAvailability == "Y")
			{
				<td class="c-cardTable__footer" data-card-table-width="1/3">
					<div class="c-cardTable__content"><a href="#popupPurchase" class="o-tableBtn o-tableBtn--card@lt" data-popup="true">申購</a></div>
				</td>
			}
		</tr>
	}
}