@using Foundation.Wealth.Helper;
@using Feature.Wealth.Component.Models.Invest;
@using Feature.Wealth.Component.Models.HotFund
@model HotFundModel

@{
    var modelitem = Model.Item;
}

<div class="l-mainstage">
    <div class="l-mainstage__wrap">
        <div class="l-mainstage__title">
            <h1 class="t-title">@Html.Sitecore().Field(Template.HotFund.Fields.MainTitle.ToString(), modelitem)</h1>
        </div>
        <div class="l-mainstage__content">
            <div class="l-flex u-flex-col u-flex-gap-sm">
                <div class="l-flex__item">
                    @Html.Sitecore().Field(Template.HotFund.Fields.SubTitle.ToString(), modelitem)
                </div>
                <div class="l-flex__item">
                    <span class="t-note">@Html.Sitecore().Field(Template.HotFund.Fields.Content.ToString(), modelitem)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-wrap">
    <div class="l-stage">
        <div class="l-flex u-flex-col u-flex-gap-sm">
            <div class="l-flex__item u-right u-hidden@dt-only">
                <div class="o-sortingbox">
                    <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                    <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="hotTable">
                        <option value="">排序</option>
                        <option value="基金名稱高至低" data-sorting-column="ProductCode" data-sorting-class="is-desc">基金名稱高至低</option>
                        <option value="基金名稱低至高" data-sorting-column="ProductCode" data-sorting-class="is-asc">基金名稱低至高</option>
                        <option value="最新淨值高至低" data-sorting-column="NetAssetValue" data-sorting-class="is-desc">最新淨值高至低</option>
                        <option value="最新淨值低至高" data-sorting-column="NetAssetValue" data-sorting-class="is-asc">最新淨值低至高</option>
                        <option value="幣別高至低" data-sorting-column="CurrencyCode" data-sorting-class="is-desc">幣別高至低</option>
                        <option value="幣別低至高" data-sorting-column="CurrencyCode" data-sorting-class="is-asc">幣別低至高</option>
                        <option value="當日漲跌幅高至低" data-sorting-column="PercentageChangeInFundPrice" data-sorting-class="is-desc">當日漲跌幅高至低</option>
                        <option value="當日漲跌幅低至高" data-sorting-column="PercentageChangeInFundPrice" data-sorting-class="is-asc">當日漲跌幅低至高</option>
                        <option value="6個月績效高至低" data-sorting-column="SixMonthReturnOriginalCurrency" data-sorting-class="is-desc">6個月績效高至低</option>
                        <option value="6個月績效低至高" data-sorting-column="SixMonthReturnOriginalCurrency" data-sorting-class="is-asc">6個月績效低至高</option>
                        <option value="風險屬性高至低" data-sorting-column="RiskRewardLevel" data-sorting-class="is-desc">風險屬性高至低</option>
                        <option value="風險屬性低至高" data-sorting-column="RiskRewardLevel" data-sorting-class="is-asc">風險屬性低至高</option>
                        <option value="國人持有金額占基金規模比重" data-sorting-column="DomesticInvestmentRatio" data-sorting-class="is-desc">國人持有金額占基金規模比重高至低</option>
                        <option value="國人持有金額占基金規模比重" data-sorting-column="DomesticInvestmentRatio" data-sorting-class="is-asc">國人持有金額占基金規模比重低至高</option>
                    </select>
                </div>
            </div>
            <div class="l-flex__item">
                <div class="l-table">
                    <table class="c-table@dt-only c-cardTable@lt" data-table-name="hotTable">
                        <colgroup>
                            <col style="width: auto;">
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col style="width: 13%;">
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                        </colgroup>
                        <thead>
                            <tr class="u-nowrap">
                                <th>
                                    <div class="c-table__title">
                                        <span>基金名稱</span>
                                        <!-- .is-asc: 升冪 -->
                                        <!-- .is-desc: 降冪 -->
                                        <a href="#" class="o-sorting" data-sorting-column="ProductCode"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>最新淨值<br>(淨值日)</span>
                                        <a href="#" class="o-sorting" data-sorting-column="NetAssetValue"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>幣別</span>
                                        <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                        <a href="#" class="o-sorting" data-sorting-column="CurrencyCode"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>當日漲跌幅</span>
                                        <a href="#" class="o-sorting" data-sorting-column="PercentageChangeInFundPrice"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>6個月績效</span>
                                        <a href="#" class="o-sorting" data-sorting-column="SixMonthReturnOriginalCurrency"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>風險屬性</span>
                                        <a href="#" class="o-sorting" data-sorting-column="RiskRewardLevel"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span class="u-wrap">國人持有金額占基金規模比重</span>
                                        <a href="#" class="o-sorting" data-sorting-column="DomesticInvestmentRatio"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>關注/比較</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>申購</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="result">
                            @foreach (var item in Model.HotFunds)
                            {
                                <tr class="c-cardTable__item u-nowrap@dt-only u-center@dt-only">
                                    <td class="c-cardTable__top"></td>
                                    <td class="c-cardTable__header u-wrap@dt-only u-left@dt-only">
                                        <div class="c-cardTable__content">
                                            <div class="l-target">
                                                <div class="l-target__name">
                                                    <a href="@Model.DetailLink?id=@item.ProductCode" class="o-contentLink t-bold u-ellipsis-2" target="_blank">@item.ProductCode @item.FundName</a>
                                                </div>
												@if (item.Tags != null)
												{
													<div class="l-target__additional">
														<ul class="l-tag">
															@foreach (var tag in item.Tags)
															{
																<li class="l-tag__item">
																	<span class="o-tag">@tag</span>
																</li>
															}
														</ul>
													</div>
												}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="c-cardTable__space"></td>
                                    <td class="c-cardTable__body" data-card-table-width="1/2">
                                        <div class="c-cardTable__title" data-length="5">最新淨值<br>(淨值日)</div>
                                        <div class="c-cardTable__content">@item.NetAssetValue<br><span class="t-date">@item.NetAssetValueDate.ToString("yyyy/MM/dd")</span></div>
                                    </td>
                                    <td class="c-cardTable__body" data-card-table-width="1/2">
                                        <div class="c-cardTable__title" data-length="5">
                                            幣別
                                            <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                        </div>
                                        <div class="c-cardTable__content">
                                            @Html.CurrencyLink(null, item.CurrencyName)
                                        </div>
                                    </td>
                                    <td class="c-cardTable__body" data-card-table-width="1/2">
                                        <div class="c-cardTable__title" data-length="5">當日漲跌幅</div>
                                        <div class="c-cardTable__content">
                                            @if (item.PercentageChangeInFundPrice < 0)
                                            {
                                                <span class="o-fall">@item.PercentageChangeInFundPrice%</span>
                                            }
                                            else
                                            {
                                                <span class="o-rise">@item.PercentageChangeInFundPrice%</span>
                                            }
                                        </div>
                                    </td>
                                    <td class="c-cardTable__body" data-card-table-width="1/2">
                                        <div class="c-cardTable__title" data-length="5">6個月績效</div>
                                        <div class="c-cardTable__content">
                                            @if (item.SixMonthReturnOriginalCurrency < 0)
                                            {
                                                <span class="o-fall">@item.SixMonthReturnOriginalCurrency%</span>
                                            }
                                            else
                                            {
                                                <span class="o-rise">@item.SixMonthReturnOriginalCurrency%</span>
                                            }
                                        </div>
                                    </td>
                                    <td class="c-cardTable__body" data-card-table-width="1/2">
                                        <div class="c-cardTable__title" data-length="5">風險屬性</div>
                                        <div class="c-cardTable__content">@item.RiskRewardLevel</div>
                                    </td>
                                    <td class="c-cardTable__body" data-card-table-width="1/2">
                                        <div class="c-cardTable__title" data-length="5">國人持有金額占基金規模比重</div>
                                        @if (item.DomesticInvestmentRatio == null)
                                        {
                                            <div class="c-cardTable__content">-</div>

                                        }
                                        else
                                        {
                                            <div class="c-cardTable__content">@item.DomesticInvestmentRatio%</div>
                                        }
                                    </td>
                                    <td class="c-cardTable__space"></td>
                                    <td class="c-cardTable__footer" data-card-table-width="@((item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability))) ? "2/3" : "1/1")">
                                        <div class="c-cardTable__content">
                                            <ul class="l-collect l-collect--divider@lt">
                                                <li class="l-collect__item">
                                                    @Html.FocusButton(null, item.ProductCode, item.FundName, InvestTypeEnum.Fund, true)
                                                </li>
                                                <li class="l-collect__item">
                                                    @Html.CompareButton(null, item.ProductCode, item.FundName, InvestTypeEnum.Fund, true)
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="c-cardTable__footer" data-card-table-width="1/3">
                                        <div class="c-cardTable__content">
                                            @if (item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability)))
                                            {
                                                @Html.SubscriptionButton(null, item.ProductCode, InvestTypeEnum.Fund, true)
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($, window, document, undefined) {
        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }
            var selectedId = @(new HtmlString(Json.Encode(Model.SelectedId)));
            var currentData = [];

            // 為了 DOMPurify.sanitize 正常運作加上 <table><tbody></tbody></table>
            function DOMPurifyData(data) {
                let focusAttr = ['eh-focus', 'eh-focus-type', 'eh-focus-id', 'eh-focus-name', 'eh-focus-add'];
                let compareAttr = ['eh-compare', 'eh-compare-type', 'eh-compare-id', 'eh-compare-name', 'eh-compare-add'];
                let subscriptionAttr = ['eh-subscription', 'eh-subscription-type', 'eh-subscription-id'];
				let commonAttr = ['target'];
				let allCustomAttr = focusAttr.concat(compareAttr, subscriptionAttr, commonAttr);
                data = '<table><tbody>' + data + '</tbody></table>';
                data = DOMPurify.sanitize(data, { ADD_ATTR: allCustomAttr });
                data = data.replace('<table><tbody>', '').replace('</tbody></table>', '');
                return data;
            }

            function ReturnView(selectedId, orderby, desc) {
                var token = $('input[name="__RequestVerificationToken"]').val();

                $.ajax({
                    url: '@ClientRoute.GenerateUrl(this, "HotFund", "GetSortedHotFund")',
                    type: 'POST',
                    data: { selectedId: selectedId, orderby: orderby, desc: desc, __RequestVerificationToken: token },
                    success: function (data) {
                        $('#result').empty();
                        document.getElementById('result').innerHTML = DOMPurifyData(data);
                        Removefall();
                        $('[data-popup]').magnificPopup();
                        $('[eh-compare]').trigger('exec');
                        $('[eh-focus]').trigger('exec');
                        $('[eh-subscription-type]').trigger('exec');
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }

            Removefall();
            function Removefall() {
                $('span.o-fall').each(function () {
                    var content = $(this).text();
                    if (content.startsWith('-')) {
                        var number = content.substring(1);
                        $(this).text(number);
                    }
                });
            }

            $('table').off('click.sorting').on('click.sorting', '.o-sorting', function (e) {
                e.preventDefault();
                // 呼叫 loading
                window.loading('show');
                var $this = $(this);
                var orderby = '';
                if ($this.hasClass('is-asc')) {
                    $this.removeClass('is-asc').addClass('is-desc');
                    orderby = 'is-desc';
                }
                else {
                    $this.closest('.l-table').find('.o-sorting').removeClass('is-asc is-desc');
                    $this.addClass('is-asc');
                    orderby = 'is-asc';
                }

                var sortingColumn = $this.data('sorting-column');

                // 連動 sortingbox
                var tableName = $(this).closest('[data-table-name]').data('table-name');
                var $sortingbox = $(`[data-sorting-linkto="${tableName}"]`);
                var sortingColumn = $(this).data('sorting-column');
                $(`option[data-sorting-column="${sortingColumn}"][data-sorting-class="${orderby}"]`, $sortingbox).prop('selected', true);
                $sortingbox.trigger('change');

                // 因展示，使用 setTimeout 延遲關閉 loading
                setTimeout(() => {
                    // 關閉loading
                    window.loading('hide');
                }, 300);
            });


            // 手機版分頁筆數功能
            $('[data-sortingbox="true"]').on('change.sorting', function (e) {
                // 呼叫 loading
                window.loading('show');
                var sorting = $(this).val();
                var $linkTable = $(`[data-table-name="${$(this).data('sorting-linkto')}"]`);
                var sortingColumn = $('option:selected', this).data('sorting-column');
                var orderby = $('option:selected', this).data('sorting-class');

                // 連動 table
                $('.o-sorting', $linkTable).removeClass('is-asc is-desc');
                $(`[data-sorting-column="${sortingColumn}"]`, $linkTable).addClass(orderby);
                console.log(`排序：${sorting}`);


                ReturnView(selectedId, sortingColumn, orderby)

                // 因展示，使用 setTimeout 延遲關閉 loading
                setTimeout(() => {
                    // 關閉loading
                    window.loading('hide');
                }, 300);
            });


        });

    })(jQuery, window, document);
</script>


