@using Feature.Wealth.Account.Helpers;
@using Feature.Wealth.Account.Models.OAuth;
@using Feature.Wealth.Account.Models.MemberCard;
@using Sitecore.Configuration;
@using Xcms.Sitecore.Foundation.Basic.Extensions;
@model MemberCardViewModel
@{
    var model = Model.MemberCardModel;
    var member = FcbMemberHelper.fcbMemberModel;
    var isOauthLogin = true;
    var salaryFlag = false;
    if (member.PlatForm == PlatFormEunm.WebBank)
    {
        salaryFlag = member.SalFlag.ToBoolean();
        isOauthLogin = false;
    }
    var memberSettingUrl = MemberRelatedLinkHelper.GetMemberSettingUrl();
    var memberReserveUrl = MemberRelatedLinkHelper.GetReserveConsultingUrl();
    var WebKycLink = Settings.GetSetting("WebKYC");
    var FirsteKycLink = Settings.GetSetting("FirsteKYC");
    var IleoKycLink = Settings.GetSetting("IleoKYC");
}
<div class="l-mainstage l-mainstage--member">
    <div class="l-mainstage__wrap">
        <div class="l-mainstage__content">
            <div class="l-member @(isOauthLogin && string.IsNullOrEmpty(member.WebBankId) ? "l-member--nodata" : string.Empty)">
                <div class="l-member__content">
                    <div class="c-member @(isOauthLogin && string.IsNullOrEmpty(member.WebBankId)  ? "c-member--nodata" : string.Empty)">
                        <div class="c-member__head">
                            <div class="c-member__name">Hi @member.MemberName</div>
                            <div class="c-member__set">
                                <a href="@memberSettingUrl" class="o-btn o-btn--secondary o-btn--thin o-btn--icon no-text@lt">
                                    <img src="~/themes/images/icons/green/gear-solid.svg" class="o-btn__icon" alt="">
                                    <span>設定</span>
                                </a>
                            </div>
                        </div>
                        <div class="c-member__content">
                            @if (isOauthLogin && string.IsNullOrEmpty(member.WebBankId))
                            {
                                <div class="l-flex u-flex-gap-min u-flex-left">
                                    <div class="l-flex__item l-flex__item--auto">
                                        <span class="t-tip t-tip--lt">由@(member.PlatForm.ToString())帳號登入</span>
                                    </div>
                                   @*  <div class="l-flex__item l-flex__item--auto">
                                        <a href="javascript:;" class="o-btn o-btn--primary o-btn--thin o-btn--auto" data-eh="fcblogin-click">綁定網銀帳戶</a>
                                    </div> *@
                                </div>
                            }
                            else
                            {
                                <div class="c-member__info">
                                    <div class="c-member__title">
                                        <img src="~/themes/images/icons/member/chart.svg" alt="">
                                        <span>投資風險屬性</span>
                                    </div>
                                    <div class="c-member__value">
                                        @if (!string.IsNullOrEmpty(member.Risk))
                                        {
                                            string riskName = string.Empty;
                                            switch (member.Risk)
                                            {
                                                case "1":
                                                    riskName = "保守型";
                                                    break;
                                                case "2":
                                                    riskName = "穩健型";
                                                    break;
                                                case "3":
                                                    riskName = "積極型";
                                                    break;

                                            }
                                            <b>@riskName</b>
                                            <a href="@WebKycLink" target="_blank" class="o-link t4 u-hidden" id="GoKYC">進行風險屬性評估</a>

                                        }
                                        else
                                        {
                                            <a href="@WebKycLink" target="_blank" class="o-link t4" id="GoKYC">進行風險屬性評估</a>
                                        }
                                    </div>
                                </div>
                                <div class="c-member__info">
                                    <div class="c-member__title">
                                        <img src="~/themes/images/icons/member/businessman.svg" alt="">
                                        <span>您的理專</span>
                                    </div>
                                    <div class="c-member__value">
                                        @if (member.IsEmployee || member.IsManager)
                                        {
                                            <b>@member.MemberName</b>
                                        }else
                                        {
                                            <b>@(string.IsNullOrEmpty(member.Advisror) ? "-" : member.Advisror)</b>
                                        }
                                    </div>
                                </div>
                                if(!member.IsEmployee && !member.IsManager)
                                {
                                <div class="c-member__info">
                                    <div class="c-member__title">
                                        <img src="~/themes/images/icons/member/appointment.svg" alt="">
                                        <span>理財諮詢</span>
                                    </div>
                                    <div class="c-member__value">
                                        @*無理專預約諮詢給dash*@
                                        @if (string.IsNullOrEmpty(member.Advisror))
                                        {
                                            <b>-</b>
                                        }
                                        else
                                        {
                                            @*有理專判斷有無預約*@
                                            if (Model.ScheduleDate.HasValue)
                                            {
                                                <b>還有 <span class="t-warning">@Model.ScheduleSpace</span> 天 </b>
                                                <div class="t-date u-inline@lt">(@Model.ScheduleDate.Value.ToString("yyyy/MM/dd"))</div>
                                            }
                                            else
                                            {
                                                <a href="@memberReserveUrl" class="o-btn o-btn--primary o-btn--thin o-btn--auto">預約線上諮詢</a>
                                            }
                                        }
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="l-member__ad">
                    @{
                        var title = Templates.MemberCard.Fields.Title.ToString();
                        var btnLink = Templates.MemberCard.Fields.ButtonLink.ToString();
                        var btnText = Templates.MemberCard.Fields.ButtonText.ToString();
                        switch (member.PlatForm)
                        {
                            case PlatFormEunm.WebBank:
                                if (salaryFlag)
                                {
                                    title = Templates.MemberCard.Fields.SalaryTitle.ToString();
                                    btnLink = Templates.MemberCard.Fields.SalaryButtonLink.ToString();
                                    btnText = Templates.MemberCard.Fields.SalaryButtonText.ToString();
                                }
                                break;
                            case PlatFormEunm.FaceBook:
                                title = Templates.MemberCard.Fields.FacebookTitle.ToString();
                                btnLink = Templates.MemberCard.Fields.FacebookButtonLink.ToString();
                                btnText = Templates.MemberCard.Fields.FacebookButtonText.ToString();
                                break;
                            case PlatFormEunm.Line:
                                title = Templates.MemberCard.Fields.LineTitle.ToString();
                                btnLink = Templates.MemberCard.Fields.LineButtonLink.ToString();
                                btnText = Templates.MemberCard.Fields.LineButtonText.ToString();
                                break;
                        }
                                    <div class="c-adCard">
                                        <div class="c-adCard__bg">
                                            <img class="u-hidden@lt" src="@(model.ImagePCUrl)" alt="">
                                            <img class="u-hidden@dt-only" src="@(model.ImageMBUrl)" alt="">
                                        </div>
                                        <div class="c-adCard__content">
                                            <div class="c-adCard__title">
                                                @Html.Sitecore().Field(title, model.DataSource)
                                            </div>
                                            <div class="c-adCard__action">
                                                @Html.Sitecore().BeginField(btnLink, model.DataSource, new { haschildren = true, @class = "o-btn o-btn--primary o-btn--wt o-btn--thin o-btn--auto u-noShadow" })
                                                @Html.Sitecore().Field(btnText, model.DataSource)
                                                @Html.Sitecore().EndField()
                                            </div>
                                        </div>
                                        <div class="c-adCard__deco">
                                            <img src="@(model.ImageCornerUrl)" alt="">
                                        </div>
                                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupRemind" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">理財諮詢提醒</h2>
        </header>
        <div class="c-modal__content">
            @(Model.ScheduleMessage)
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-popup-close="true" data-check-consult>查看預約</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($, window, document, undefined) {
        let schecduleMsg = "@(Model.ScheduleMessage)";
        if (schecduleMsg !== "") {
            // 顯示理財諮詢提醒
            $(window).on('load.remind', function () {
                setTimeout(() => {
                    $.magnificPopup.open({
                        items:
                        {
                            src: '#popupRemind'
                        }
                    }, 0);
                }, 300);
            });
            // 查看預約
            $('[data-check-consult]').on('click.check', function () {
                let consultlistpanelId = DOMPurify.sanitize($('[data-consultlist]').parent().attr('data-tab-panel-id'));
                $('[data-tab-target=' + (consultlistpanelId) + ']').trigger('click');
            });
        }
    //加入class防止麵包屑被背景蓋住
        $('.l-navbar.l-navbar--gn').addClass('has-bg');
        //行動裝置判斷
        if ($(window).width() < 1199) {
            let MobilePlatform = store.get("MobilePlatform") || "firste";
            let url = "";
            if (MobilePlatform == "firste") {
                url = "@FirsteKycLink";
                url.replaceAll('&amp;', '&');
                document.getElementById('GoKYC').setAttribute('href', '@FirsteKycLink');
            } else {
                url = "@IleoKycLink";
                url.replaceAll('&amp;', '&');
                document.getElementById('GoKYC').setAttribute('href', '@IleoKycLink');
            }
        }
    })(jQuery, window, document);
</script>