@using Feature.Wealth.Component.Models.Features
@model FeaturesModel

@if (Model == null)
{
    return;
}

<section class="c-section" data-aos="fade-up" data-aos-once="true">
    <div class="l-wrap">
        <div class="c-section__title u-left">@Html.Sitecore().Field(Templates.FeaturesTitle.Fields.MainTitle.ToString(), Model.DataSource)</div>
        <div class="c-section__content">
            <div class="l-productCard">
                @foreach (var item in Model.Items)
                {
                    <div class="l-productCard__item">
                        <div class="c-productCard">
                            <div class="c-productCard__media">
                                <img src="@item.ImageUrl" class="c-productCard__img" alt="">
                            </div>
                            <div class="c-productCard__content">
                                <div class="c-productCard__name u-ellipsis-1">@Html.Sitecore().Field(Templates.Features.Fields.Title.ToString(), item.Item)</div>
                                <div class="c-productCard__btns">
                                    @Html.Sitecore().BeginField(Templates.Features.Fields.ButtonLink.ToString(), item.Item, new { haschildren = true, @class = "o-btn o-btn--primary o-btn--thin o-btn--auto" })
                                    @Html.Sitecore().Field(Templates.Features.Fields.ButtonText.ToString(), item.Item)
                                    @Html.Sitecore().EndField()
                                </div>
                            </div>
                            <div class="c-productCard__links">
                                @if (!string.IsNullOrEmpty(item.LinkUrl1) || !string.IsNullOrEmpty(item.LinkText1))
                                {
                                    @Html.Sitecore().BeginField(Templates.Features.Fields.Link1.ToString(), item.Item, new { haschildren = true, @class = "o-suffixLink o-suffixLink--xs o-suffixLink--external" })
                                    @Html.Sitecore().Field(Templates.Features.Fields.LinkText1.ToString(), item.Item)
                                    @Html.Sitecore().EndField()
                                }
                                @if (!string.IsNullOrEmpty(item.LinkUrl2) || !string.IsNullOrEmpty(item.LinkText2))
                                {
                                    @Html.Sitecore().BeginField(Templates.Features.Fields.Link2.ToString(), item.Item, new { haschildren = true, @class = "o-suffixLink o-suffixLink--xs o-suffixLink--external" })
                                    @Html.Sitecore().Field(Templates.Features.Fields.LinkText2.ToString(), item.Item)
                                    @Html.Sitecore().EndField()
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>