@model Feature.Wealth.Component.Models.News.HeadlineNewsModel

<div class="c-section">
    <div class="l-wrap">
        @if (Model.LatestHeadlines == null)
        {
            <div class="l-table">
                <div class="c-section">
                    <div class="c-section__content">
                        <div class="c-empty">
                            <div class="c-empty__img">
                                <img src="@Url.Content("~/themes/images/lions/lion-compare.svg")" alt="">
                            </div>
                            <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="c-section__title">頭條新聞</div>
            <div class="c-section__content">
                <div class="l-headlines">
                    <div class="l-headlines__focus">
                        <div class="c-box c-box--gapless u-shadow-animation">
                            <div class="c-gridview">
                                <div class="c-gridview__media">
                                    <img src="@Url.Content("~/themes/images/articles/market_news.jpg")" class="c-gridview__img" srcset="" alt="">
                                </div>
                                <div class="c-gridview__content">
                                    <a href="@Model.LatestHeadlines.NewsDetailLink" class="c-gridview__title s3 u-ellipsis-2" id="latestHeadlinesTitle" target="_blank">
                                        @Model.LatestHeadlines.NewsTitle
                                    </a>
                                    <div class="c-gridview__minor">
                                        <div class="c-minorInfo s4">
                                            <div class="c-minorInfo__main">
                                                <span class="t-date" id="latestHeadlinesDate">
                                                    @Model.LatestHeadlines.NewsDate @Model.LatestHeadlines.NewsTime
                                                </span>
                                                <span class="o-views o-views--xs" id="latestHeadlinesViewCount">
                                                    @Model.LatestHeadlines.NewsViewCount
                                                </span>
                                            </div>
                                            @*<div class="c-minorInfo__like">
                                                    <a href="#" class="o-statusBtn o-statusBtn--sm o-statusBtn--like" data-after="收藏" data-msg="加入收藏|取消收藏" data-ia="true" data-ia-tooltip="false"></a>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-headlines__list">
                        <ul class="c-listGroup c-listGroup--article" id="HeadlinesData">

                            @if (Model.Headlines != null)
                            {
                                foreach (var item in Model.Headlines)
                                {
                                    <li class="c-listGroup__item">
                                        <div class="c-gridview">
                                            <div class="c-gridview__content">
                                                <a href="@item.NewsDetailLink" class="c-gridview__title t4 u-ellipsis-1 u-ellipsis-2@mb-only" target="_blank">
                                                    @item.NewsTitle
                                                </a>
                                                <div class="c-gridview__minor">
                                                    <div class="c-minorInfo s4">
                                                        <div class="c-minorInfo__main">
                                                            <span class="t-date">@item.NewsDate @item.NewsTime</span>
                                                            <span class="o-views o-views--xs">@item.NewsViewCount</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>