@model Feature.Wealth.Component.Models.News.MarketNewsDetailModel

<div class="l-wrap">

    @if (Model.MarketNewsDetailData == null)
    {
        <div class="l-table">
            <div class="c-section">
                <div class="c-section__content">
                    <div class="c-empty">
                        <div class="c-empty__img">
                            <img src="@Url.Content("~/themes/images/lions/lion-compare.svg")" alt="">
                        </div>
                        <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="c-article">
            <div class="c-article__head" id="newsHead">
                @if (string.IsNullOrEmpty(Model.MarketNewsDetailData.NewsTitle))
                {
                    <div class="c-article__title">@Model.MarketNewsDetailData.NewsTitle</div>
                }
            </div>
            <div class="c-article__extra">
                <div class="c-minorInfo s4">
                    <div class="c-minorInfo__main">
                        <span class="t-date" id="newsDate">@Model.MarketNewsDetailData.NewsDetailDate</span>
                    </div>
                    <div class="c-minorInfo__like">
                        <span class="o-views o-views--xs" data-eh="visit-update,visit-exec" eh-visit-pageid="@Sitecore.Context.Item.ID.ToString()" eh-visit-qs="id=@HttpUtility.UrlEncode(Request.QueryString["id"])"></span>
                    </div>
                </div>
            </div>
            <div class="c-article__content">
                <div class="c-section c-section--scroller">
                    <div class="l-paragraph" id="newsContent">
                        @Html.Raw(Model.MarketNewsDetailData.NewsContent)
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(Model.MarketNewsDetailData.NewsType))
                {
                    <div class="c-hashTags" id="newsBottomTags">
                        <div class="c-hashTags__title">Tags</div>
                        <div class="c-hashTags__content">
                            <ul class="l-divideList l-divideList--sm" id="newsBottomTagsUl">
                                @{
                                    var newsType = Model.MarketNewsDetailData.NewsType.Split(',');

                                    foreach (var item in newsType)
                                    {
                                        <li class="l-divideList__item l-divideList__item--auto">
                                            <a href="@Model.MarketNewsDetailData.NewsListUrl#newsType=@item" class="o-hashTag u-nowrap">#@item</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="o-record">

                @if (!string.IsNullOrEmpty(Model.MarketNewsDetailData.PreviousPageLink)
                    && !string.IsNullOrEmpty(Model.MarketNewsDetailData.PreviousPageTitle))
                {
                    <a href="@Model.MarketNewsDetailData.PreviousPageLink" class="o-record__nav o-record__nav--prev" id="prevBrnLink">
                        <span class="o-record__prev"></span>
                        <span class="o-record__title" id="prevBrnTitle">@Model.MarketNewsDetailData.PreviousPageTitle</span>
                    </a>
                }

                @if (!string.IsNullOrEmpty(Model.MarketNewsDetailData.NextPageLink)
                    && !string.IsNullOrEmpty(Model.MarketNewsDetailData.NextPageTitle))
                {
                    <a href="@Model.MarketNewsDetailData.NextPageLink" class="o-record__nav o-record__nav--next" id="nextBrnLink">
                        <span class="o-record__title" id="nextBrnTitle">@Model.MarketNewsDetailData.NextPageTitle</span>
                        <span class="o-record__next"></span>
                    </a>
                }
            </div>
        </div>
    }
</div>