@using Foundation.Wealth.Helper

<div class="c-section">
    <div class="l-mainstage">
        <div class="l-mainstage__wrap">
            <div class="l-mainstage__content">
                <!-- 篩選最外層[data-filter-block] -->
                <div class="l-filter no-picked" data-filter-block>
                    <div class="l-filter__block">
                        <!-- 收合區域[data-filter] -->
                        <div class="c-filter is-collapse" data-filter>
                            <div class="c-filter__search">
                                <!-- 條件群組[data-filter-group] -->
                                <div class="c-filterForm" data-filter-group>
                                    <!-- 條件群組標題[data-filter-title]，需要顯示在tag的文字請用<span>包起來 -->
                                    <div class="c-filterForm__title u-hidden" data-filter-title>
                                        <span>關鍵字</span>
                                    </div>
                                    <div class="c-filterForm__value">
                                        <div class="o-actionbox o-actionbox--lg" data-clear="true">
                                            <!-- #keyword: 請見頁面下方的script邏輯，套用jquery.autocomplete套件 -->
                                            <!-- [data-clear="textbox"]: 套用清除按鈕功能，標示此為文字輸入框 -->
                                            <input id="keyword" type="search" class="o-actionbox__input" data-clear="textbox" placeholder="請輸入關鍵字" data-keyword-input>
                                            <button type="submit" class="o-actionbox__btn o-actionbox__btn--magnifier" data-keyword-submit></button>
                                            <!-- [data-clear="button"]: 套用清除按鈕功能，標示此為清除按鈕 -->
                                            <button type="button" class="o-actionbox__clear" data-clear="button">清除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 小網收合區域[data-filter-hide="mobile"] -->
                            <div class="c-filter__mbHide" data-filter-hide="mobile">
                                <div class="c-filter__head">
                                    進階篩選
                                </div>
                                <!-- 大小網展開收合功能觸發點[data-filter-collapse] -->
                                <a href="#" class="c-filter__close" data-filter-collapse></a>
                                <div class="c-filter__wrap">
                                    <div class="c-filter__group c-filter__group--divider">
                                        <div class="l-flex u-flex-col u-flex-gap-lg u-flex-gap-max@mb-only">
                                            <div class="l-flex__item">
                                                <div class="c-filterForm" data-filter-group id="NewsType">
                                                    <div class="c-filterForm__title" data-filter-title>
                                                        <span>新聞類別</span>
                                                    </div>
                                                    <div class="c-filterForm__value">
                                                        <div class="l-pickGroup" id="newstype_criteria">
                                                            <div class="l-pickGroup__all">
                                                                <label class="o-btnCheckBox">
                                                                    <input class="o-btnCheckBox__input" type="checkbox" checked data-filter-checkall value="all" newsType="1">
                                                                    <div class="o-btnCheckBox__text">全部</div>
                                                                </label>
                                                            </div>
                                                            <div class="l-pickGroup__wrap">
                                                                <div class="l-pickCollapse" data-overflow-hide="newsType">
                                                                    <div class="l-pickCollapse__content" data-overflow-content="newsType">
                                                                        <div class="l-pickGroup">
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="頭條新聞" newsType="2">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="頭條新聞"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="總體經濟" newsType="3">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="總體經濟"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="國際股市" newsType="4">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="國際股市"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="台股" newsType="5">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="台股"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="深滬港股" newsType="6">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="深滬港股"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="亞股" newsType="7">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="亞股"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="美股" newsType="8">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="美股"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="歐股" newsType="9">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="歐股"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="基金" newsType="10">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="基金"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="期權" newsType="11">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="期權"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="商品原物料" newsType="12">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="商品原物料"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="外匯市場" newsType="13">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="外匯市場"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="債券市場" newsType="14">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="債券市場"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="產業情報" newsType="15">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="產業情報"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="金融市場" newsType="16">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="金融市場"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="科技脈動" newsType="17">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="科技脈動"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="研究結果" newsType="18">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="研究結果"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="市場短波" newsType="19">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="市場短波"></div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="l-pickGroup__item">
                                                                                <label class="o-btnCheckBox" data-filter-checkbox>
                                                                                    <input class="o-btnCheckBox__input" type="checkbox" value="人民幣" newsType="20">
                                                                                    <div class="o-btnCheckBox__text" data-filter-value="人民幣"></div>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="l-pickCollapse__expand">
                                                                        <div class="l-pickCollapse__btn l-pickCollapse__btn--pc">
                                                                            <a href="#" class="o-prefixLink o-prefixLink--down o-prefixLink--sm" data-overflow-action="newsType">展開</a>
                                                                        </div>
                                                                        <div class="l-pickCollapse__btn l-pickCollapse__btn--mb">
                                                                            <a href="#" class="o-collapseBtn o-collapseBtn--down" data-overflow-action="newsType"></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="l-pickCollapse__collapse">
                                                                        <div class="l-pickCollapse__btn l-pickCollapse__btn--pc">
                                                                            <a href="#" class="o-prefixLink o-prefixLink--up o-prefixLink--sm" data-overflow-action="newsType">收合</a>
                                                                        </div>
                                                                        <div class="l-pickCollapse__btn l-pickCollapse__btn--mb">
                                                                            <a href="#" class="o-collapseBtn o-collapseBtn--up" data-overflow-action="newsType"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="l-flex__item">
                                                <div class="c-filterForm" data-filter-group="special" id="NewsDate">
                                                    <div class="c-filterForm__title" data-filter-title>
                                                        <span>日期區間</span>
                                                    </div>
                                                    <div class="c-filterForm__value" data-filter-part="range" data-part-divide="-">
                                                        <div class="l-flex u-flex-col u-flex-gap-min">
                                                            <div class="l-flex__item">
                                                                <div class="l-flex u-flex-gap-sm u-flex-left" id="newsdate_criteria">
                                                                    <div class="l-flex__item l-flex__item--auto" data-part-id="range">
                                                                        <div class="o-calendarBox">
                                                                            <input type="text" id="startDate" class="o-calendarBox__input" data-calendar="true" readonly data-filter-input data-date-end-date="0d">
                                                                        </div>
                                                                    </div>
                                                                    <div class="l-flex__item l-flex__item--auto">-</div>
                                                                    <div class="l-flex__item l-flex__item--auto" data-part-id="range">
                                                                        <div class="o-calendarBox">
                                                                            <input type="text" id="endDate" class="o-calendarBox__input" data-calendar="true" readonly data-filter-input data-date-end-date="0d">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="l-flex__item u-hidden" data-error-text>
                                                                <div class="o-errorText">起訖日期區間錯誤</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 大小網展開收合功能觸發點[data-filter-collapse] -->
                                <div class="c-filter__total" data-filter-collapse>
                                    <div class="o-total o-total--wt">
                                        搜尋<span id="uid-total">0</span>筆
                                    </div>
                                </div>
                            </div>
                            <div class="u-hidden@lt-up">
                                <div class="c-filter__expand">
                                    <div>
                                        <!-- 大小網展開收合功能觸發點[data-filter-collapse] -->
                                        <a href="#" class="o-btn o-btn--primary o-btn--flat o-btn--auto" data-filter-collapse>
                                            展開進階篩選
                                            <img src="@Url.Content("~/themes/images/icons/white/corner-down-sm.svg")" class="o-btn__icon o-btn__icon--xs" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="c-filter__collapse">
                                    <div>
                                        <!-- 大小網展開收合功能觸發點[data-filter-collapse] -->
                                        <a href="#" class="o-btn o-btn--primary o-btn--flat o-btn--auto" data-filter-collapse>
                                            收合進階篩選
                                            <img src="@Url.Content("~/themes/images/icons/white/corner-up-sm.svg")" class="o-btn__icon o-btn__icon--xs" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-filter__picked">
                        <div class="c-pickedTag">
                            <div class="c-pickedTag__text">已選取</div>
                            <div class="c-pickedTag__items">
                                <!-- 已選取tag區[data-filter-tags] -->
                                <div class="l-pickGroup" data-filter-tags></div>
                            </div>
                        </div>
                    </div>
                    <div class="l-filter__tool">
                        <div class="l-filter__total">
                            <div class="o-total">
                                搜尋<span id="uid-total">0</span>筆
                            </div>
                        </div>
                        <div class="l-filter__reset">
                            <!-- 重設所有條件功能[data-filter-reset] -->
                            <a href="#" class="o-prefixLink o-prefixLink--refresh" id="reset">重設所有條件</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c-section">
    <div class="l-wrap">
        <div class="l-flex u-flex-col u-flex-gap-sm">
            <div class="l-flex__item" data-filter-empty="false">
                <div class="l-flex l-flex--wrap u-flex-gap-sm">
                    <div class="l-flex__item u-right u-hidden@dt-only">
                        <div class="o-sortingbox">
                            <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                            <select class="o-sortingbox__input" data-sortingbox="true" id="uid-sortbox">
                                <option value="">排序</option>
                                <option value="焦點新聞高至低" data-sorting-column="HotNews" data-sorting-class="is-desc">焦點新聞高至低</option>
                                <option value="焦點新聞低至高" data-sorting-column="HotNews" data-sorting-class="is-asc">焦點新聞低至高</option>
                                <option value="日期高至低" data-sorting-column="NewsDate" data-sorting-class="is-desc">日期高至低</option>
                                <option value="日期低至高" data-sorting-column="NewsDate" data-sorting-class="is-asc">日期低至高</option>
                                @*<option value="新聞類別高至低" data-sorting-column="NewsType" data-sorting-class="is-desc">新聞類別高至低</option>
                                <option value="新聞類別低至高" data-sorting-column="NewsType" data-sorting-class="is-asc">新聞類別低至高</option>*@
                                <option value="標題高至低" data-sorting-column="NewsTitle" data-sorting-class="is-desc">標題高至低</option>
                                <option value="標題低至高" data-sorting-column="NewsTitle" data-sorting-class="is-asc">標題低至高</option>
                                <option value="瀏覽人次高至低" data-sorting-column="NewsViewCount" data-sorting-class="is-desc">瀏覽人次高至低</option>
                                <option value="瀏覽人次低至高" data-sorting-column="NewsViewCount" data-sorting-class="is-asc">瀏覽人次低至高</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-flex__item">

                <div class="l-table" data-filter-empty="true" style="display:none;">
                    <div class="c-section">
                        <div class="c-section__content">
                            <div class="c-empty">
                                <div class="c-empty__img">
                                    <img src="@Url.Content("~/themes/images/lions/lion-compare.svg")" alt="">
                                </div>
                                <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="l-table" data-filter-empty="false">
                    <table class="c-table@dt-only c-cardTable@lt c-cardTable--zebra" data-table-name="newsTable" id="table">
                        <colgroup>
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col style="width: 27%;">
                            <col style="width: auto;">
                            <col style="width: 1%;">
                            @*<col style="width: 1%;">*@
                        </colgroup>
                        <thead>
                            <tr class="u-nowrap">
                                <th>
                                    <div class="c-table__title">
                                        <span>焦點新聞</span>
                                        <!-- .is-asc: 升冪 -->
                                        <!-- .is-desc: 降冪 -->
                                        <a href="#" class="o-sorting" data-sorting-column="HotNews"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>日期</span>
                                        <a href="#" class="o-sorting" data-sorting-column="NewsDate"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>新聞類別</span>
                                        <a href="#"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>標題</span>
                                        <a href="#" class="o-sorting" data-sorting-column="NewsTitle"></a>
                                    </div>
                                </th>
                                <th>
                                    <div class="c-table__title">
                                        <span>瀏覽人次</span>
                                        <a href="#" class="o-sorting" data-sorting-column="NewsViewCount"></a>
                                    </div>
                                </th>
                                @*<th>
                                <div class="c-table__title">
                                <span>收藏</span>
                                </div>
                                </th>*@
                            </tr>
                        </thead>
                        <tbody id="uid-fjs"></tbody>

                        <script id="uid-template" type="text/html">
                            <tr class="c-cardTable__item u-center@dt-only">
                                <td class="c-cardTable__space"></td>
                                <td class="c-cardTable__body " data-card-table-width="1/1">
                                    <div class="c-cardTable__content">
                                        <span class="o-iconText o-iconText--focus t-focus <%= HotNews %>" data-after-lt="焦點新聞"></span>
                                    </div>
                                </td>
                                <td class="c-cardTable__body" data-card-table-width="1/1">
                                    <div class="c-cardTable__content u-nowrap@dt-only"><%= NewsDate %></div>
                                </td>
                                <td class="c-cardTable__body" data-card-table-width="1/1">
                                    <div class="c-cardTable__content u-left">
                                        <% if (NewsType != null && NewsType != "") { %>
                                        <% var newsTypes = NewsType.split(','); %>
                                        <% for(var i = 0; i < newsTypes.length; i++ ) { %>
                                        <span class="o-hangTag o-hangTag--gn"><%= newsTypes[i].trim() %></span>
                                        <% } %>
                                        <% } %>
                                    </div>
                                </td>
                                <!-- .u-left@dt-only: 桌機版(@@desktop)置左 -->
                                <td class="c-cardTable__body u-left@dt-only">
                                    <div class="c-cardTable__content u-line-2@lt-only">
                                        <a href="<%= NewsDetailLink %>" class="o-contentLink t-bold u-ellipsis-1@dt-only u-ellipsis-2@lt" target="_blank"><%= NewsTitle %></a>
                                    </div>
                                </td>
                                <td class="c-cardTable__body" data-card-table-width="1/2">
                                    <div class="c-cardTable__content">
                                        <div class="o-views o-views@lt"><%= DisplayNewsViewCount %></div>
                                    </div>
                                </td>
                                <!-- .c-cardTable__space: 若需轉換成卡片，body 區塊結尾處需要額外放置此一欄位分隔 -->
                                <td class="c-cardTable__space"></td>
                                <!-- .c-cardTable__footer: 轉成卡片時若為下方按鈕區塊，需要加此 class name -->
                                <!--<td class="c-cardTable__footer" data-card-table-width="1/1">
                                <div class="c-cardTable__content">
                                    <ul class="l-collect l-collect--divider@lt">
                                        <li class="l-collect__item">-->
                                <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                <!-- [data-ia="true"]: 啟用互動式按鈕，預設會有 tooltip 及 toast 提示訊息，需搭配 [data-msg] 設定訊息才會有作用 -->
                                <!-- [data-msg]: active|inactive 的訊息，用 "|" 符號分隔，若訊息未設定完整則不顯示提示訊息 -->
                                <!--<a href="#" class="o-statusBtn o-statusBtn--like" data-after-lt="收藏" data-msg="加入收藏|取消收藏" data-ia="true"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>-->
                            </tr>
                        </script>

                    </table>

                    <div class="l-pagination">
                        <div class="l-pagination__size" id="uid-perPage">
                        </div>
                        <script id="uid-template-perPage" type="text/html">
                            <span>每頁顯示</span>
                            <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                            <select id="uid-view-perPage" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
                                <% for(var i = 0; i < values.length - 1; i++ ) { %>
                                <option value="<%= values[i] %>"><%= values[i] %>筆</option>
                                <% } %>
                                <option value="<%= values[values.length - 1] %>">全部</option>
                            </select>
                        </script>
                        <div class="l-pagination__switch" id="uid-pagination">
                        </div>
                        <script id="uid-template-pagination" type="text/html">
                            <div class="o-pagination">
                                <% if (currentPage > 1) { %>
                                <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
                                <% } else { %>
                                <!-- .is-disabled: 停用狀態，無法點擊 -->
                                <a href="#" class="o-pagination__prev is-disabled"></a>
                                <% } %>
                                <span class="o-pagination__pager">
                                    <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
                                    <span class="o-pagination__total"><%= totalPages %></span>
                                </span>
                                <% if (currentPage < totalPages ) { %>
                                <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
                                <% } else { %>
                                <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
                                <% } %>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="tmplKeywordNotFound">
        <div class="c-empty">
            <div class="c-empty__img">
                <img src="@Url.Content("~/themes/images/lions/lion-keyword.svg")" alt="">
            </div>
            <div class="c-empty__desc">哎呀！沒找到耶...<br>試試看其他關鍵字吧</div>
        </div>
    </template>

    <script>
        (function ($, window, document, undefined) {

            function initAutocomplete(data) {
                // 關鍵字搜尋 autocomplete，參考套件：https://github.com/devbridge/jQuery-Autocomplete
                $('#keyword').autocomplete({
                    noCache: true,
                    minChars: 0,
                    containerClass: 'autocomplete-suggestions autocomplete-suggestions--keyword',
                    maxHeight: 'auto',
                    zIndex: 5,
                    preserveInput: true,
                    showNoSuggestionNotice: true,
                    noSuggestionNotice: $('#tmplKeywordNotFound').html(),
                    lookup: function (query, done) {
                        query = query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, "\\$&");
                        if (query.length == 0) {
                            result = data.slice(0, 5);
                        } else {
                            result = data.filter(function (item) {
                                return new RegExp(query, 'gi').test(item.value);
                            });
                        }
                        done({ suggestions: result.slice(0, 5) });
                    },
                    onSearchComplete: function (query, suggestions) {
                        var autocomplete = $(this).autocomplete();
                        var container = autocomplete.suggestionsContainer;
                        var $this = $(this);

                        // 取消套件預設 blur 事件會關閉 suggestions container
                        $this.off('blur.autocomplete');

                        // 綁定 window click 事件，點擊頁面其他的地方時可關閉 suggestions container
                        if (autocomplete.isRegisteGlobalEvent != true) {
                            $(window).on('click.autocomplete',
                                {
                                    source: this
                                },
                                e => {
                                    if (e.target != e.data.source) {
                                        autocomplete.hide();
                                    }
                                });
                            autocomplete.isRegisteGlobalEvent = true;
                        }

                        // 停止 like icon 冒泡，避免觸發 autocomplete 的 select 事件，導致 suggestions container 被關閉
                        $(container).find('.o-statusBtn').off('click.autocomplete').on('click.autocomplete',
                            function (e) {
                                e.stopPropagation();
                            });
                        // 綁定 like icon 的互動功能
                        $(container).find('[data-ia]').interactive();
                        // 綁定 like icon 的彈跳登入畫面
                        $(container).find('[data-popup]').magnificPopup();
                    },
                    formatResult: function (suggestion, currentValue) {
                        let detailUrl = suggestion.Data.DetailUrl ? suggestion.Data.DetailUrl : '#';
                        //let className = suggestion.Data.IsLike ? 'is-active' : '';

                        //// like 按鈕
                        //let likeWord = suggestion.Data.IsNews ? '加入收藏|取消收藏' : '加入關注|取消關注';
                        //let $like = suggestion.Data.IsLike != null ? suggestion.Data.IsLogin == true ?
                        //    // <!-- [data-ia]: 展示 icon 的互動操作功能 -->
                        //    `<a href="#" class="o-statusBtn o-statusBtn--like ${className}" data-msg="${likeWord}" data-ia="true"></a>` :
                        //    // <!-- [data-popup]: 未登入開啟登入彈跳視窗 -->
                        //    `<a href="#popupLogin" class="o-statusBtn o-statusBtn--like ${className}" data-popup="true"><i></i></a>` : '';

                        //return `<div class="c-itemKeyword">
                        //            <a href="${detailUrl}" class="c-itemKeyword__content" target="_blank">
                        //                <div class="c-itemKeyword__title">${$.Autocomplete.defaults.formatResult(suggestion, currentValue)}</div>
                        //            </a>
                        //            <div class="c-itemKeyword__collections">${$like}</div>
                        //        </div>`;

                        return `<div class="c-itemKeyword">
                                            <a href="${detailUrl}" class="c-itemKeyword__content" target="_blank">
                                                <div class="c-itemKeyword__title">${$.Autocomplete.defaults.formatResult(suggestion, currentValue)}</div>
                                            </a>
                                        </div>`;
                    }
                });
            }

            document.addEventListener('DOMContentLoaded', function () {
                if (!jQuery) {
                    return;
                }

                let queryStringProcessed = false;

                let fjs;

                function initFilter(data) {
                    let opts = {
                        template: '#uid-template',
                        callbacks: {
                            afterFilter: function (result) {
                                this.paginator.setCurrentPage(1);
                                $('[id="uid-total"]').text(result.length);

                                let isEmpty = result.length == 0
                                $(`[data-filter-empty=${isEmpty}]`).show();
                                $(`[data-filter-empty=${!isEmpty}]`).hide();

                                window.loading('hide');
                            }
                        },
                        search: {
                            ele: '#keyword', fields: ['NewsTitle'], start_length: 2, bindEvent: false, multi: function () {
                                let texts = [];
                                $('[data-filter-tag="關鍵字"] .o-pickedTag__text').each(function (i, ele) {
                                    let matches = ele.innerHTML.match(/關鍵字\s+(.+)/);
                                    let text = matches && matches[1];
                                    texts.push(text);
                                });
                                return texts;
                            }
                        },
                        order: {
                            default_sort: 'asc',
                            sorts: [
                                { field: 'group1', ele: 'select#uid-sortbox' }
                            ],
                            onSortEvent: function (f, e) {
                                let $self = $(this);
                                if (e.type === 'click') { } else if (e.type === 'change') {
                                    let $selected = $self.find(':selected');
                                    let field = $selected.data('sorting-column');
                                    let order = $selected.data('sorting-class');
                                    f.field = field;
                                    if (!!order) {
                                        if (order === 'is-desc') {
                                            f.order = 'desc';
                                        } else if (order === 'is-asc') {
                                            f.order = 'asc';
                                        }
                                    } else {
                                        f.order = f.order === 'desc' ? 'asc' : 'desc';
                                    }
                                }
                            },
                        },
                        pagination: {
                            container: '#uid-pagination',
                            paginationView: '#uid-template-pagination',
                            visiblePages: 0,
                            perPage: {
                                values: [10, 50, 100, data.length],
                                container: '#uid-perPage',
                                perPageView: '#uid-template-perPage'
                            }
                        }
                    };

                    fjs = FilterJS(data, '#uid-fjs', opts);
                    //fjs.bindEvent('[data-filter-reset]', 'click.reset');
                    fjs.bindEvent('[data-filter-tag="關鍵字"] [data-tag-close]', 'click.tag');
                    fjs.bindEvent('[data-keyword-submit]', 'click.loading');

                    $('[data-keyword-input]').on('keypress.loading', function (e) {
                        if (e.which === 13 && !!$(this).val().trim()) {
                            $('[data-keyword-submit]').trigger('click.loading');
                        }
                    });

                    function fnScrollUp() {
                        window.loading('show');
                        setTimeout(() => {
                            window.loading('hide');
                        }, 300);

                        $('#table').scrollPosition('scroll');
                    }
                    $containgerPagination = $('#uid-pagination');
                    $containgerPagination.on('click', '[data-page]', fnScrollUp);
                    $containgerPagination.on('keypress', '[data-page-input]', function (e) {
                        if (e.which === 13) {
                            fnScrollUp();
                        }
                    });

                    $('#uid-view-perPage').on('change.pagesize', fnScrollUp).sizebox();
                    $('.l-mainstage input:not([data-keyword-input])').on('change.loading', loading);
                    $('[data-keyword-submit]').on('click.loading', function () {
                        if (!!$('[data-keyword-input]').val().trim()) {
                            window.loading('show');
                            setTimeout(() => {
                                window.loading('hide');
                            }, 300);
                        }
                    });
                }

                // 日期區間
                let range = [];
                $('[data-filter-part="range"] input').on('change.range', function () {
                    window.loading('show');

                    $('[data-filter-part="range"]').find('input').each((index, item) => {
                        range[index] = $(item).val().replaceAll('/', '-');
                    });
                    const hasValue = range.every(item => !!item);
                    let isSameOrBefore = moment(range[0]).isSameOrBefore(range[1]);
                    if (!hasValue) {
                        isSameOrBefore = true;

                        var newstype = getMarketNewsType();
                        var startdate = moment().add(-6, 'M').format('YYYY/MM/DD').replaceAll("/", "-");
                        var enddate = moment().format('YYYY/MM/DD').replaceAll("/", "-");

                        getMarketNewsData(newstype, startdate, enddate);
                    }
                    else if (hasValue && isSameOrBefore) {
                        var newstype = getMarketNewsType();
                        var startdate = $('[data-filter-part="range"] input').eq(0).val().replaceAll("/", "-");
                        var enddate = $('[data-filter-part="range"] input').eq(1).val().replaceAll("/", "-");

                        getMarketNewsData(newstype, startdate, enddate);
                    }

                    // 帶tag下去條件:
                    //  1. 日期區間有起訖都有值
                    //  2. 開始日在結束日之前
                    // 若父層[data-filter-group]的值為'special'，則不會印出已選擇的tag
                    $('[data-filter-part="range"]').toggleClass('is-error', !isSameOrBefore).find('[data-error-text]').toggleClass('u-hidden', isSameOrBefore);
                    $(this).closest('[data-filter-group]').data('filter-group', hasValue && isSameOrBefore ? '' : 'special');
                    $('[data-filter-part="range"] [data-filter-input]').trigger('change.filter');
                });

                // 日期區間預設半年(示意)
                $('[data-filter-part="range"] input').eq(0).on('change.default', function () {
                    if (!$(this).val()) {
                        $(this).val(moment().add(-6, 'M').format('YYYY/MM/DD')).datepicker('update');
                    }
                }).trigger('change.default');
                $('[data-filter-part="range"] input').eq(1).on('change.default', function () {
                    if (!$(this).val()) {
                        $(this).val(moment().format('YYYY/MM/DD')).datepicker('update');
                    }
                }).trigger('change.default');

                function getMarketNewsData(newstype, startdate, enddate) {

                    var token = $('input[name="__RequestVerificationToken"]').val();

                    const params = {
                        id: newstype,
                        startDatetime: startdate,
                        endDatetime: enddate,
                        __RequestVerificationToken: token,
                    };

                    $.ajax({
                        url: '@ClientRoute.GenerateUrl(this, "News", "GetMarketNewsData")',
                        type: 'POST',
                        data: params,
                    }).done(function (data, textStatus, jqXHR) {
                        console.log(data);

                        initFilter(data);
                        initAutocomplete(data);
                        $('[data-filter-switch="#uid-template"]').trigger('change');

                        if (!queryStringProcessed) {
                            queryStringProcessed = true;

                            let urlParams = new URLSearchParams(window.location.search);
                            let queryString = DOMPurify.sanitize(urlParams.get('newsType'));

                            if (queryString) {
                                $("input[value='" + queryString + "']").prop('checked', true).change();
                            }
                        }

                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                        $('[data-filter-empty="true"]').show();
                        $('[data-filter-empty="false"]').hide();
                    }).always(function () {
                        window.loading('hide');
                    });
                }

                var newstype = getMarketNewsType();
                var startdate = $('[data-filter-part="range"] input').eq(0).val().replaceAll("/", "-");
                var enddate = $('[data-filter-part="range"] input').eq(1).val().replaceAll("/", "-");
                getMarketNewsData(newstype, startdate, enddate);

                function getMarketNewsType() {
                    var selectedCheckboxes = $('#newstype_criteria').find('input[type="checkbox"]:checked');
                    var newsTypes = [];

                    selectedCheckboxes.each(function () {
                        var newsType = $(this).attr('newsType');
                        newsTypes.push(newsType);
                    });

                    var concatenatedNewsTypes = newsTypes.join(',');
                    return concatenatedNewsTypes;
                }

                $(document).on('change', '.o-btnCheckBox__input', function () {
                    window.loading('show');
                    var newstype = getMarketNewsType();
                    var startdate = $('[data-filter-part="range"] input').eq(0).val().replaceAll("/", "-");
                    var enddate = $('[data-filter-part="range"] input').eq(1).val().replaceAll("/", "-");
                    getMarketNewsData(newstype, startdate, enddate);
                });

                $('#reset').on('click', function (e) {
                    e.preventDefault();
                    window.loading('show');

                    $("[data-keyword-input]").val("");
                    $('[data-filter-tag="關鍵字"]').each(function () {
                        $('[data-filter-tag="關鍵字"] .o-pickedTag__button').trigger('click');
                    });

                    $("[data-filter-checkbox] input").prop("checked", !1);
                    $('[data-filter-checkall]').prop('checked', true);
                    $("[data-filter-input]").val("").trigger("change");
                    $("[data-filter-tags]").empty();
                    $('[data-filter-block]').addClass('no-picked');
                });

                // table 排序功能
                $('#table').on('click.sorting', '.o-sorting', function (e) {
                    e.preventDefault();

                    var $this = $(this);
                    var orderby = '';
                    if ($this.hasClass('is-asc')) {
                        $this.removeClass('is-asc').addClass('is-desc');
                        orderby = 'is-desc';
                    } else {
                        $this.closest('.l-table').find('.o-sorting').removeClass('is-asc is-desc');
                        $this.addClass('is-asc');
                        orderby = 'is-asc';
                    }

                    // 連動 sortingbox
                    let $sortingbox = $('#uid-sortbox');
                    var sortingColumn = $this.data('sorting-column');
                    let $option = $(`option[data-sorting-column="${sortingColumn}"][data-sorting-class="${orderby}"]`, $sortingbox);
                    if ($option.length != 0) {
                        $option.prop('selected', true);
                        $sortingbox.trigger('change');
                    } else {
                        $sortingbox.val(null).trigger('change');
                    }
                });

                // 手機版分頁排序功能
                $('[data-sortingbox]:not(#uid-sortbox)').on('change', function (e) {
                    let self = this;
                    let $self = $(this);
                    let sortingColumn = $('option:selected', self).data('sorting-column');
                    let orderby = $('option:selected', self).data('sorting-class');
                    let $box = $('#uid-sortbox');
                    let $option = $(`option[data-sorting-column="${sortingColumn}"][data-sorting-class="${orderby}"]`, $box);
                    if ($option.length != 0) {
                        $option.prop('selected', true);
                        $box.trigger('change');
                    } else {
                        $box.val(null).trigger('change');
                    }
                })
                $('#uid-sortbox').on('change.select2', function (e) {
                    let self = this;
                    let $self = $(this);
                    let sorting = $self.val();
                    let $linkTable = $('#table');
                    let sortingColumn = $('option:selected', self).data('sorting-column');
                    let orderby = $('option:selected', self).data('sorting-class');

                    // 連動 table
                    $('.o-sorting', $linkTable).removeClass('is-asc is-desc');
                    $(`[data-sorting-column="${sortingColumn}"]`, $linkTable).addClass(orderby);

                    let $linkedBox = $('[data-sortingbox]').not(self);
                    for (box of $linkedBox) {
                        let $box = $(box);
                        let $option = $(`option[data-sorting-column="${sortingColumn}"][data-sorting-class="${orderby}"]`, $box);
                        if ($option.length != 0) {
                            $option.prop('selected', true);
                            $box.trigger('change.select2');
                        } else {
                            $box.val(null).trigger('change.select2');
                        }
                    }
                });

            });
        })(jQuery, window, document);
    </script>
</div>