@using Feature.Wealth.Component.Models.News
@model NewsModel

@if (Model.Datasource == null)
{
    return;
}

<div class="l-wrap">
    <div class="c-article">
        <div class="c-article__head">
            @if (!string.IsNullOrEmpty(Model.Category))
            {
                <div class="c-article__tag">
                    <span class="o-hangTag o-hangTag--gn">@Model.Category</span>
                </div>
            }
            <div class="c-article__title">@Html.Sitecore().Field(Templates.NewsDetails.Fields.PageTitle.ToString(), Model.Datasource)</div>
        </div>
        <div class="c-article__extra">
            <div class="c-minorInfo s4">
                <div class="c-minorInfo__main">
                    <span class="t-date">@Model.Date</span>
                </div>
            </div>
        </div>
        <div class="c-article__source">@Html.Sitecore().Field(Templates.NewsDetails.Fields.Description.ToString(), Model.Datasource)</div>
        <div class="c-article__content">
            <div class="c-section">
                <figure class="o-figure">
                    @if (!string.IsNullOrEmpty(Model.Image))
                    {
                        <img src="@Model.Image" srcset="" class="o-figure__img" alt="">
                    }
                    <figcaption class="o-figure__caption">@Html.Sitecore().Field(Templates.NewsDetails.Fields.ImageCaption.ToString(), Model.Datasource)</figcaption>
                </figure>
            </div>
            <div class="c-section">
                <p class="l-paragraph">
                    @Html.Sitecore().Field(Templates.NewsDetails.Fields.Content.ToString(), Model.Datasource)
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($, window, document) {
        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }
        });
    })(jQuery, window, document);
</script>