@using Foundation.Wealth.Helper;
@using Feature.Wealth.Component.Models.Invest;
@using Feature.Wealth.Component.Models.HighRatedFund
@model HighRatedFundModel


@foreach (var item in Model.HighRatedFunds)
{
	if (item.ProductCode != null && item.ProductCode != "")
	{
		<tr class="c-cardTable__item u-nowrap@dt-only u-center@dt-only" data-product-id="@item.ProductCode">
			<td class="c-cardTable__top"></td>
			<td class="c-cardTable__header u-wrap@dt-only u-left@dt-only">
				<div class="c-cardTable__content">
					<div class="l-target">
						<div class="l-target__name">
							<a href="@Model.DetailLink?id=@item.ProductCode" class="o-contentLink t-bold u-ellipsis-2" target="_blank">@item.ProductCode @item.FundName</a>
						</div>
						@if (item.Tags != null)
						{
							<div class="l-target__additional">
								<ul class="l-tag">
									@for (var i = 0; i < item.Tags.Count; i++)
									{
										<li class="l-tag__item">
											<span class="o-tag">@item.Tags[i] </span>
										</li>
									}
								</ul>
							</div>
						}
					</div>
				</div>
			</td>
			<td class="c-cardTable__space"></td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">最新淨值<br>(淨值日)</div>
				@if (item.NetAssetValue != null)
				{
					<div class="c-cardTable__content">@item.NetAssetValue<br><span class="t-date">@item.NetAssetValueDateFormat</span></div>
				}
				else
				{
					<div class="c-cardTable__content">-</div>
				}
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">
					幣別
					<a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
				</div>
				@if (item.CurrencyName != null)
				{
					<div class="c-cardTable__content">
						@Html.CurrencyLink(null, item.CurrencyName)
					</div>
				}
				else
				{
					<div class="c-cardTable__content">-</div>
				}

			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">當日漲跌幅</div>
				<div class="c-cardTable__content">
					@if (item.PercentageChangeInFundPrice != null)
					{
						if (item.PercentageChangeInFundPrice < 0)
						{
							<span class="o-fall">@item.PercentageChangeInFundPrice%</span>
						}
						else
						{
							<span class="o-rise">@item.PercentageChangeInFundPrice%</span>
						}
					}
					else
					{
						<span>-</span>
					}
				</div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">6個月績效</div>
				<div class="c-cardTable__content">
					@if (item.SixMonthReturnOriginalCurrency != null)
					{
						if (item.SixMonthReturnOriginalCurrency < 0)
						{
							<span class="o-fall">@item.SixMonthReturnOriginalCurrency%</span>
						}
						else
						{
							<span class="o-rise">@item.SixMonthReturnOriginalCurrency%</span>
						}
					}
					else
					{
						<span>-</span>
					}
				</div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">風險屬性</div>
				@if (item.RiskRewardLevel != null)
				{
					<div class="c-cardTable__content">@item.RiskRewardLevel</div>
				}
				else
				{
					<div class="c-cardTable__content">-</div>
				}
			</td>
			<td class="c-cardTable__space"></td>
			<td class="c-cardTable__footer" data-card-table-width="@((item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability))) ? "2/3" : "1/1")">
				<div class="c-cardTable__content">
					<ul class="l-collect l-collect--divider@lt">
						<li class="l-collect__item">
							@Html.FocusButton(null, item.ProductCode, item.FundName, InvestTypeEnum.Fund, true)
						</li>
						<li class="l-collect__item">
							@Html.CompareButton(null, item.ProductCode, item.FundName, InvestTypeEnum.Fund, true)
						</li>
					</ul>
				</div>
			</td>
			<td class="c-cardTable__footer" data-card-table-width="1/3">
				<div class="c-cardTable__content">
					@if (item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability)))
					{
						@Html.SubscriptionButton(null, item.ProductCode, InvestTypeEnum.Fund, true)
					}
				</div>
			</td>
		</tr>
	}
}