@using Feature.Wealth.Component.Models.AnnouncementsAndWarnings
@model AnnouncementsAndWarningsModel

@if (Model == null)
{
    return;
}

@if (!string.IsNullOrEmpty(Model.Content))
{
    <div class="c-section">
        <div class="c-section__content">
            <!-- .c-list--num: 純數字樣式
            .c-list--bracketNum: 數字+刮號樣式
            .c-list--disc: 實心圓點樣式
            .c-list--circle: 空心圓點樣式 -->
            <ol class="c-list c-list--num">

                    @Html.Sitecore().Field(Templates.AnnouncementsandWarnings.Fields.Content.ToString(), Model.Item)
            
            </ol>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.MainTitle) || !string.IsNullOrEmpty(Model.Description) || !string.IsNullOrEmpty(Model.Image))
{
    <section class="c-section">
        <div class="l-wrap">
            <div class="c-section__content">
                <div class="l-feature l-feature--sm">
                    <ul class="l-feature__list">
                        <li class="l-feature__item">
                            <div class="c-feature c-feature--join c-feature--personalize">
                                <div class="c-feature__content u-center">
                                    <h3 class="c-feature__title">@Model.MainTitle</h3>
                                    <p class="c-feature__desc">@Html.Sitecore().Field(Templates.AnnouncementsandWarnings.Fields.Description.ToString(), Model.Item)</p>
                                </div>
                                <div class="c-feature__plate">
                                    <img src="@Model.Image" srcset="" alt="" class="c-feature__img">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
}
@if (!string.IsNullOrEmpty(Model.WarningTitle) || !string.IsNullOrEmpty(Model.WarningContent))
{
    <div class="c-section">
        <div class="l-wrap">
            <div class="c-section__content">
                <div class="c-collapse c-collapse--warning" data-collapse="true">
                    <div class="c-collapse__head" data-collapse-button="true">
                        <span>@Model.WarningTitle</span>
                    </div>
                    <div class="c-collapse__content" data-collapse-content="true">
                        <div class="c-collapse__inner">
                            @Html.Sitecore().Field(Templates.AnnouncementsandWarnings.Fields.WarningContent.ToString(), Model.Item)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}