@using Feature.Wealth.Component.Models.Invest;
@using Feature.Wealth.Component.Models.DiscountPremium;
@model DiscountPremiumModel


@foreach (var item in Model.DiscountPremiums)
{
	if (item.ProductCode != null && item.ProductCode != "")
	{
		<tr class="c-cardTable__item u-nowrap@dt-only u-center@dt-only" data-product-id="@item.ProductCode">
			<td class="c-cardTable__top"></td>
			<td class="c-cardTable__header u-wrap@dt-only u-left@dt-only">
				<div class="c-cardTable__content">
					<div class="l-target">
						<div class="l-target__name">
							<a href="@Model.DetailLink?id=@item.ProductCode" class="o-contentLink t-bold u-ellipsis-2" target="_blank">@item.ProductCode @item.ProductName</a>
						</div>
						@if (item.ETFDiscountTags.Length > 0)
						{
							<div class="l-target__additional">
								<ul class="l-tag">
									@for (var i = 0; i < item.ETFDiscountTags.Length; i++)
									{
										<li class="l-tag__item">
											<a href="#" class="o-tag"> @item.ETFDiscountTags[i]</a>
										</li>
									}
								</ul>
							</div>
						}
					</div>
				</div>
			</td>
			<td class="c-cardTable__space"></td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">交易所代碼</div>
				<div class="c-cardTable__content">@item.ExchangeCode</div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">市價<br>(日期)</div>
				<div class="c-cardTable__content">@item.MarketPrice<br><span class="t-date">@item.NetAssetValueDateFormat</span></div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">折溢價(%)</div>
				@if (item.DiscountPremium < 0)
				{
					<span class="o-fall">@item.DiscountPremium%</span>
				}
				else
				{
					<span class="o-rise">@item.DiscountPremium%</span>
				}
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">最新量</div>
				<div class="c-cardTable__content">@item.LatestVolumeTradingVolumeFormat</div>
			</td>
			<td class="c-cardTable__body" data-card-table-width="1/2">
				<div class="c-cardTable__title" data-length="5">最新量-10日量</div>
				<div class="c-cardTable__content">@item.TenDayAverageVolumeFormat</div>
			</td>
			<td class="c-cardTable__space"></td>
			<td class="c-cardTable__footer" data-card-table-width="@((item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability))) ? "2/3" : "1/1")">
				<div class="c-cardTable__content">
					<ul class="l-collect l-collect--divider@lt">
						<li class="l-collect__item">
							@Html.FocusButton(null, item.ProductCode, item.ProductName, InvestTypeEnum.ETF, true)
						</li>
						<li class="l-collect__item">
							@Html.CompareButton(null, item.ProductCode, item.ProductName, InvestTypeEnum.ETF, true)
						</li>
					</ul>
				</div>
			</td>
			<td class="c-cardTable__footer" data-card-table-width="1/3">
				<div class="c-cardTable__content">
					@if (item.AvailabilityStatus == "Y" && (item.OnlineSubscriptionAvailability == "Y" || string.IsNullOrEmpty(item.OnlineSubscriptionAvailability)))
					{
						@Html.SubscriptionButton(null, item.ProductCode, InvestTypeEnum.ETF, true)
					}
				</div>
			</td>
		</tr>
	}
}