    <div class="c-tab c-tab--pellet" data-tab="true" data-docking="false">
        <div class="c-tab__header">
            <ul class="c-tab__navs">
                <!-- .is-active: 作用中的項目 -->
                <!-- [data-tab-target]: 值需對應 [data-tab-panel-id] 的值，按下後會自動顯示相對的 panel -->
                <!-- 若為外連，不要賦予[data-tab-target]屬性 -->
                <li>
                    <a href="#" class="c-tab__item is-active" target="_self" title="基金" data-tab-target="tab-1-1">
                        基金
                        <span class="c-tab__num" id="fundTrackTotal">0</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="c-tab__item " target="_self" title="ETF" data-tab-target="tab-1-2">
                        ETF
                        <span class="c-tab__num" id="etfTrackTotal">0</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="c-tab__item " target="_self" title="國外股票" data-tab-target="tab-1-3">
                        國外股票
                        <span class="c-tab__num" id="foreignStockTrackTotal">0</span>
                    </a>
                </li>
            <li>
                <a href="#" class="c-tab__item " target="_self" title="國外債劵" data-tab-target="tab-1-4">
                    國外債劵
                    <span class="c-tab__num" id="foreignBondTrackTotal">0</span>
                </a>
            </li>
            </ul>
        </div>
        <div class="c-tab__panel is-active" data-tab-panel-id="tab-1-1">
            @Html.Partial("~/Views/Feature/Wealth/Component/FocusList/_FundList.cshtml")
        </div>
        <div class="c-tab__panel" data-tab-panel-id="tab-1-2">
            @Html.Partial("~/Views/Feature/Wealth/Component/FocusList/_EtfList.cshtml")
        </div>
        <div class="c-tab__panel" data-tab-panel-id="tab-1-3">
            @Html.Partial("~/Views/Feature/Wealth/Component/FocusList/_ForeignStockList.cshtml")
        </div>
        <div class="c-tab__panel" data-tab-panel-id="tab-1-4">
            @Html.Partial("~/Views/Feature/Wealth/Component/FocusList/_ForeignBondList.cshtml")
        </div>
    </div>

@Html.Partial("~/Views/Feature/Wealth/Component/FocusList/_ShareScript.cshtml")
