@inherits Xcms.Sitecore.Foundation.Basic.MVC.EditorCompatibleView<IEnumerable<Xcms.Sitecore.Feature.Navigation.Models.Breadcrumb>>

@if (Model == null)
{
    return;
}

<div class="l-navbar__breadcrumb">
    <ul class="o-breadcrumb">
        @{
            int ix = 0;
            foreach (var node in Model)
            {
                ix++;

                if (ix == 1)
                {
                    <li class="o-breadcrumb__item"><a href="/" class="o-breadcrumb__link o-breadcrumb__link--home">Home</a></li>
                }
                else
                {
                    if (node.IsContextItem)
                    {
                        <li class="o-breadcrumb__item"><span class="o-breadcrumb__link">@node.GetBestLinkText()</span></li>
                    }
                    else
                    {
                        <li class="o-breadcrumb__item">
                            @if (string.IsNullOrEmpty(node.Link.Url) || ix == 2 || ix == 3)
                            {
                                <span class="o-breadcrumb__link">@node.GetBestLinkText()</span>
                            }
                            else
                            {
                                <a href="@(node.Link.Url)" target="@(node.Link.Target)" class="o-breadcrumb__link">@node.GetBestLinkText()</a>
                            }
                        </li>
                    }
                }
            }
        }
    </ul>
</div>