@* model Xcms.Sitecore.Feature.Navigation.Models.NavigationMenu *@
@using Feature.Wealth.Component.Models.Navigation
@using Xcms.Sitecore.Feature.Navigation.Models
@using Xcms.Sitecore.Foundation.Basic.FieldTypes
@using Xcms.Sitecore.Foundation.Basic.SitecoreExtensions
@inherits Xcms.Sitecore.Foundation.Basic.MVC.EditorCompatibleView<Xcms.Sitecore.Feature.Navigation.Models.NavigationMenu>
@using Feature.Wealth.Account.Helpers
@using Foundation.Wealth.Helper
@using Feature.Wealth.Component.Models.Consult
@if (Model == null)
{
    return;
}
@{
    var logoutUrl = ClientRoute.GenerateUrl(this, "Accounts", "Logout");
}
<div class="l-header__menu">
    <nav class="c-menu c-menu--lv1">
        <div class="c-menu__wrap c-menu__wrap--lv1">
            @* 切 *@
            <menu class="c-menu__list c-menu__list--lv1">
                @foreach (var node in Model.Children)
                {
                    switch (node)
                    {
                        case NavigationPageLink pageLinkLv:
                            if (pageLinkLv.Item.IsChecked(Templates.Navigable.Fields.ShowNavigation))
                            {
                                if (pageLinkLv.Link.Type == LinkType.External)
                                {
                                    pageLinkLv.Link.Class += " c-menu__name--external ";
                                }

                                if (pageLinkLv.Item.IsChecked(Templates.Navigable.Fields.Highlight))
                                {
                                    pageLinkLv.Link.Class += " c-menu__name--highlight ";
                                }

                                <li class="c-menu__item c-menu__item--lv1">
                                    <!-- 第一層選單要加[data-megamenu="true"]以綁定互動操作功能 -->
                                    <a class="c-menu__name c-menu__name--lv1 @(pageLinkLv.Link.Class)" data-megamenu="true">
                                        @Html.Sitecore().Field(Templates.IconNavigationLink.Fields.Icon, pageLinkLv.Item, new { disableWebEditing = true })
                                        @pageLinkLv.GetBestLinkText()
                                    </a>
                                    @if (pageLinkLv.Item.IsChecked(Templates.Navigable.Fields.ShowChildren))
                                    {
                                        <div class="c-menu c-menu--lv2">
                                            <div class="c-menu__wrap c-menu__wrap--lv2">
                                                <menu class="c-menu__list c-menu__list--lv2">
                                                    @{
                                                        foreach (var child in pageLinkLv.Children)
                                                        {
                                                            if (child is NavigationPageLink pageLinkLv1 && pageLinkLv1.Item.IsChecked(Templates.Navigable.Fields.ShowNavigation))
                                                            {
                                                                <li class="c-menu__item c-menu__item--lv2">
                                                                    <a href="#" class="c-menu__name c-menu__name--lv2">@pageLinkLv1.GetBestLinkText()</a>
                                                                    @if (pageLinkLv1.Item.IsChecked(Templates.Navigable.Fields.ShowChildren))
                                                                    {
                                                                        <div class="c-menu c-menu--lv3">
                                                                            <div class="c-menu__wrap c-menu__wrap--lv3">
                                                                                <menu class="c-menu__list c-menu__list--lv3">
                                                                                    @foreach (var childLv2 in pageLinkLv1.Children)
                                                                                    {
                                                                                        if (childLv2 is NavigationPageLink pageLinkLv2 && pageLinkLv2.Item.IsChecked(Templates.Navigable.Fields.ShowNavigation))
                                                                                        {
                                                                                            if (pageLinkLv2.Link.Type == LinkType.External)
                                                                                            {
                                                                                                pageLinkLv2.Link.Class += " c-menu__name--external";
                                                                                            }

                                                                                            <li class="c-menu__item c-menu__item--lv3">
                                                                                                <a href="@(pageLinkLv2.Link.Url)" target="@(pageLinkLv2.Link.Target)" class="c-menu__name c-menu__name--lv3 @(pageLinkLv2.Link.Class)">
                                                                                                    @Html.Sitecore().Field(Templates.IconNavigationLink.Fields.Icon, pageLinkLv2.Item, new { disableWebEditing = true })
                                                                                                    @pageLinkLv2.GetBestLinkText()
                                                                                                </a>
                                                                                            </li>
                                                                                        }
                                                                                    }
                                                                                </menu>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </menu>
                                                @{
                                                    if (pageLinkLv.Item.FieldHasValue(Templates.ImageNavigationLink.Fields.Image)
                                                    || pageLinkLv.Item.FieldHasValue(Templates.ImageNavigationLink.Fields.Title)
                                                    || pageLinkLv.Item.FieldHasValue(Templates.ImageNavigationLink.Fields.Slogan)
                                                    || pageLinkLv.Item.FieldHasValue(Templates.ImageNavigationLink.Fields.ButtonText)
                                                    || pageLinkLv.Item.FieldHasValue(Templates.ImageNavigationLink.Fields.ButtonLink))
                                                    {
                                                        <div class="c-menu__banner">
                                                            <article class="c-banner c-banner--menu">
                                                                @Html.Sitecore().Field(Templates.ImageNavigationLink.Fields.Image, pageLinkLv.Item, new { @class = "c-banner__img", disableWebEditing = true })
                                                                <div class="c-banner__content">
                                                                    <h3 class="c-banner__title">@pageLinkLv.Item.Field(Templates.ImageNavigationLink.Fields.Title)</h3>
                                                                    <p class="c-banner__slogan">@pageLinkLv.Item.Field(Templates.ImageNavigationLink.Fields.Slogan)</p>
                                                                    <div class="c-banner__actions">
                                                                        @{
                                                                            var link = pageLinkLv.Item.GeneralLink(Templates.ImageNavigationLink.Fields.ButtonLink);
                                                                            if (link != null && !string.IsNullOrEmpty(link.Url))
                                                                            {
                                                                                var html = link.Url.StartsWith("/") ? new HtmlString("") : new HtmlString(" rel=\"noopener noreferrer\"");
                                                                                <a href="@(link?.Url)" target="@(link?.Target)"@html class="o-btn o-btn--primary o-btn--thin o-btn--auto">@pageLinkLv.Item.Field(Templates.ImageNavigationLink.Fields.ButtonText)</a>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </article>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                </li>
                            }

                            break;
                    }
                }
            </menu>
            @if (FcbMemberHelper.CheckMemberLogin())
            {
                var member = FcbMemberHelper.GetMemberAllInfo();
                <div class="c-menu__login">
                    <div class="l-flex u-flex-col u-flex-gap-sm">
                        @if (!ConsultRelatedLinkSetting.GetIsMaintain() && FcbMemberHelper.BranchCanUseConsult() && !string.IsNullOrEmpty(member.WebBankId) && !string.IsNullOrEmpty(member.Advisror) && !member.IsManager)
                        {
                            <div class="l-flex__item">
                                <a href="@MemberRelatedLinkHelper.GetReserveConsultingUrl()" class="o-btn o-btn--primary o-btn--lg">預約諮詢</a>
                            </div>
                        }
                        <div class="l-flex__item">
                            <a href="@logoutUrl" class="o-btn o-btn--login o-btn--lg">登出</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </nav>
</div>