@using Feature.Wealth.Component.Models.IndexBanner
@model IndexBannerModel

@if (Model == null)
{
	return;
}

<section class="swiper c-swiper c-swiper--kv" data-carousel="true">
	<div class="swiper-wrapper c-swiper__wrapper">
		@foreach (var banner in Model.Items)
		{
			<div class="swiper-slide c-swiper__slide">
				@if (banner.IsLight)
				{
					<div class="c-banner c-banner--kv c-banner--dark">
						<img src="@banner.ImageUrlPC" class="c-banner__img c-banner__img--pc" loading="lazy" alt="聰明理財 快樂生活每一天">
						<img src="@banner.ImageUrlMB" class="c-banner__img c-banner__img--mb" loading="lazy" alt="聰明理財 快樂生活每一天">
						<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
						<div class="c-banner__content">
							<h3 class="c-banner__title">@Html.Sitecore().Field(Template.IndexBanner.Fields.Title.ToString(), banner.Item)</h3>
							<p class="c-banner__slogan">@Html.Sitecore().Field(Template.IndexBanner.Fields.Subtitle.ToString(), banner.Item)</p>
							<div class="c-banner__actions">
								@if (!string.IsNullOrEmpty(banner.ButtonLink) || !string.IsNullOrEmpty(banner.ButtonText))
								{
									<a href="@banner.ButtonLink" class="o-btn o-btn--wt o-btn--dark@dt o-btn--flat@lt" target="@banner.Target">@banner.ButtonText</a>
								}
							</div>
						</div>
					</div>
				}
				else
				{
					<div class="c-banner c-banner--kv c-banner--light">
						<img src="@banner.ImageUrlPC" class="c-banner__img c-banner__img--pc" loading="lazy" alt="聰明理財 快樂生活每一天">
						<img src="@banner.ImageUrlMB" class="c-banner__img c-banner__img--mb" loading="lazy" alt="聰明理財 快樂生活每一天">
						<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
						<div class="c-banner__content">
							<h3 class="c-banner__title">@Html.Sitecore().Field(Template.IndexBanner.Fields.Title.ToString(), banner.Item)</h3>
							<p class="c-banner__slogan">@Html.Sitecore().Field(Template.IndexBanner.Fields.Subtitle.ToString(), banner.Item)</p>
							<div class="c-banner__actions">
								@if (!string.IsNullOrEmpty(banner.ButtonLink) || !string.IsNullOrEmpty(banner.ButtonText))
								{
									@Html.Sitecore().BeginField(Template.IndexBanner.Fields.ButtonLink.ToString(), banner.Item, new { haschildren = true, @class = "o-btn o-btn--wt o-btn--flat@lt" })
									@Html.Sitecore().Field(Template.IndexBanner.Fields.ButtonText.ToString(), banner.Item)
									@Html.Sitecore().EndField()
								}
							</div>
						</div>
					</div>
				}
			</div>
		}
	</div>
	<div class="swiper-button-next c-swiper__next"></div>
	<div class="swiper-button-prev c-swiper__prev"></div>
	<div class="swiper-pagination c-swiper__pagination"></div>
</section>


