@using Feature.Wealth.Component.Models.SearchBar
@using Xcms.Sitecore.Foundation.Basic.SitecoreExtensions

@model SearchBarModel
@if (!Model.IsValid)
{
    return;
}
<section class="l-siteSearch">
    <div class="l-siteSearch__wrap">
        <div class="l-siteSearch__box">
            <search class="c-siteSearch">
                <div class="c-siteSearch__type">
                    <!-- 選全部，要隱藏"進階搜尋"，故增加 id 供下方 script 控制使用 -->
                    <select id="SearchCategory" class="o-selectbox o-selectbox--full o-selectbox--shadow" data-selection-css-class="select2-selection--shadow" data-selectbox="true" data-width="100%">
                        @foreach (var item in Model.HotKeyWords)
                        {
                            var val = item.GetFieldValue(Templates.SourceItem.Fields.LinkText);
                            var link = item.TargetItem(Templates.HotKeyWordSourceItem.Fields.SearchLink)?.Url() ?? item.TargetItem(Templates.SourceItem.Fields.LinkItem)?.Url();
                            var isSiteProductSearch = item.IsChecked(Templates.HotKeyWordSourceItem.Fields.IsSiteProductSearch);
                            <option value="@val" data-advance-url="@link" data-advance-hidden="@(isSiteProductSearch ? "true" : "false")">@val</option>
                        }
                    </select>
                </div>
                <div class="c-siteSearch__keyword">
                    <!-- [data-clear="true"]: 套用清除按鈕功能 -->
                    <div class="o-actionbox o-actionbox--full" data-clear="true">
                        <!-- #keyword: 請見頁面下方的script邏輯，套用jquery.autocomplete套件 -->
                        <!-- [data-clear="textbox"]: 套用清除按鈕功能，標示此為文字輸入框 -->
                        <input id="keyword" type="search" class="o-actionbox__input o-actionbox__input--shadow" data-clear="textbox" placeholder="請輸入代碼或名稱">
                        <button type="submit" class="o-actionbox__btn o-actionbox__btn--magnifier"></button>
                        <!-- [data-clear="button"]: 套用清除按鈕功能，標示此為清除按鈕 -->
                        <button type="button" class="o-actionbox__clear" data-clear="button">清除</button>
                    </div>
                </div>
                <!-- .u-hidden: 隱藏不顯示 -->
                <div class="c-siteSearch__advance u-hidden">
                    <a href="javascript:;" class="o-btn o-btn--primary o-btn--icon">
                        進階搜尋
                        <img src="~/themes/images/icons/white/corner-right.svg" class="o-btn__icon o-btn__icon--xs" alt="進階搜尋">
                    </a>
                </div>
            </search>
        </div>
        <div class="l-siteSearch__keyword">
            <div class="c-hotword">
                <div class="c-hotword__title">@Html.Sitecore().Field(Templates.SearchBar.Fields.Title.ToString(), Model.DataSource)</div>
                <div class="c-hotword__list">
                    @foreach (var item in Model.HotKeyWords)
                    {
                        var template = item.TargetItem(Templates.SourceItem.Fields.FieldTemplate);
                        var source = item.TargetItem(Templates.SourceItem.Fields.Datasource);
                        var link = item.TargetItem(Templates.SourceItem.Fields.LinkItem)?.Url();
                        var val = item.GetFieldValue(Templates.SourceItem.Fields.LinkText);
                        <ul class="l-tag u-hidden" data-hot-val="@val">
                            @foreach (var tag in source.GetMultiListValueItems(template.ID))
                            {
                                var name = tag.GetFieldValue("Tag Name");
                                var url = link + "?HotKeyWord=" + name;
                                <li class="l-tag__item">
                                    <a href="@url" class="o-capsule">@name</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<template id="tmplKeywordNotFound">
    <div class="c-empty">
        <div class="c-empty__img">
            <img src="~/themes/images/lions/lion-keyword.svg" alt="">
        </div>
        <div class="c-empty__desc">哎呀！沒找到耶...<br>試試看其他關鍵字吧</div>
    </div>
</template>
<script>
    (function ($, window, document) {

        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }
           
            // 搜尋全部，隱藏進階搜尋
            $('#SearchCategory').on('change', function (e) {
                let option = $(this).find(":selected");
                SC_DATA.KeywordSearch_Option = option;
                $('.c-siteSearch__advance').toggleClass('u-hidden', option.data('advance-hidden'))
                    .off('click', advanceOnClick).on('click', advanceOnClick);

                function advanceOnClick() {
                    redirect(option.data('advance-url'));
                }

                $('[data-hot-val]').each(function (i, item) {
                    $(item).toggleClass('u-hidden', $(item).data('hot-val') != option.text());
                });
                   
            }).trigger('change');

            // Get the input field
            var input = document.getElementById('keyword');

            // Execute a function when the user presses a key on the keyboard
            input.addEventListener('keypress', function (event) {
                // If the user presses the "Enter" key on the keyboard
                if (event.key === 'Enter') {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    keywordSearch();
                }
            });

            $('.o-actionbox__btn', '.c-siteSearch__keyword').on('click', keywordSearch);

            function keywordSearch() {
                let option = SC_DATA.KeywordSearch_Option;
                redirect(option.data('advance-url') + '?keyword=' + input.value);
            }

            function redirect(url) {
                location.href = new URL(location.origin + url.replace(location.origin, ''));
            }

            const keywordSearchSampleDate = [{
                value: '統一黑馬基金',
                data: {
                    type: '基金',
                    isLogin: JSON.parse('true'),
                    isLike: JSON.parse('true'),
                    detailUrl: './fund/detail.html',
                    purchase: true
                }
                }, {
                    value: 'GLOBAL X機器人與人工智慧ETF',
                    data: {
                        type: 'ETF',
                        isLogin: JSON.parse('true'),
                        isLike: false,
                        detailUrl: 'https://wms.firstbank.com.tw/main.asp?sUrl=$etfweb$html$et011001.djhtm?xyz=1704969638740?|&openexternalbrowser=1&ETFID=BOT^~EF40',
                        purchase: true
                    }
                }, {
                    value: 'Alcoa美國鋁業公司',
                    data: {
                        type: '國外股票',
                        isLogin: JSON.parse('true'),
                        isLike: false,
                        detailUrl: 'https://wms.firstbank.com.tw/main.asp?sUrl=https:$$wms.firstbank.com.tw$b2brwd$page$16005$basic$0001?sym=aa&symidxq=aa.us&symidbsr=aa.us&stsst=16005&bid=eg49&openExternalBrowser=1',
                        purchase: true
                    }
                }, {
                    value: '澳盛銀行集團可買回人民幣配息債券',
                    data: {
                        type: '國外債券',
                        isLogin: JSON.parse('true'),
                        isLike: false,
                        purchase: true
                    }
                }, {
                    value: '摩根士丹利12個月DRA不保本結構型商品',
                    data: {
                        type: '結構型商品',
                        isLogin: JSON.parse('true'),
                        isLike: null,
                        detailUrl: 'https://wms.firstbank.com.tw/main.asp?sUrl=$w$custom$structproductlist.djhtm?openExternalBrowser=1',
                        purchase: false
                    }
                }];

            // 關鍵字搜尋 autocomplete，參考套件：https://github.com/devbridge/jQuery-Autocomplete
            $('#keyword').autocomplete({
                noCache: true,
                minChars: 0,
                containerClass: 'autocomplete-suggestions autocomplete-suggestions--keyword',
                maxHeight: 'auto',
                zIndex: 5,
                preserveInput: true,
                showNoSuggestionNotice: true,
                noSuggestionNotice: $('#tmplKeywordNotFound').html(),
                lookup: function (query, done) {
                    // Do Ajax call or lookup locally, when done,
                    // call the callback and pass your results:
                    //query = query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, "\\$&");
                    //let result = keywordSearchSampleDate.filter(function (item) {
                    //    return query.length == 0 || new RegExp(query, 'gi').test(item.value);
                    //});
                    //done({
                    //    suggestions: result
                    //});
                },
                onSearchComplete: function (query, suggestions) {
                    var autocomplete = $(this).autocomplete();
                    var container = autocomplete.suggestionsContainer;
                    var $this = $(this);

                    // 取消套件預設 blur 事件會關閉 suggestions container
                    $this.off('blur.autocomplete');

                    // 綁定 window click 事件，點擊頁面其他的地方時可關閉 suggestions container
                    if (autocomplete.isRegisteGlobalEvent != true) {
                        $(window).on('click.autocomplete', {
                            source: this
                        }, e => {
                            if (e.target != e.data.source) {
                                autocomplete.hide();
                            }
                        });
                        autocomplete.isRegisteGlobalEvent = true;
                    }

                    // 停止 like icon 冒泡，避免觸發 autocomplete 的 select 事件，導致 suggestions container 被關閉
                    $(container).find('.o-statusBtn').off('click.autocomplete').on('click.autocomplete', function (e) {
                        e.stopPropagation();
                    });
                    // 綁定 like icon 的互動功能
                    $(container).find('[data-ia]').interactive();
                    // 綁定 like icon 的彈跳登入畫面
                    $(container).find('[data-popup]').magnificPopup();
                },
                formatResult: function (suggestion, currentValue) {
                    let detailUrl = suggestion.data.detailUrl ? suggestion.data.detailUrl : '#';
                    let className = suggestion.data.isLike ? 'is-active' : '';

                    // like 按鈕
                    let likeWord = suggestion.data.isNews ? '加入收藏|取消收藏' : '加入關注|取消關注';
                    let $like = suggestion.data.isLike != null ? suggestion.data.isLogin == true ?
                        // <!-- [data-ia]: 展示 icon 的互動操作功能 -->
                        `<a href="#" class="o-statusBtn o-statusBtn--like ${className}" data-msg="${likeWord}" data-ia="true"></a>` :
                        // <!-- [data-popup]: 未登入開啟登入彈跳視窗 -->
                        `<a href="#popupLogin" class="o-statusBtn o-statusBtn--like ${className}" data-popup="true"><i></i></a>` : '';

                    // 申購按鈕
                    let $purchase = suggestion.data.purchase ? suggestion.data.isLogin == true ? `<div class="c-itemKeyword__actions"><a href="#popupPurchase" class="o-btn o-btn--primary o-btn--auto o-btn--thinest" data-popup="true">申購</a></div>` : `<div class="c-itemKeyword__actions"><a href="#popupLogin" class="o-btn o-btn--primary o-btn--auto o-btn--thinest" data-popup="true">申購</a></div>` : '';
                    return `<div class="c-itemKeyword">
                    <a href="${detailUrl}" class="c-itemKeyword__content">
                        <div class="c-itemKeyword__type">${suggestion.data.type}</div>
                        <div class="c-itemKeyword__title">${$.Autocomplete.defaults.formatResult(suggestion, currentValue)}</div>
                    </a>
                    <div class="c-itemKeyword__collections">${$like}</div>
                    ${$purchase}
                </div>`;
                }
            });
        });

    })(jQuery, window, document);

</script>